{% extends "/Faculty-Home-Page/Personal-Data-Management-Page/PDM-Basic-Details.html" %}{% block title %}Educational Background{% endblock %} {% block breadcrumb_title %}<h1>Educational Background</h1>{% endblock %}{% block PDMcontent%}


<div class="row">
    <div class="col-lg-12">

      <div class="card d-flex">
        <div class="card-body">
            <h6 class="card-title">Educational Background</h6>
            <div class="col-xl-12">
                <div class="card-body pt-3">
                  <!-- Bordered Tabs -->
                  
                  <ul class="nav nav-tabs nav-tabs-bordered">
    
                    <li class="nav-item">
                      <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Educational Background</button>
                    </li>
    
                    <li class="nav-item">
                      <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-basic-details">Edit</button>
                    </li>
    
                  </ul>
    
                  <div class="tab-content pt-2">
    
                    <div class="tab-pane fade show active profile-overview" id="profile-overview">
                 
                      <h5 class="card-title fw-bold">Elementary Education</h5>
    
                      <div class="row">
                        <div class="col-lg-3 col-md-4 label ">Name of School</div>
                        <div class="col-lg-9 col-md-8"></div>
                      </div>
    
                      <div class="row">
                        <div class="col-lg-3 col-md-4 label">Period of Attendance</div>
                        <div class="col-lg-9 col-md-8"></div>
                      </div>
    
                      <div class="row">
                        <div class="col-lg-3 col-md-4 label">Year Graduated</div>
                        <div class="col-lg-9 col-md-8"></div>
                      </div>
    
                      <div class="row">
                        <div class="col-lg-3 col-md-4 label">Scholarship/Academic Honors Received</div>
                        <div class="col-lg-9 col-md-8"></div>
                      </div>

                      <h5 class="card-title fw-bold">Secondary Education</h5>
    
                      <div class="row">
                        <div class="col-lg-3 col-md-4 label ">Name of School</div>
                        <div class="col-lg-9 col-md-8"></div>
                      </div>
    
                      <div class="row">
                        <div class="col-lg-3 col-md-4 label">Period of Attendance</div>
                        <div class="col-lg-9 col-md-8"></div>
                      </div>
    
                      <div class="row">
                        <div class="col-lg-3 col-md-4 label">Year Graduated</div>
                        <div class="col-lg-9 col-md-8"></div>
                      </div>
    
                      <div class="row">
                        <div class="col-lg-3 col-md-4 label">Scholarship/Academic Honors Received</div>
                        <div class="col-lg-9 col-md-8"></div>
                      </div>

                      <h5 class="card-title fw-bold">College Education</h5>
    
                      <div class="row">
                        <div class="col-lg-3 col-md-4 label ">Name of School</div>
                        <div class="col-lg-9 col-md-8"></div>
                      </div>

                      <div class="row">
                        <div class="col-lg-3 col-md-4 label ">Basic Education/Degree/Course <span class="text-muted fst-italic">(write in full)</span></div>
                        <div class="col-lg-9 col-md-8"></div>
                      </div>
    
                      <div class="row">
                        <div class="col-lg-3 col-md-4 label">Period of Attendance</div>
                        <div class="col-lg-9 col-md-8"></div>
                      </div>

                      <div class="row">
                        <div class="col-lg-3 col-md-4 label ">Highest Level/Units Earned <span class="text-muted fst-italic">(if not graduated)</span></div>
                        <div class="col-lg-9 col-md-8"></div>
                      </div>
    
                      <div class="row">
                        <div class="col-lg-3 col-md-4 label">Year Graduated</div>
                        <div class="col-lg-9 col-md-8"></div>
                      </div>
    
                      <div class="row">
                        <div class="col-lg-3 col-md-4 label">Scholarship/Academic Honors Received</div>
                        <div class="col-lg-9 col-md-8"></div>
                      </div>         
                    </div>
    
                    <div class="tab-pane fade profile-edit pt-2" id="profile-basic-details">
    
                      <!-- Profile Edit Form -->
                      <form method="POST" enctype="multipart/form-data" accept-charset="utf-8">
                        <h5 class="card-title">Encode the necessary details then click the 
                          <p class="btn btn-primary btn-sm" style="position:relative; top:6px">
                            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512" style="fill:#ffffff;position:relative; bottom:2px">
                              <path d="M433.941 129.941l-83.882-83.882A48 48 0 0 0 316.118 32H48C21.49 32 0 53.49 0 80v352c0 26.51 21.49 48 48 48h352c26.51 0 48-21.49 48-48V163.882a48 48 0 0 0-14.059-33.941zM224 416c-35.346 0-64-28.654-64-64 0-35.346 28.654-64 64-64s64 28.654 64 64c0 35.346-28.654 64-64 64zm96-304.52V212c0 6.627-5.373 12-12 12H76c-6.627 0-12-5.373-12-12V108c0-6.627 5.373-12 12-12h228.52c3.183 0 6.235 1.264 8.485 3.515l3.48 3.48A11.996 11.996 0 0 1 320 111.48z"/>
                            </svg>
                            Save</p>
                         button below.</h5>
                      
                         <h5 class="card-title fw-bold">Elementary Education</h5>
    
                        <div class="row mb-3">
                          <label for="SchoolName" class="col-md-4 col-lg-3 col-form-label">Name of School</label>
                          <div class="col-md-8 col-lg-9">
                            <input name="SchoolName" type="text" class="form-control" id="employee_no" value="" >
                          </div>
                        </div>
    
                        <div class="row mb-3">
                          <label for="AttendancePeriod" class="col-md-4 col-lg-3 col-form-label">Period of Attendance</label>
                          <div class="col-md-8 col-lg-9">
                            <input name="AttendancePeriod" type="text" class="form-control" id="faculty_code" value="">
                          </div>
                        </div>
    
                        
                        <div class="row mb-3">
                          <label for="YearGraduated" class="col-md-4 col-lg-3 col-form-label">Year Graduated</label>
                          <div class="col-md-8 col-lg-9">
                            <input name="YearGraduated" type="text" class="form-control" id="honorific" value="">
                          </div>
                        </div>
    
                        <div class="row mb-3">
                          <label for="Scholarshi_Honor" class="col-md-4 col-lg-3 col-form-label">Scholarship/Academic Honor Received</label>
                          <div class="col-md-8 col-lg-9">
                            <input name="Scholarshi_Honor" type="text" class="form-control" id="lastname" value="">
                          </div>
                        </div>
                        
                        <h5 class="card-title fw-bold">Secondary Education</h5>
    
                        <div class="row mb-3">
                          <label for="SchoolName" class="col-md-4 col-lg-3 col-form-label">Name of School</label>
                          <div class="col-md-8 col-lg-9">
                            <input name="SchoolName" type="text" class="form-control" id="employee_no" value="" >
                          </div>
                        </div>
    
                        <div class="row mb-3">
                          <label for="AttendancePeriod" class="col-md-4 col-lg-3 col-form-label">Period of Attendance</label>
                          <div class="col-md-8 col-lg-9">
                            <input name="AttendancePeriod" type="text" class="form-control" id="faculty_code" value="">
                          </div>
                        </div>
    
                        
                        <div class="row mb-3">
                          <label for="YearGraduated" class="col-md-4 col-lg-3 col-form-label">Year Graduated</label>
                          <div class="col-md-8 col-lg-9">
                            <input name="YearGraduated" type="text" class="form-control" id="honorific" value="">
                          </div>
                        </div>
    
                        <div class="row mb-3">
                          <label for="Scholarshi_Honor" class="col-md-4 col-lg-3 col-form-label">Scholarship/Academic Honor Received</label>
                          <div class="col-md-8 col-lg-9">
                            <input name="Scholarshi_Honor" type="text" class="form-control" id="lastname" value="">
                          </div>
                        </div>
    
                        <h5 class="card-title fw-bold">College Education</h5>
    
                        <div class="row mb-3">
                          <label for="SchoolName" class="col-md-4 col-lg-3 col-form-label">Name of School</label>
                          <div class="col-md-8 col-lg-9">
                            <input name="SchoolName" type="text" class="form-control" id="employee_no" value="" >
                          </div>
                        </div>

                        <div class="row mb-3">
                          <label for="AttendancePeriod" class="col-md-4 col-lg-3 col-form-label">Basic Education/Degree/Course <span class="text-muted fst-italic">(write in full)</span></label>
                          <div class="col-md-8 col-lg-9">
                            <input name="AttendancePeriod" type="text" class="form-control" id="faculty_code" value="">
                          </div>
                        </div>
    
                        <div class="row mb-3">
                          <label for="AttendancePeriod" class="col-md-4 col-lg-3 col-form-label">Period of Attendance</label>
                          <div class="col-md-8 col-lg-9">
                            <input name="AttendancePeriod" type="text" class="form-control" id="faculty_code" value="">
                          </div>
                        </div>

                        <div class="row mb-3">
                          <label for="AttendancePeriod" class="col-md-4 col-lg-3 col-form-label">Highest Level/Units earned <span class="text-muted fst-italic">(if not graduated)</span></label>
                          <div class="col-md-8 col-lg-9">
                            <input name="AttendancePeriod" type="text" class="form-control" id="faculty_code" value="">
                          </div>
                        </div>
                        
                        <div class="row mb-3">
                          <label for="YearGraduated" class="col-md-4 col-lg-3 col-form-label">Year Graduated</label>
                          <div class="col-md-8 col-lg-9">
                            <input name="YearGraduated" type="text" class="form-control" id="honorific" value="">
                          </div>
                        </div>
    
                        <div class="row mb-3">
                          <label for="Scholarshi_Honor" class="col-md-4 col-lg-3 col-form-label">Scholarship/Academic Honor Received</label>
                          <div class="col-md-8 col-lg-9">
                            <input name="Scholarshi_Honor" type="text" class="form-control" id="lastname" value="">
                          </div>
                        </div>
                        
                        <div class="text-center">
                          <button type="submit" class="btn btn-primary">
                            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512" style="fill:#ffffff;position:relative; bottom:2px"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M433.941 129.941l-83.882-83.882A48 48 0 0 0 316.118 32H48C21.49 32 0 53.49 0 80v352c0 26.51 21.49 48 48 48h352c26.51 0 48-21.49 48-48V163.882a48 48 0 0 0-14.059-33.941zM224 416c-35.346 0-64-28.654-64-64 0-35.346 28.654-64 64-64s64 28.654 64 64c0 35.346-28.654 64-64 64zm96-304.52V212c0 6.627-5.373 12-12 12H76c-6.627 0-12-5.373-12-12V108c0-6.627 5.373-12 12-12h228.52c3.183 0 6.235 1.264 8.485 3.515l3.48 3.48A11.996 11.996 0 0 1 320 111.48z"/></svg>
                            Save</button>
                        </div>
                      </form><!-- End Profile Edit Form -->
    
                    </div>
    
                  </div>
    
                  </div><!-- End Bordered Tabs -->
    
                </div>
            </div>

            <div class="card-title ms-sm-1 fw-bold">Additional Education</div>
            <h6 class="ms-sm-1">Click the button 
              <button type="button" class="btn btn-sm btn-outline-primary rounded-pill"><i class="bi bi-file-earmark-text" style="position:relative;bottom:3px"></i></button>
                to edit the record, or  
                <button type="button" class="btn btn-sm btn-outline-danger rounded-pill"><i class="bi bi-trash" style="position:relative;bottom:3px"></i></button> 
                to delete the record.
              </h6>
              <br>
              <br>
              <br>

          <div class="table-responsive">
            <!-- Table with stripped rows -->
          <table id="myTable" class="table-striped table-borderless table datatable">
            <thead>
              <tr>
                <th scope="col">Level</th>
                <th class="w-50" scope="col">School Name</th>
                <th scope="col">Basic Education/Degree/Course
                  <br>
                  <span class="text-muted fst-italic">(write in full)</span></th>
                <th scope="col">Period of Attendance</th>
                <th scope="col">Highest Level/units earned
                  <br>
                 <span class="text-muted fst-italic">if not graduated</span></th>
                <th scope="col">Year Graduated</th>
                <th scope="col">Scholarship/Academic Honors Received</th>
                <th scope="col">Proof</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
          {% for data in user.FISPDS_EducationalBackground %}
              {% if data.school_name != None %}
              <tr>
                <th scope="row" class="fw-bold">
                  {% if data.level == "Elementary" %}
                      Elementary
                  {% elif data.level == "Secondary" %}
                      Secondary
                  {% elif data.level == "Vocational/Trade Course" %}
                      Vocational/Trade Course
                  {% elif data.level == "College" %}
                      College
                  {% elif data.level == "Graduate Studies" %}
                      Graduate Studies
                  {% endif %}
              </th>
                <td>{{data.school_name}}</td>
                <td></td>
                <td>{{data.from_date }} - {{data.to_date}} </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                  <button type="submit" class="btn btn-outline-danger rounded-pill" data-bs-toggle="modal" data-bs-target="#d{{data.id}}"><i class="bi bi-trash"></i></button>
                  <button type="button" class="btn btn-outline-primary rounded-pill" data-bs-toggle="modal" data-bs-target="#{{data.id}}"><i class="bi bi-file-earmark-text"></i></button>
                </td>
              </tr>

                 <!-- Edit Record Modal-->

                 <div class="modal fade" id="{{data.id}}" tabindex="-1">
                  <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">Edit Record</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">

                <form action="/PDM-Educational-Background" method="POST" enctype="multipart/form-data" accept-charset="utf-8" class="row g-3">
                        <br>
                        <div class="col-md-10">
                          <div class="form-floating">
                            <input type="text" name="school_name" class="form-control" id="floatingschool_name" placeholder="School Name" value="{{data.school_name}}" required>
                            <label for="floatingschool_name">School Name</label>
                          </div>
                        </div>
                        <br>
                        <div class="col-md-10">
                          <div class="form-floating">
                            <input type="text" name="Degree" class="form-control" id="floatingDegree" placeholder="Degree/Course" value="" required>
                            <label for="floatingDegree">Basic Education/Degree/Course</label>
                          </div>
                        </div>
                        <br>
                        <div class="col-md-10">
                          <div class="form-floating">
                            <input type="text" name="AcademicHonor" class="form-control" id="floatingAcademicHonor" placeholder="Academic/Honor" value="" required>
                            <label for="floatingAcademicHonor">Scholarship/Academic Honor Receive</label>
                          </div>
                        </div>

                        <br>
                        <div class="col-md-10">
                          <div class="form-floating">
                            <select class="form-select" name="level" aria-label="Level">
                              <option selected="">{{data.level}}</option>
                              <option value="Vocational/Trade Course">Vocational/Trade Course</option>
                              <option value="Graduate Studies">Graduate Studies</option>
                            </select>
                            <label for="floatingschool_name">Level</label>
                          </div>
                      </div> 
                      <br>
                      <h5 class="modal-title">Date</h5>
                      <br>
                      <div class="col-md-10">
                        <div class="form-floating">
                          <input type="date" name="from_date"  class="form-control" id="floating_from" placeholder="From" value="{{data.from_date}}" required>
                          <label for="floating_level">From</label>
                        </div>
                    </div> 
                    <br>
                    <div class="col-md-10">
                      <div class="form-floating">
                        <input type="date" name="to_date"  class="form-control" id="floating_to" placeholder="To" value="{{data.to_date}}" required>
                        <label for="floating_level">To</label>
                      </div>
                    </div>
                  <br> 
                      </div>
                      <div class="modal-footer">
                        <input type="hidden" name="id" value="{{data.id}}"></input>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="bi bi-x-circle"></i> Cancel</button>
                        <button type="submit" class="btn btn-primary"><i class="bi bi-check-circle"></i> Update</button>
                      </div>
                </form>
                    </div>
                  </div>
                </div><!-- End Edit Record Modal-->
              

                <!-- Delete Record Modal-->
              
                <div class="modal fade" id="d{{data.id}}" tabindex="-1">
                  <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">Delete Record</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                      <form action="/PDM-Educational-Background/delete-record" method="POST" enctype="multipart/form-data" accept-charset="utf-8">
                          <input type="hidden" name="id" value="{{data.id}}"></input>
                        <h5 class="modal-title">Are you sure you want to delete this record?</h5>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="bi bi-x-circle"></i> Cancel</button>
                          <button type="submit" class="btn btn-primary"><i class="bi bi-check-circle"></i> Confirm</button>
                        </div>
                    </form>
                      </div>
                    </div>
                  </div>
                </div><!-- End Delete Record Modal-->

            {% else %}
           
            {% endif %}

          {% endfor %}  
            </tbody>
          </table>
          <!-- End Table with stripped rows -->
          </div>

          <div class="d-grid gap-2 mt-3">
            <button class="btn btn-outline-primary" type="button" data-bs-toggle="modal" data-bs-target="#addrecord"><i class="bi bi-plus-circle"></i> Add New Record</button>
          </div>

               <!-- Add Record Modal-->

               <div class="modal fade" id="addrecord" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Add Record</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

              <form action="/PDM-Educational-Background/add-record" method="POST" enctype="multipart/form-data" accept-charset="utf-8" class="row g-3">

                        <div class="col-md-10">
                          <div class="form-floating">
                            <select class="form-select" name="level" aria-label="Level">
                              <option value="Select Level" selected>Select Level</option>
                              <option value="Vocational/Trade Course">Vocational/Trade Course</option>
                              <option value="Graduate Studies">Graduate Studies</option>
                            </select>
                            <label for="floatingschool_name">Level</label>
                          </div> 
                        </div>
                        <div class="col-md-10">
                          <div class="form-floating">
                            <input type="text" name="school_name" class="form-control" id="floatingschool_name" placeholder="School Name" required>
                            <label for="floatingschool_name">School Name</label>
                          </div>
                        </div>
                        <br>
                        <div class="col-md-10">
                          <div class="form-floating">
                            <input type="text" name="Degree" class="form-control" id="floatingDegree" placeholder="Degree/Course">
                            <label for="floatingDegree">Basic Education/Degree/Course</label>
                          </div>
                        </div>
                        <br>
                        <div class="col-md-10">
                          <div class="form-floating">
                            <input type="number" name="UnitsEarned" class="form-control" id="floatingUnitsEarned" placeholder="Units Earned">
                            <label for="floatingUnitsEarned">Units Earned</label>
                          </div>
                        </div>
                        <div class="col-md-10">
                          <div class="form-floating">
                              <select class="form-select" name="YearGraduated" aria-label="Year Graduated">
                                  <!-- Loop through years from 1900 to 2024 and create options -->
                                  {% for year in range(1900, 2025) %}
                                      <option value="{{ year }}">{{ year }}</option>
                                  {% endfor %}
                              </select>
                              <label for="YearGraduated">Year Graduated</label>
                          </div> 
                      </div>
                      
                        <div class="col-md-10">
                          <div class="form-floating">
                            <input type="text" name="AcademicHonor" class="form-control" id="floatingAcademicHonor" placeholder="Academic/Honor">
                            <label for="floatingAcademicHonor">Scholarship/Academic Honor Received</label>
                          </div>
                        </div>
                        <br>
                        <h5 class="modal-title">Proof</h5>
                        <div class="col-sm-10 mt-0">
                            <input class="form-control" type="file" id="formFile" placeholder="Proof">
                        </div>

                      <h5 class="modal-title">Date</h5>
                      <div class="col-md-10">
                        <div class="form-floating">
                          <input type="date" name="from_date"  class="form-control" id="floating_from" placeholder="From">
                          <label for="floating_level">From</label>
                        </div>
                    </div> 
                    <div class="col-md-10">
                      <div class="form-floating">
                        <input type="date" name="to_date"  class="form-control" id="floating_to" placeholder="To">
                        <label for="floating_level">To</label>
                      </div>
                    </div> 
                    </div>
                    
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="bi bi-x-circle"></i> Cancel</button>
                      <button type="submit" class="btn btn-primary"><i class="bi bi-plus-circle"></i> Add</button>
              </form>
                    </div>
                  </div>
                </div>
              </div><!-- End Add Record Modal-->

            {% include "/Faculty-Home-Page/Personal-Data-Management-Page/Privacy-Notice.html" %}   

        </div>
      </div>

    </div>
  </div>



{% endblock %}