{% extends "/Faculty-Home-Page/Personal-Data-Management-Page/PDM-Basic-Details.html" %}{% block title %}Work Experience{% endblock %} {% block breadcrumb_title %}<h1>Work Experience</h1>{% endblock %}{% block PDMcontent%}


<div class="row">
    <div class="col-lg-12">

      <div class="card">
        <div class="card-body">
            <h6 class="card-title">Included designations and private employment. Start from your current work.</h6>
            <h6 class="">Click the button 
              <button type="button" class="btn btn-sm btn-outline-primary rounded-pill"><i class="bi bi-file-earmark-text" style="position:relative;bottom:3px"></i></button>
                to edit the record, or  
                <button type="button" class="btn btn-sm btn-outline-danger rounded-pill"><i class="bi bi-trash" style="position:relative;bottom:3px"></i></button> 
                to delete the record.
              </h6>
              <br>
              <br>
              <br>
          <!-- Table with stripped rows -->
          <table id="myTable" class="table-striped table-borderless table datatable">
            <thead>
              <tr>
                <th class="w-50" scope="col">Position Title</th>
                <th scope="col">Company Name</th>
                <th scope="col">Inclusive Date</th>
                <th scope="col">Employment Status</th>
                <th scope="col">Proof</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              {% for data in user.FISPDS_WorkExperience %}
              {% if data.position != None %}
              <tr>
                <th scope="row">{{data.position}}</th>
                <td>{{data.company_name}}</td>
                <td>{{data.from_date }} - {{data.to_date}}</td>
                <td>{{data.status}}</td>
                <td></td>
                <td>
                  <button type="submit" class="btn btn-outline-danger rounded-pill" data-bs-toggle="modal" data-bs-target="#d{{data.id}}"><i class="bi bi-trash"></i></button>
                  <button type="button" class="btn btn-outline-primary rounded-pill" data-bs-toggle="modal" data-bs-target="#{{data.id}}"><i class="bi bi-file-earmark-text"></i></button>
              </td>
              </tr>

               <!-- Edit Record Modal-->

               <div class="modal fade" id="{{data.id}}" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Edit Record</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

              <form action="/PDM-Work-Experience" method="POST" enctype="multipart/form-data" accept-charset="utf-8" class="row g-3">
                      <br>
                      <div class="col-md-10">
                        <div class="form-floating">
                          <input type="text" name="position" class="form-control" id="floating_position" placeholder="Position" value="{{data.position}}" required>
                          <label for="floating_position">Position</label>
                        </div>
                      </div>  
                      <br>   
                      <div class="col-md-10">
                        <div class="form-floating">
                          <input type="text" name="company_name" class="form-control" id="floating_company_name" placeholder="Company Name" value="{{data.company_name}}" required>
                          <label for="floating_company_name">Company Name</label>
                        </div>
                      </div> 
                      <br> 
                       <div class="col-md-10">
                          <div class="form-floating">
                            <select name="status" class="form-control" id="floating_status" required>
                                <option value="" selected disabled>Select your Status</option>
                                <option value="Employee">Employee</option>
                                <option value="Self-employed">Self-employed</option>
                                <option value="Full-time">Full-time</option>
                                <option value="Part-time">Part-time</option>
                                <option value="Temporary">Temporary</option>
                                <option value="Seasonal">Seasonal</option>
                            </select>
                            <label for="floating_status">Employment Status <a class="bi bi-chevron-compact-down"></a></label>
                        </div>   
                      <br>
                      <h5>Proof</h5>
                        <div class="row mb-3">
                          <div class="col-sm-10">
                            <input class="form-control" type="file" id="formFile">
                          </div>
                        </div>
                      <h5 class="modal-title">Date</h5>
                      <br>
                      <div class="col-md-10">
                        <div class="form-floating">
                          <input type="date" name="from_date"  class="form-control" id="floating_from" placeholder="From" value="{{data.from_date}}" required>
                          <label for="floating_from">From</label>
                        </div>
                    </div> 
                    <br>
                    <div class="col-md-10">
                      <div class="form-floating">
                        <input type="date" name="to_date"  class="form-control" id="floating_to" placeholder="To" value="{{data.to_date}}" required>
                        <label for="floating_to">To</label>
                      </div>
                  </div>
                  <br> 
                    </div>
                    <div class="modal-footer">
                      <input type="hidden" name="id" value="{{data.id}}"></input>
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="bi bi-x-circle"></i> Cancel</button>
                      <button type="submit" class="btn btn-primary"><i class="bi bi-check-circle"></i> Update</button>
                    </div>
              </form>
                  </div>
                </div>
              </div><!-- End Edit Record Modal-->
            

              <!-- Delete Record Modal-->
            
              <div class="modal fade" id="d{{data.id}}" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Delete Record</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    <form action="/PDM-Work-Experience/delete-record" method="POST" enctype="multipart/form-data" accept-charset="utf-8">
                        <input type="hidden" name="id" value="{{data.id}}"></input>
                      <h5 class="modal-title">Are you sure you want to delete this record?</h5>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal"><i class="bi bi-x-circle"></i> Cancel</button>
                        <button type="submit" class="btn btn-primary"><i class="bi bi-check-circle"></i> Confirm</button>
                      </div>
                  </form>
                    </div>
                  </div>
                </div>
              </div><!-- End Delete Record Modal-->

            {% else %}
           
            {% endif %}

          {% endfor %}  
            </tbody>
          </form>
          </table>
          <!-- End Table with stripped rows -->

           <div class="d-grid gap-2 mt-3">
            <button class="btn btn-outline-primary" type="button" data-bs-toggle="modal" data-bs-target="#addrecord"><i class="bi bi-plus-circle"></i> Add New Record</button>
          </div>

               <!-- Add Record Modal-->

               <div class="modal fade" id="addrecord" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Add Record</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

              <form action="/PDM-Work-Experience/add-record" method="POST" enctype="multipart/form-data" accept-charset="utf-8" class="row g-3">

                        <div class="col-md-10">
                          <div class="form-floating">
                            <input type="text" name="position" class="form-control" id="floating_position" placeholder="Position" required>
                            <label for="floating_position">Position</label>
                          </div>
                        </div>
                        <div class="col-md-10">
                          <div class="form-floating">
                            <input type="text" name="company_name" class="form-control" id="floating_company_name" placeholder="Company Name" required>
                            <label for="floating_company_name">Company Name</label>
                          </div>
                        </div>
                        <div class="col-md-10">
                          <div class="form-floating">
                            <select name="status" class="form-control" id="floating_status" required>
                                <option value="" selected disabled>Select your Status</option>
                                <option value="Employee">Employee</option>
                                <option value="Self-employed">Self-employed</option>
                                <option value="Full-time">Full-time</option>
                                <option value="Part-time">Part-time</option>
                                <option value="Temporary">Temporary</option>
                                <option value="Seasonal">Seasonal</option>
                            </select>
                            <label for="floating_status">Employment Status <a class="bi bi-chevron-compact-down"></a></label>
                        </div>
                        </div>
                        <h5>Proof</h5>
                        <div class="row mb-3">
                          <div class="col-sm-10">
                            <input class="form-control" type="file" id="formFile">
                          </div>
                        </div>
                        <h5 class="modal-title">Date</h5>
                        <div class="col-md-10">
                          <div class="form-floating">
                            <input type="date" name="from_date"  class="form-control" id="floating_from" placeholder="From" required>
                            <label for="floating_from">From</label>
                          </div>
                      </div> 
                      <div class="col-md-10">
                        <div class="form-floating">
                          <input type="date" name="to_date"  class="form-control" id="floating_to" placeholder="To" required>
                          <label for="floating_to">To</label>
                        </div>
                    </div> 
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="bi bi-x-circle"></i> Cancel</button>
                      <button type="submit" class="btn btn-primary"><i class="bi bi-plus-circle"></i> Add</button>
              </form>
                    </div>
                  </div>
                </div>
              </div><!-- End Add Record Modal-->

            {% include "/Faculty-Home-Page/Personal-Data-Management-Page/Privacy-Notice.html" %}   

        </div>
      </div>

    </div>
  </div>

{% endblock %}