{% extends "/Faculty-Home-Page/Personal-Data-Management-Page/PDM-Basic-Details.html" %}{% block title %}Family Background{% endblock %} {% block PDMcontent%}

    <div class="row">
      <div class="col-lg-12">

        <div class="card">
          <div class="card-body">
            <h6 class="card-title">Family Background</h6>
            <h6 class="">Click the button 
                <button type="button" class="btn btn-sm btn-outline-primary rounded-pill"><i class="bi bi-file-earmark-text" style="position:relative;bottom:3px"></i></button>
                  to edit the record, or  
                  <button type="button" class="btn btn-sm btn-outline-danger rounded-pill"><i class="bi bi-trash" style="position:relative;bottom:3px"></i></button> 
                  to delete the record.
                </h6>
                <br>
                <br>
                <br>
            <!-- Table with stripped rows -->
            <table id="myTable" class="table-striped table-borderless table datatable">
              <thead>
                <tr>
                  <th class="w-100" scope="col">Full Name</th>
                  <th scope="col">Relationship</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Brandon Jacob</th>
                  <td>28</td>
                  <td>
                    <button type="button" class="btn btn-outline-danger rounded-pill"><i class="bi bi-trash"></i></button>
                    <button type="button" class="btn btn-outline-primary rounded-pill"><i class="bi bi-file-earmark-text"></i></button>
                </td>
                </tr>
                <tr>
                  <th scope="row">Bridie Kessler</th>
                  <td>35</td>
                  <td>
                    <button type="button" class="btn btn-outline-danger rounded-pill"><i class="bi bi-trash"></i></button>
                    <button type="button" class="btn btn-outline-primary rounded-pill "><i class="bi bi-file-earmark-text"></i></button>
                </td>
                </tr>
                <tr>
                  <th scope="row">Ashleigh Langosh</th>
                  <td>45</td>
                  <td>
                    <button type="button" class="btn btn-outline-danger rounded-pill"><i class="bi bi-trash"></i></button>
                    <button type="button" class="btn btn-outline-primary rounded-pill "><i class="bi bi-file-earmark-text"></i></button>
                </td>
                </tr>
                <tr>
                  <th scope="row">Angus Grady</th>
                  <td>34</td>
                  <td>
                    <button type="button" class="btn btn-outline-danger rounded-pill"><i class="bi bi-trash"></i></button>
                    <button type="button" class="btn btn-outline-primary rounded-pill "><i class="bi bi-file-earmark-text"></i></button>
                </td>
                </tr>
                <tr>
                  <th scope="row">Raheem Lehner</th>
                  <td>47</td>
                  <td>
                    <button type="button" class="btn btn-outline-danger rounded-pill"><i class="bi bi-trash"></i></button>
                    <button type="button" class="btn btn-outline-primary rounded-pill "><i class="bi bi-file-earmark-text"></i></button>
                </td>
                </tr>
                <tr>
                <th scope="row">Kaheem Vehner</th>
                <td>47</td>
                <td>
                    <button type="button" class="btn btn-outline-danger rounded-pill"><i class="bi bi-trash"></i></button>
                    <button type="button" class="btn btn-outline-primary rounded-pill "><i class="bi bi-file-earmark-text"></i></button>
                </td>
                </tr>
                <tr>
                    <th scope="row">Taheem Wehner</th>
                    <td>41</td>
                    <td>
                        <button type="button" class="btn btn-outline-danger rounded-pill"><i class="bi bi-trash"></i></button>
                        <button type="button" class="btn btn-outline-primary rounded-pill "><i class="bi bi-file-earmark-text"></i></button>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Raheem Pehner</th>
                    <td>27</td>
                    <td>
                        <button type="button" class="btn btn-outline-danger rounded-pill"><i class="bi bi-trash"></i></button>
                        <button type="button" class="btn btn-outline-primary rounded-pill "><i class="bi bi-file-earmark-text"></i></button>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Qaheem Lehner</th>
                    <td>33</td>
                    <td>
                        <button type="button" class="btn btn-outline-danger rounded-pill"><i class="bi bi-trash"></i></button>
                        <button type="button" class="btn btn-outline-primary rounded-pill "><i class="bi bi-file-earmark-text"></i></button>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Saheem Kehner</th>
                    <td>24</td>
                    <td>
                        <button type="button" class="btn btn-outline-danger rounded-pill"><i class="bi bi-trash"></i></button>
                        <button type="button" class="btn btn-outline-primary rounded-pill "><i class="bi bi-file-earmark-text"></i></button>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Jaheem Iehner</th>
                    <td>43</td>
                    <td>
                        <button type="button" class="btn btn-outline-danger rounded-pill"><i class="bi bi-trash"></i></button>
                        <button type="button" class="btn btn-outline-primary rounded-pill "><i class="bi bi-file-earmark-text"></i></button>
                    </td>
                  </tr>
              </tbody>
            </table>
            <!-- End Table with stripped rows -->

            <div class="d-grid gap-2 mt-3">
                <button class="btn btn-outline-primary" type="button"><i class="bi bi-plus-circle"></i> Add New Record</button>
              </div>

              {% include "/Faculty-Home-Page/Personal-Data-Management-Page/Privacy-Notice.html" %}   

          </div>
        </div>

      </div>
    </div>

{% endblock %}