{% extends "/Faculty-Home-Page/Personal-Data-Management-Page/PDM-Basic-Details.html" %}{% block title %}Training Seminars{% endblock %} {% block breadcrumb_title %}<h1>Training Seminars</h1>{% endblock %}{% block PDMcontent%}


<div class="row">
    <div class="col-lg-12">

      <div class="card">
        <div class="card-body">
            <h6 class="card-title">Learning and Development Interventions, Training, Seminar, Conference, Workshop, or Short Course Attended</h6>
           
              <br>
              <br>
              <br>
          <!-- Table with stripped rows -->
          <table id="myTable" class="table-striped table-borderless table datatable">

              <thead>
                <tr>
                  <th scope="col">TITLE</th>
                  <th scope="col">INCLUSIVE DATES</th>
                  <th scope="col">NUMBER OF HOURS</th>
                  <th scope="col">CONDUCTED BY</th>
                  <th scope="col">TYPE</th>
                  <th scope="col">PROOF</th>

                </tr>
              </thead>
              <tbody>

                {% for data in user.FISProfessionalDevelopment %}
                {% if data.title != None %}
                      <tr>
                          <td>{{ data.title }}</td>
                          <td>{{ data.date_start }} to {{ data.date_end }}</td>
                          <td>{{ data.hours }} Hour/s</td>
                          <td>{{ data.conducted_by }}</td>
                          <td>{{ data.type }}</td>
                          <td><a href="https://drive.google.com/file/d/{{data.file_id}}/view" target="_blank">View</a></td>
                      </tr>
              {% else %}
    
              {% endif %}

              {% endfor %}

              </tbody>
            </table>
          <!-- End Table with stripped rows -->

               <!-- Add Record Modal-->

               <div class="modal fade" id="addrecord" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Add Record</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

              <form action="/PDM-Training-Seminars/add-record" method="POST" enctype="multipart/form-data" accept-charset="utf-8" class="row g-3">

                        <div class="col-md-10">
                          <div class="form-floating">
                            <input type="text" name="title" class="form-control" id="floating_title" placeholder="Title" required>
                            <label for="floating_title">Title</label>
                          </div>
                        </div>
                        <div class="col-md-10">
                          <div class="form-floating">
                            <input type="text" name="level" class="form-control" id="floating_level" placeholder="Level" required>
                            <label for="floating_level">Level</label>
                          </div>
                        </div>
                        <h5 class="modal-title">Date</h5>
                      <div class="col-md-10">
                          <div class="form-floating">
                            <input type="date" name="from_date"  class="form-control" id="floating_from" placeholder="From" required>
                            <label for="floating_from">From</label>
                          </div>
                      </div> 
                      <div class="col-md-10">
                        <div class="form-floating">
                          <input type="date" name="to_date"  class="form-control" id="floating_to" placeholder="To" required>
                          <label for="floating_to">To</label>
                      </div>
                    </div> 
                    <div class="col-md-10">
                      <div class="form-floating">
                        <input type="number" name="NumberOfHours" class="form-control" id="floatingNumberOfHours" placeholder="Number of Hours" required>
                        <label for="floatingNumberOfHours">Number of Hours</label>
                      </div>
                    </div>
                    <div class="col-md-10">
                      <div class="form-floating">
                        <input type="text" name="TypeOfSeminar" class="form-control" id="floatingSeminarType" placeholder="Type of Seminar or Training" required>
                        <label for="floatingSeminarType">Type of Training/Seminar</label>
                      </div>
                    </div>
                    <div class="col-md-10">
                      <div class="form-floating">
                        <input type="text" name="ConductedBy" class="form-control" id="floatingConductedBy" placeholder="Conducted By" required>
                        <label for="floatingConductedBy">Conducted/Sponsored by</label>
                      </div>
                    </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="bi bi-x-circle"></i> Cancel</button>
                      <button type="submit" class="btn btn-primary"><i class="bi bi-plus-circle"></i> Add</button>
              </form>
                    </div>
                  </div>
                </div>
              </div><!-- End Add Record Modal-->
            {% include "/Faculty-Home-Page/Personal-Data-Management-Page/Privacy-Notice.html" %}   

        </div>
      </div>

    </div>
  </div>


{% endblock %}