
<br>
<br>

<p class="text-muted" style="font-size:10pt">I declare under oath that I have personally accomplished this Personal Data Sheet which is a true, correct and complete statement pursuant to the provisions of pertinent laws, 
  rule and regulations of the Republic of the Philippines.
</p>

<p class="text-muted" style="font-size:10pt" >I authorize the agency head/authorized representative to verify/validate the contents stated herein. I agree that any misrepresentation made in this document and its attachments
  shall cause the filing of administrative/criminal case/s against me.
</p>

<div class="d-block p-2 bg-info text-white rounded">
  <p style="font-size:14pt"><i class="bi bi-info-circle"></i> Data Privacy Notice</p>
  <p style="font-size:10pt">Thank you for providing your data at Polytechnic University of the Philippines Quezon City (PUPQC). We respect and value your rights as a data subject under the Data Privacy Act (DPA). PUPQC is committed
    to protecting the personal data you provide in accordance with the requirements under the DPA and its IRR. In this regard, PUPQC implements reasonable and appropriate security measures to maintain the confidentiality, integrity 
    and availability of your personal data. For more detailed Privacy Statement, you may visit <a href="https://www.pup.edu.ph/privacy/">https://www.pup.edu.ph/privacy/</a>
  </p>
</div>

<br>
