<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{% block title %}Admin Page{% endblock %}</title> 
  <meta content="" name="description">
  <meta content="" name="keywords">

   <!-- Favicons -->
   <link href="{{ url_for('static', filename='images/Default-Images/pupqc-logo.png')}}" rel="icon">
   <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
 
   <!-- Google Fonts -->
   <link href="https://fonts.gstatic.com" rel="preconnect">
   <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  
  <!-- Vendor CSS Files -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
  <link href="https://cdn.quilljs.com/1.3.6/quill.bubble.css" rel="stylesheet">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link href="https://cdn.remixicon.com/releases/v1.2.2/remixicon.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" type="text/css">
 
   <!-- Template Main CSS File -->
 <link rel="stylesheet" href="{{url_for('static', filename='css/homepage/style.css')}}"> {# MAIN HOMEPAGE CSS #}
 <link rel="stylesheet" href="{{url_for('static', filename='css/homepage/PDM-Basic-Details/uploadprofile.css')}}"> {# UPLOAD PROFILE CSS #}
 <link rel="stylesheet" href="{{url_for('static', filename='css/homepage/PDM-Basic-Details/uploadprofile2.css')}}"> {# UPLOAD PROFILE SCSS #}

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="/faculty-home-page" class="logo d-flex align-items-center">
        <img src="{{ url_for('static', filename='images/Default-Images/pupqc-logo.png')}}" alt="PUPQC LOGO">
        <span class="d-none d-lg-block">Admin Page</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <div class="search-bar">
      <form class="search-form d-flex align-items-center">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->

        <li class="nav-item dropdown">

          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-bell"></i>
            <span class="badge bg-primary badge-number">4</span>
          </a><!-- End Notification Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
            <li class="dropdown-header">
              You have 4 new notifications
              <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-exclamation-circle text-warning"></i>
              <div>
                <h4>Lorem Ipsum</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>30 min. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-x-circle text-danger"></i>
              <div>
                <h4>Atque rerum nesciunt</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>1 hr. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-check-circle text-success"></i>
              <div>
                <h4>Sit rerum fuga</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>2 hrs. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-info-circle text-primary"></i>
              <div>
                <h4>Dicta reprehenderit</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>4 hrs. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>
            <li class="dropdown-footer">
              <a href="#">Show all notifications</a>
            </li>

          </ul><!-- End Notification Dropdown Items -->

        </li><!-- End Notification Nav -->

        <li class="nav-item dropdown">

          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-chat-left-text"></i>
            <span class="badge bg-success badge-number">3</span>
          </a><!-- End Messages Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
            <li class="dropdown-header">
              You have 3 new messages
              <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="message-item">
              <a href="#">
                <img src="assets/img/messages-1.jpg" alt="" class="rounded-circle">
                <div>
                  <h4>Maria Hudson</h4>
                  <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                  <p>4 hrs. ago</p>
                </div>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="message-item">
              <a href="#">
                <img src="assets/img/messages-2.jpg" alt="" class="rounded-circle">
                <div>
                  <h4>Anna Nelson</h4>
                  <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                  <p>6 hrs. ago</p>
                </div>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="message-item">
              <a href="#">
                <img src="assets/img/messages-3.jpg" alt="" class="rounded-circle">
                <div>
                  <h4>David Muldon</h4>
                  <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                  <p>8 hrs. ago</p>
                </div>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="dropdown-footer">
              <a href="#">Show all messages</a>
            </li>

          </ul><!-- End Messages Dropdown Items -->

        </li><!-- End Messages Nav -->


    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">


        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="http://drive.google.com/uc?export=view&id={{profile_pic}}" alt="Profile" class="rounded-circle" style="width:30px;height:30px;">
            <span class="d-none d-md-block dropdown-toggle ps-2">{{User}}</span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>{{User}}</h6>
              <span>{{user.rank}}</span>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="/PDM-Basic-Details">
                <i class="bi bi-person"></i>
                <span>My Profile</span>
              </a>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="/Settings">
                <i class="bi bi-gear"></i>
                <span>Settings</span>
              </a>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="/Help">
                <i class="bi bi-question-circle"></i>
                <span>Help?</span>
              </a>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="/admin-logout">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

 <!-- ======= Sidebar ======= -->
 <aside id="sidebar" class="sidebar">
 
  <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-item">
      <a class="nav-link " href="/admin-home-page">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-menu-button-wide"></i><span>Personal Data Management</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="#">
            <i class="bi bi-circle"></i><span>Basic Details</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="bi bi-circle"></i><span>Personal Details</span>
          </a>
        </li>
        <li>
          <a href="users-contact.html">
            <i class="bi bi-circle"></i><span>Contact Details</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="bi bi-circle"></i><span>Family Background</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="bi bi-circle"></i><span>Educational Background</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="bi bi-circle"></i><span>Eligibilities</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="bi bi-circle"></i><span>Work Experience</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="bi bi-circle"></i><span>Voluntary Works</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="bi bi-circle"></i><span>Trainings & Seminars</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="bi bi-circle"></i><span>Outstanding Achievement</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="bi bi-circle"></i><span>Officership / Membership</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="bi bi-circle"></i><span>Agency Membership</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="bi bi-circle"></i><span>Other Information</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="bi bi-circle"></i><span>Additional Questions</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="bi bi-circle"></i><span>Character Reference</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="bi bi-circle"></i><span>Signature</span>
          </a>
        </li>
      </ul>
    </li><!-- End Components Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-journal-text"></i><span>Research & Publications</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="#">
            <i class="bi bi-circle"></i><span>Collaboration/Research Opportunities</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="bi bi-circle"></i><span>Research/Publication</span>
          </a>
        </li>
      </ul>
    </li><!-- End Forms Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-layout-text-window-reverse"></i><span>Announcement</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="#">
            <i class="bi bi-circle"></i><span>Announcements</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="bi bi-circle"></i><span>Forum</span>
          </a>
        </li>
      </ul>
    </li><!-- End Tables Nav -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="#">
        <i class="bi bi-dash-circle"></i>
        <span>Request</span>
      </a>
    </li>
  </ul>

</aside><!-- End Sidebar-->

{% block content %} <!-- PAGE BODY CONTENT -->

<main id="main" class="main">

  <div class="pagetitle">
    <h1>Faculties</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item active">Faculty Dashboard</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section dashboard">
    <div class="row">

      <!-- Left side columns -->
      <div class="col-lg-12">
        <div class="row">

          <!-- TOTAL FACULTIES Card -->
          <div class="col-xxl-4 col-md-6">
            <div class="card info-card sales-card">
              <div class="card-body">
                <h5 class="card-title">Total Faculties</h5>

                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-people"></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{total_faculty}}</h6>
                    <span class="text-success small pt-1 fw-bold">Members</span>
                  </div>
                </div>
              </div>

            </div>
          </div><!-- End Sales Card -->

          <!-- Projects Card -->
          <div class="col-xxl-4 col-md-6">
            <div class="card info-card revenue-card">

              <div class="card-body">
                <h5 class="card-title">Projects</h5>

                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-files"></i>
                  </div>
                  <div class="ps-3">
                    <h6>34</h6>
                    <span class="text-success small pt-1 fw-bold">Projects</span>

                  </div>
                </div>
              </div>

            </div>
          </div><!-- End Projects Card -->

          <!-- Customers Card -->
          <div class="col-xxl-4 col-xl-12">

            <div class="card info-card customers-card">

              <div class="card-body">
                <h5 class="card-title">Active</h5>

                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-person-check"></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{faculty_active}}</h6>
                    <span class="text-success small pt-1 fw-bold">Active Faculties</span>
                   
                  </div>
                </div>

              </div>
            </div>

          </div><!-- End Customers Card -->

          <div class="card">
            <div class="card-body pb-0">
              <div class="row">
                <div class="col-lg-4">
                  <h5 class="card-title">Assistant Professors ({{total_instructors}})</h5>
                  <div id="Rank1" style="min-height: 500px;" class="echart"></div>
                  <h5 class="d-flex align-items-center justify-content-center">{{total_instructors_percentage}}%</h5>
                </div>
          
                <div class="col-lg-4">
                  <h5 class="card-title">Assistant Professors ({{total_assistProfs}})</h5>
                  <div id="Rank2" style="min-height: 500px;" class="echart"></div>
                  <h5 class="d-flex align-items-center justify-content-center">{{total_assistProfs_percentage}}%</h5>
                </div>
          
                <div class="col-lg-4">
                  <h5 class="card-title">Assistant Professors ({{total_assocProfs}})</h5>
                  <div id="Rank3" style="min-height: 500px;" class="echart"></div>
                  <h5 class="d-flex align-items-center justify-content-center">{{total_assocProfs_percentage}}%</h5>
                </div>
              </div>
            </div>
          </div>
    
                <script>
                  document.addEventListener("DOMContentLoaded", () => {
                    echarts.init(document.querySelector("#Rank1")).setOption({
                      tooltip: {
                        trigger: 'item'
                      },
                      legend: {
                        top: '0%',
                        left: 'center'
                      },
                      series: [{
                        name: 'Access From',
                        type: 'pie',
                        radius: ['40%', '70%'],
                        avoidLabelOverlap: false,
                        itemStyle: {
                          borderRadius: 10,
                          borderColor: '#fff',
                          borderWidth: 2
                        },
                        label: {
                          show: false,
                          position: 'center'
                        },
                        emphasis: {
                          label: {
                            show: true,
                            fontSize: '18',
                            fontWeight: 'bold'
                          }
                        },
                        labelLine: {
                          show: false
                        },
                        data: [{
                            value: {{total_instructor_I}},
                            name: 'Instructor I'
                          },
                          {
                            value: {{total_instructor_II}},
                            name: 'Instructor II'
                          },
                          {
                            value: {{total_instructor_III}},
                            name: 'Instructor III'
                          },
                          {
                            value: {{total_instructor_IV}},
                            name: 'Instructor IV'
                          },
                          {
                            value: {{total_instructor_V}},
                            name: 'Instructor V'
                          }
                        ]
                      }]
                    });
                  });
                </script>

                <script>
                  document.addEventListener("DOMContentLoaded", () => {
                    echarts.init(document.querySelector("#Rank2")).setOption({
                      tooltip: {
                        trigger: 'item'
                      },
                      legend: {
                        top: '0%',
                        left: 'center'
                      },
                      series: [{
                        name: 'Access From',
                        type: 'pie',
                        radius: ['40%', '70%'],
                        avoidLabelOverlap: false,
                        itemStyle: {
                          borderRadius: 10,
                          borderColor: '#fff',
                          borderWidth: 2
                        },
                        label: {
                          show: false,
                          position: 'center'
                        },
                        emphasis: {
                          label: {
                            show: true,
                            fontSize: '18',
                            fontWeight: 'bold'
                          }
                        },
                        labelLine: {
                          show: false
                        },
                        data: [
                          {
                            value: {{total_assistProf_I}},
                            name: 'Assistant Professor I'
                          },
                          {
                            value: {{total_assistProf_II}},
                            name: 'Assistant Professor II'
                          },
                          {
                            value: {{total_assistProf_III}},
                            name: 'Assistant Professor III'
                          },
                          {
                            value: {{total_assistProf_IV}},
                            name: 'Assistant Professor IV'
                          },
                          {
                            value: {{total_assistProf_V}},
                            name: 'Assistant Professor V'
                          }
                        ]
                      }]
                    });
                  });
                </script>
    
                <script>
                  document.addEventListener("DOMContentLoaded", () => {
                    echarts.init(document.querySelector("#Rank3")).setOption({
                      tooltip: {
                        trigger: 'item'
                      },
                      legend: {
                        top: '0%',
                        left: 'center'
                      },
                      series: [{
                        name: 'Access From',
                        type: 'pie',
                        radius: ['40%', '70%'],
                        avoidLabelOverlap: false,
                        itemStyle: {
                          borderRadius: 10,
                          borderColor: '#fff',
                          borderWidth: 2
                        },
                        label: {
                          show: false,
                          position: 'center'
                        },
                        emphasis: {
                          label: {
                            show: true,
                            fontSize: '18',
                            fontWeight: 'bold'
                          }
                        },
                        labelLine: {
                          show: false
                        },
                        data: [
                          {
                            value: {{total_assocProf_I}},
                            name: 'Associate Professor I'
                          },
                          {
                            value: {{total_assocProf_II}},
                            name: 'Associate Professor II'
                          },
                          {
                            value: {{total_assocProf_III}},
                            name: 'Associate Professor III'
                          },
                          {
                            value: {{total_assocProf_V}},
                            name: 'Associate Professor V'
                          },
                          {
                            value: {{total_assocProf_IV}},
                            name: 'Associate Professor IV'
                          }
                        ]
                      }]
                    });
                  });
                </script>
          
           <!-- Faculty Members -->
           <div class="col-8">
            <div class="card recent-sales overflow-auto">

              <div class="card-body">
                <h5 class="card-title">Quantity of New Hired Faculty (Year: {{years_range7}} to {{years_range1}})</h5>

                <div id="container" style="height: 400px"></div>

  
            <script type="text/javascript" src="https://fastly.jsdelivr.net/npm/echarts@5.4.3/dist/echarts.min.js"></script>
            
            <script type="text/javascript">
              var dom = document.getElementById('container');
              var myChart = echarts.init(dom, null, {
                renderer: 'canvas',
                useDirtyRect: false
              });
              var app = {};
              
              var option;

              option = {
            tooltip: {
              trigger: 'axis',
              axisPointer: {
                type: 'shadow'
              }
            },
            toolbox: {
              feature: {
                dataView: { show: true, readOnly: true },
                magicType: { show: true, type: ['line', 'bar'] },
                restore: { show: true },
                saveAsImage: { show: true }
              }
            },
            legend: {
              data: ['Full Time', 'Part Time']
            },
            xAxis: [
              {
                type: 'category',
                data: ['{{years_range7}}', '{{years_range6}}', '{{years_range5}}', '{{years_range4}}', '{{years_range3}}', '{{years_range2}}', '{{years_range1}}'],
                axisPointer: {
                  type: 'shadow'
                }
              }
            ],
            yAxis: [
              {
                type: 'value',
                name: 'Quantity',
                min: 0,
                max: 25,
                axisLabel: {
                  formatter: '{value}'
                }
              }
            ],
            series: [
            {
              name: 'Full Time',
              type: 'bar',
              tooltip: {
                valueFormatter: function (value) {
                  return value + '';
                }
              },
              data: [
                {% for year in years_range %}
                  {% set full_time_count = full_time_counts[year] %}
                  {{ full_time_count }},
                {% endfor %}
              ]
            },
            {
              name: 'Part Time',
              type: 'bar',
              tooltip: {
                valueFormatter: function (value) {
                  return value + '';
                }
              },
              data: [
                {% for year in years_range %}
                  {% set part_time_count = part_time_counts[year] %}
                  {{ part_time_count }},
                {% endfor %}
              ]
            }
          ]
          };

              if (option && typeof option === 'object') {
                myChart.setOption(option);
              }

              window.addEventListener('resize', myChart.resize);
            </script>
              

              </div>

            </div>
          </div><!-- End -->

          <!-- Faculty Members -->
          <div class="col-4">
            <div class="card recent-sales overflow-auto">

              <div class="card-body">
                <h5 class="card-title">Faculty Type</h5>

                <div id="container2" style="height: 400px"></div>
          
            <script type="text/javascript" src="https://fastly.jsdelivr.net/npm/echarts@5.4.3/dist/echarts.min.js"></script>
            
            <script type="text/javascript">
              var dom = document.getElementById('container2');
              var myChart = echarts.init(dom, null, {
                renderer: 'canvas',
                useDirtyRect: false
              });
              var app = {};
              
              var option;
          
              option = {
              tooltip: {
                  trigger: 'axis',
                  axisPointer: {
                    type: 'shadow'
                  }
                },
            xAxis: {
              type: 'category',
              data: ['Full Time: {{full_time_percentage}}%', 'Part Time: {{part_time_percentage}}%']
            },
            yAxis: {
              name: 'Quantity',
              type: 'value',
              min: 0,
              max: {{total_faculty}}+5,
            },
            series: [
              {
                data: [{{full_time}}, {{part_time}}],
                type: 'bar'
              }
            ]
          };
          
              if (option && typeof option === 'object') {
                myChart.setOption(option);
              }
          
              window.addEventListener('resize', myChart.resize);
            </script>
              

              </div>

            </div>
          </div><!-- End -->
    
          <!-- Faculty Members -->
          <div class="col-12">
            <div class="card recent-sales overflow-auto">

              <div class="card-body">
                <h5 class="card-title">Faculty Members</h5>
                <h6 class="card-title">Click the ID of a faculty member to view more information.</h6>

                <table class="table table-borderless datatable">
                  <thead>
                    <tr>
                      <th scope="col">Faculty ID</th>
                      <th scope="col">Profile Pic</th>
                      <th scope="col">Name</th>
                      <th scope="col">Type</th>
                      <th scope="col">Rank</th>
                      <th scope="col">Units</th>
                      <th scope="col">Account Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for faculty_id in faculty_account_ids %}
                    {% set faculty_info = api_data['Faculties'][faculty_id] %}
                    <tr>
                      <td><a href="/faculty-member/{{ faculty_id }}">{{ faculty_id }}</a></td>
                      <td><img src="http://drive.google.com/uc?export=view&id={{ faculty_info['profile_pic'] }}" alt="Profile Pic" style="width:90px;height:80px; border-radius: 10px 10px 10px 10px"></td>
                      <td>{{ faculty_info['name'] }}</td>
                      <td>{{ faculty_info['faculty_type'] }}</td>
                      <td>{{ faculty_info['rank'] }}</td>
                      <td class="fw-bold">{{ faculty_info['units'] }}</td>
                      {% if faculty_info['is_active'] == True %}
                      <td><span class="badge bg-success">Active</span></td>
                      {% else %}
                      <td><span class="badge bg-danger">Inactive</span></td>
                      {% endif %}
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>

              </div>

            </div>
          </div><!-- End Recent Sales -->

        </div>
      </div><!-- End Left side columns -->

    </div>
  </section>

</main><!-- End #main -->  


{% endblock %}

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy;<strong><span>Copyright PUPQCFIS 2023.</span></strong>. All Rights Reserved
    </div>
    
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.4.3/echarts.min.js"></script>
  <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
  <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" type="text/javascript"></script>

  <!-- Template Main JS File -->
  <script src="{{ url_for('static', filename='javascript/homepage/main.js')}}"></script>
  <script src="{{ url_for('static', filename='javascript/homepage/PDM-Basic-Details/uploadprofile.js')}}"></script> {# UPLOAD PROFILE JS #}
 {#  <script src="{{ url_for('static', filename='javascript/homepage/refresh_token.js')}}"></script> REFRESH TOKEN JS #}

</body>

</html>