{% extends "/System-Admin-Page/base.html" %}{% block title %}Admin Management{% endblock %} {% block content%}


<main id="main" class="main">
  <div style="background-color:#08101B; height:200px; position: relative; display: flex; align-items: center;">
    <div style="background: url('{{ url_for('static', filename='images/Default-Images/pupqc-logo.png')}}') no-repeat; background-size: 300px 300px; width: 300px; height: 200px; opacity: 0.5; filter: grayscale(100%);"></div>
    <div style="margin-left: 20px;">
        <h1 style="color:#FFFFFF;">ADMIN MANAGEMENT</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item" style="color:#CECDCD;"><a href="/auth/sysadmin/homepage" style="color:#CECDCD;">System Admin Admin Management</a></li>
            </ol>
        </nav>
    </div>
</div><!-- End Page Title -->

<br><br>

  <style>
    .responsive-table {
      display: flex;
      flex-wrap: wrap;
      margin: -10px; /* Adjust margin as needed */
    }
  
    .responsive-table td {
      flex: 1;
      padding: 10px; /* Adjust padding as needed */
      box-sizing: border-box;
    }
  
    .responsive-table h6 {
      margin: 0;
    }
    .btnprinter-container {
      text-align: right;
    }
  
    .btnprinter {
      width: 50px;
      background-color: transparent;
      border: none;
      padding: 0;
      cursor: pointer;
    }
  
    .btnprinter i {
      font-size: 24px; /* You can adjust the font size as needed */
      color: #000; /* You can set the color as needed */
    }

  </style>

  
<style>
  .close {
      background: none;
      border: none;
      padding: 0;
      cursor: pointer;
  }

  .close-icon {
      color: #000; /* Set the color you want for the "x" */
      font-size: 20px; /* Set the font size for the "x" */
  }
</style>

  <section class="section dashboard">
    <div class="row">

       <!-- Left side columns -->
       <div class="col-lg-12">
        <div class="row">

     <!-- Faculty Members -->
     <div class="col-12">
      <div class="card recent-sales overflow-auto">

        <div class="card-body">
          <h5 class="card-title">Admin Members</h5>
            {# DISPLAY NOTIFICATION ERROR  #} 
            
          {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
              {% for category, message in messages %}
                  {% if category == 'error' %}
                      <div class="alert alert-danger alert-dismissible fade show d-flex justify-content-between" role="alert" style="z-index:1;">
                          <div>{{ message }}</div>
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="closeNotification(this)">
                              <span aria-hidden="true" class="close-icon">&times;</span>
                          </button>
                      </div>
                  {% elif category == 'success' %}
                      <div class="alert alert-success alert-dismissible fade show d-flex justify-content-between" role="alert" style="z-index:1;">
                          <div>{{ message }}</div>
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="closeNotification(this)">
                              <span aria-hidden="true" class="close-icon">&times;</span>
                          </button>
                      </div>
                  {% endif %}
              {% endfor %}
          {% endif %}
      {% endwith %}

        <script>
          function closeNotification(button) {
              // Find the parent notification element and remove it
              var notification = button.closest('.alert');
              notification.remove();
          }
      </script>

          <div class="d-grid gap-2 mt-3">
            <div class="card-body profile-card pt-4 d-flex flex-column align-items-end">
              <button class="btn btn-outline-primary" type="button" data-bs-toggle="modal" data-bs-target="#addrecord"><i class="bi bi-plus-circle"></i> Add New Admin</button>
            </div>
          </div>
          <h6 class="card-title">Click the ID of a admin member to view more information.</h6>

          <table class="table table-borderless datatable">
            <thead>
              <tr>
                <th>Admin ID</th>
                <th>Profile Image</th>
                <th>Name</th>
                <th>Date Hired</th>
                <th>Account Status</th>
                <th>Edit Information</th>
                <th>Update Status</th>
              </tr>
            </thead>
            <tbody>
              {% for admin_id in AdminIds %}
              {% set admin_info = api_data['Admins'][admin_id] %}
              <tr>
                <td><h6>{{ admin_id }}</h6></td>
                <td><img src="https://lh3.googleusercontent.com/d/{{ admin_info['ProfilePic'] }}" alt="Profile Pic" style="width:90px;height:80px; border-radius: 10px 10px 10px 10px"></td>
                <td>{{ admin_info['FirstName']}} {{admin_info['LastName']}}</td>
                <td>{{ format_date(admin_info['DateHired']) }}</td>
                {% if admin_info['Status'] == "Active" %}
                <td><h6 class="badge bg-success" style="width:158px;height:20px;">Active</h6></td>
                {% elif admin_info['Status'] == "Locked" %}
                <td><h6 class="badge bg-warning" style="width:158px;height:20px;">Locked</h6></td>
                {% elif admin_info['Status'] == "Disabled" %}
                <td><h6 class="badge bg-danger" style="width:158px;height:20px;">Disabled</h6></td>
                {% elif admin_info['Status'] == "Deactivated" %}
                <td><h6 class="badge bg-secondary" style="width:158px;height:20px;">Deactivated</h6></td>
                {% else  %}
                <td><h6 class="badge bg-light text-dark" style="width:158px;height:20px;">Unknown</h6></td>
                {% endif %}
                <td>
                  <button type="button" class="btn btn-secondary rounded-pill" data-bs-toggle="modal" data-bs-target="#{{ admin_id }}"><i class="bi bi-file-earmark-text"></i></button>
              </td>
              <td>
                <button type="submit" class="btn btn-warning rounded-pill" data-bs-toggle="modal" data-bs-target="#d{{ admin_id }}"><i class="bi bi-patch-exclamation-fill"></i></button>
            </td>
              </tr>

                  <!-- Edit Record Modal-->

                  <div class="modal fade" id="{{admin_id}}" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Edit Admin Information</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <ul class="nav nav-tabs nav-tabs-bordered">

                            <li class="nav-item">
                              <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#{{admin_id}}profile-overview">Admin Information</button>
                            </li>
            
                            <li class="nav-item">
                              <button class="nav-link" data-bs-toggle="tab" data-bs-target="#{{admin_id}}profile-basic-details">Password</button>
                            </li>
            
                          </ul>
                  <div class="tab-content pt-2">

                    <div class="tab-pane fade show active profile-overview" id="{{admin_id}}profile-overview">

                <form action="/auth/sysadmin/Admin-Management/update-info" method="POST" enctype="multipart/form-data" accept-charset="utf-8">
                    <div class="modal-body">

                         <h5 class="card-title">Basic Information</h5>
          
                         <div class="row mb-3">
                          <label for="{{admin_id}}first_name" class="col-md-4 col-lg-3 col-form-label">First Name</label>
                          <div class="col-md-8 col-lg-9">
                            <input required name="first_name" type="text" class="form-control" id="{{admin_id}}first_name" value="{{admin_info['FirstName']}}">
                          </div>
                        </div>
          
                         <div class="row mb-3">
                          <label for="{{admin_id}}last_name" class="col-md-4 col-lg-3 col-form-label">Last Name</label>
                          <div class="col-md-8 col-lg-9">
                            <input required name="last_name" type="text" class="form-control" id="{{admin_id}}last_name" value="{{admin_info['LastName']}}">
                          </div>
                        </div>
          
                        <div class="row mb-3">
                          <label for="{{admin_id}}middle_name" class="col-md-4 col-lg-3 col-form-label">Middle Name</label>
                          <div class="col-md-8 col-lg-9">
                            <input name="middle_name" type="text" class="form-control" id="{{admin_id}}middle_name" value="{{admin_info['MiddleName']}}">
                          </div>
                        </div>
          
                        <div class="row mb-3">
                          <label for="{{admin_id}}middle_initial" class="col-md-4 col-lg-3 col-form-label">Middle Initial</label>
                          <div class="col-md-8 col-lg-9">
                            <div class="col-md-10" style="width:100%;">
               
                                <select class="form-select" name="middle_initial" id="{{admin_id}}middle_initial" style="height:40px;" aria-label="{{admin_id}}middle_initial">
                                  <option selected value="{{admin_info['MiddleInitial']}}">{{admin_info['MiddleInitial']}}</option>
                                  <option value="A">A</option>
                                  <option value="B">B</option>
                                  <option value="C">C</option>
                                  <option value="D">D</option>
                                  <option value="E">E</option>
                                  <option value="F">F</option>
                                  <option value="G">G</option>
                                  <option value="H">H</option>
                                  <option value="I">I</option>
                                  <option value="J">J</option>
                                  <option value="K">K</option>
                                  <option value="L">L</option>
                                  <option value="M">M</option>
                                  <option value="N">N</option>
                                  <option value="O">O</option>
                                  <option value="P">P</option>
                                  <option value="Q">Q</option>
                                  <option value="R">R</option>
                                  <option value="S">S</option>
                                  <option value="T">T</option>
                                  <option value="U">U</option>
                                  <option value="V">V</option>
                                  <option value="W">W</option>
                                  <option value="X">X</option>
                                  <option value="Y">Y</option>
                                  <option value="Z">Z</option>
                                  <option value="">N/A</option>
                                </select>
                           
                          </div> 
                          </div>
                        </div>
            
                        <div class="row mb-3">
                          <label for="{{admin_id}}name_extension" class="col-md-4 col-lg-3 col-form-label">Name Extension</label>
                          <div class="col-md-8 col-lg-9">
                            <div class="col-md-10" style="width:100%;">
               
                                <select class="form-select" name="name_extension" id="{{admin_id}}name_extension" style="height:40px;" aria-label="{{admin_id}}name_extension">
                                  <option selected value="{{admin_info['NameExtension']}}">{% if admin_info['NameExtension'] == "" %}
                                    N/A
                                  {% elif admin_info['NameExtension'] == None %}
                                    N/A
                                    {% endif %}
                                </option>
                                  
                                  <option value="JR">JR</option>
                                  <option value="SR">SR</option>
                                  <option value="II">II</option>
                                  <option value="III">III</option>
                                  <option value="IV">IV</option>
                                  <option value="V">V</option>
                                  <option value="">N/A</option>
                                </select>
                           
                          </div> 
                          </div>
                        </div>
          
                        <div class="row mb-3">
                          <label for="{{admin_id}}gender" class="col-md-4 col-lg-3 col-form-label">Gender</label>
                          <div class="col-md-8 col-lg-9">
                            <div class="col-md-10" style="width:100%;">
               
                                <select class="form-select" name="gender" type="number" id="{{admin_id}}gender" style="height:40px;" aria-label="{{admin_id}}gender">
                                  <option selected value="{{admin_info['Gender']}}">{% if admin_info['Gender'] == 1 %}
                                    Male
                                  {% else %}
                                  Female
                                  {% endif %}
                                  </option>
                                  <option value="1">Male</option>
                                  <option value="2">Female</option>
                                </select>
                           
                          </div> 
                          </div>
                        </div>
                        
                        <div class="row mb-3">
                          <label for="{{admin_id}}birth_date" class="col-md-4 col-lg-3 col-form-label">Birth Date</label>
                          <div class="col-md-8 col-lg-9">
                            <input required name="birth_date" type="date" class="form-control" id="{{admin_id}}birth_date" value="{{ format_date_2(admin_info['BirthDate']) }}">
                          </div>
                        </div>

          
                        <div class="row mb-3">
                          <label for="{{admin_id}}email" class="col-md-4 col-lg-3 col-form-label">Email Address</label>
                          <div class="col-md-8 col-lg-9">
                            <input required name="email" type="email" class="form-control" id="{{admin_id}}email" value="{{admin_info['Email']}}" >
                          </div>
                        </div>
                        
                        <div class="row mb-3">
                          <label for="{{admin_id}}honorific" class="col-md-4 col-lg-3 col-form-label">Honorific</label>
                          <div class="col-md-8 col-lg-9">
                            <input name="honorific" type="text" class="form-control" id="{{admin_id}}honorific" value="{{admin_info['Honorific']}}">
                          </div>
                        </div>
          
                        <div class="row mb-3">
                          <label for="{{admin_id}}res_address" class="col-md-4 col-lg-3 col-form-label">Residential Address</label>
                          <div class="col-md-8 col-lg-9">
                            <input name="res_address" type="text" class="form-control" id="{{admin_id}}res_address" value="{{admin_info['ResidentialAddress']}}">
                          </div>
                        </div>
          
                        <div class="row mb-3">
                          <label for="{{admin_id}}number" class="col-md-4 col-lg-3 col-form-label">Mobile Number</label>
                          <div class="col-md-8 col-lg-9">
                              <input name="number" type="text" class="form-control" id="{{admin_id}}number" pattern="\d{11}" title="Enter a valid 11-digit mobile number" value="{{admin_info['MobileNumber']}}"/>
                          </div>
                      </div>
          
          
                        <br><br><br>
          
                        <h5 class="card-title">Admin Information</h5>
          
                        <div class="row mb-3">
                          <label for="{{admin_id}}type" class="col-md-4 col-lg-3 col-form-label">Admin Type</label>
                          <div class="col-md-8 col-lg-9">
                            <div class="col-md-10" style="width:100%;">
               
                                <select class="form-select" name="type" id="{{admin_id}}type" style="height:40px;" aria-label="{{admin_id}}type">
                                  <option selected value="{{admin_info['AdminType']}}">{{admin_info['AdminType']}}</option>
                                  <option value="Director">Director</option>
                                  <option value="Academic Head">Academic Head</option>
                                </select>
                           
                          </div> 
                          </div>
                        </div>
          
                        <div class="row mb-3">
                          <label for="{{admin_id}}rank" class="col-md-4 col-lg-3 col-form-label">Rank</label>
                          <div class="col-md-8 col-lg-9">
                            <div class="col-md-10" style="width:100%;">
               
                                <select class="form-select" name="rank" id="{{admin_id}}rank" style="height:40px;" aria-label="{{admin_id}}rank">
                                  <option selected value="{{admin_info['Rank']}}">{{admin_info['Rank']}}</option>
                                  <option value="Instructor I">Instructor I</option>
                                  <option value="Instructor II">Instructor II</option>
                                  <option value="Instructor III">Instructor III</option>
                                  <option value="Instructor IV">Instructor IV</option>
                                  <option value="Instructor V">Instructor V</option>
          
                                  <option value="Assistant Professor I">Assistant Professor I</option>
                                  <option value="Assistant Professor II">Assistant Professor II</option>
                                  <option value="Assistant Professor III">Assistant Professor III</option>
                                  <option value="Assistant Professor IV">Assistant Professor IV</option>
                                  <option value="Assistant Professor V">Assistant Professor V</option>
                                  
                                  <option value="Associate Professor I">Associate Professor I</option>
                                  <option value="Associate Professor II">Associate Professor II</option>
                                  <option value="Associate Professor III">Associate Professor III</option>
                                  <option value="Associate Professor IV">Associate Professor IV</option>
                                  <option value="Associate Professor V">Associate Professor V</option>
                                </select>
                           
                          </div> 
                          </div>
                        </div>
          
                        <div class="row mb-3">
                          <label for="{{admin_id}}units" class="col-md-4 col-lg-3 col-form-label">Units</label>
                          <div class="col-md-8 col-lg-9">
                              <input required name="units" type="text" class="form-control" id="{{admin_id}}units" pattern="\d+(\.\d{1,2})?" title="Enter a valid decimal number" value="{{admin_info['Units']}}"/>
                          </div>
                      </div>
          
                        <div class="row mb-3">
                          <label for="{{admin_id}}degree" class="col-md-4 col-lg-3 col-form-label">Degree</label>
                          <div class="col-md-8 col-lg-9">
                            <div class="col-md-10" style="width:100%;">
               
                                <select class="form-select" name="degree" id="{{admin_id}}degree" style="height:40px;" aria-label="degree">
                                  <!-- Master's Degrees -->
                                  <option selected value="{{admin_info['Degree']}}">{{admin_info['Degree']}}</option>
                                  <option value="Master in Business Administration">Master in Business Administration</option>
                                  <option value="Master of Science in Computer Science">Master of Science in Computer Science</option>
                                  <option value="Master of Fine Arts in Creative Writing">Master of Fine Arts in Creative Writing</option>
                                  <option value="Master of Social Work">Master of Social Work</option>
                                  <option value="Master of Architecture">Master of Architecture</option>
                                  <option value="Master of Public Health">Master of Public Health</option>
                                  <option value="Master of Education">Master of Education</option>
                                  <option value="Master of Laws">Master of Laws</option>
                                  <option value="Master of Engineering in Civil Engineering">Master of Engineering in Civil Engineering</option>
                                  <option value="Master of Arts in English Literature">Master of Arts in English Literature</option>
                                  <option value="Master of Information Technology">Master of Information Technology</option>
                                  <option value="Master of Computer Science">Master of Computer Science</option>
                                  <option value="Master of Information Systems">Master of Information Systems</option>
                                  <option value="Master of Software Development">Master of Software Development</option>
                                  <option value="Master of Data Analytics">Master of Data Analytics</option>
                                  <!-- Bachelor's Degrees -->
                                  <option value="Bachelor in Physical Education">Bachelor in Physical Education</option>
                                  <option value="Bachelor of Arts in Psychology">Bachelor of Arts in Psychology</option>
                                  <option value="Bachelor of Engineering in Mechanical Engineering">Bachelor of Engineering in Mechanical Engineering</option>
                                  <option value="Bachelor of Science in Environmental Science">Bachelor of Science in Environmental Science</option>
                                  <option value="Bachelor of Music">Bachelor of Music</option>
                                  <option value="Bachelor of Business Administration">Bachelor of Business Administration</option>
                                  <option value="Bachelor of Science in Chemistry">Bachelor of Science in Chemistry</option>
                                  <option value="Bachelor of Communication Studies">Bachelor of Communication Studies</option>
                                  <option value="Bachelor of Social Work">Bachelor of Social Work</option>
                                  <option value="Bachelor of Software Engineering">Bachelor of Software Engineering</option>
                                  <option value="Bachelor of Data Science">Bachelor of Data Science</option>
                                  <option value="Bachelor of Science in Information Technology">Bachelor of Science in Information Technology</option>
                                  <option value="Bachelor of Fine Arts in Graphic Design">Bachelor of Fine Arts in Graphic Design</option>
                                  <option value="Bachelor of Science in Nursing">Bachelor of Science in Nursing</option>
                                  <option value="Bachelor of Fine Arts in Photography">Bachelor of Fine Arts in Photography</option>
                                  <!-- Other Degrees -->
                                  <option value="Doctor in Public Administration">Doctor in Public Administration</option>
                                  <option value="Doctor of Medicine">Doctor of Medicine</option>
                                  <option value="Doctor of Philosophy in Economics">Doctor of Philosophy in Economics</option>
                                  <option value="Doctor of Dental Medicine">Doctor of Dental Medicine</option>
                                  <option value="Doctor of Psychology">Doctor of Psychology</option>
                                  <option value="Doctor of Veterinary Medicine">Doctor of Veterinary Medicine</option>
                                  <option value="Juris Doctor">Juris Doctor</option>
                                </select>
                           
                          </div> 
                          </div>
                        </div>
          
                        <div class="row mb-3">
                          <label for="{{admin_id}}specialization" class="col-md-4 col-lg-3 col-form-label">Specialization</label>
                          <div class="col-md-8 col-lg-9">
                              <input name="specialization" type="text" class="form-control" id="{{admin_id}}specialization" value="{{admin_info['Specialization']}}"/>
                          </div>
                      </div>
          
                        <div class="row mb-3">
                          <label for="{{admin_id}}date_hired" class="col-md-4 col-lg-3 col-form-label">Date Hired</label>
                          <div class="col-md-8 col-lg-9">
                            <input required name="date_hired" type="date" class="form-control" id="{{admin_id}}date_hired" value="{{ format_date_2(admin_info['DateHired']) }}" >
                          </div>
                        </div>
          
                        <br><br><br>
          
                        <h5 class="card-title">Preferred Schedule</h5>

                        <div class="row mb-3">
                          <label for="day{{admin_id}}" class="col-md-4 col-lg-3 col-form-label">Day</label>
                          <div class="col-md-8 col-lg-9">
                            <div class="col-md-10" style="width:100%;">
               
                                <select class="form-select" name="day" id="day{{admin_id}}" style="height:40px;" aria-label="day{{admin_id}}">
                                  <option selected value="{{ extract_day_and_time(admin_info['PreferredSchedule'])[0] }}">{{ extract_day_and_time(admin_info['PreferredSchedule'])[0] }}</option>
                                  <option value="Monday">Monday</option>
                                  <option value="Tuesday">Tuesday</option>
                                  <option value="Wednesday">Wednesday</option>
                                  <option value="Thursday">Thursday</option>
                                  <option value="Friday">Friday</option>
                                  <option value="Monday to Tuesday">Monday to Tuesday</option>
                                  <option value="Monday to Wednesday">Monday to Wednesday</option>
                                  <option value="Monday to Thursday">Monday to Thursday</option>
                                  <option value="Monday to Friday">Monday to Friday</option>
                                  <option value="Tuesday to Wednesday">Tuesday to Wednesday</option>
                                  <option value="Tuesday to Thursday">Tuesday to Thursday</option>
                                  <option value="Tuesday to Friday">Tuesday to Friday</option>
                                  <option value="Wednesday to Thursday">Wednesday to Thursday</option>
                                  <option value="Wednesday to Friday">Wednesday to Friday</option>
                                  <option value="Thursday to Friday">Thursday to Friday</option>
                                  <option value="Monday, Wednesday, and Friday">Monday, Wednesday, and Friday</option>
                                  <option value="Tuesday, Thursday, and Friday">Tuesday, Thursday, and Friday</option>
                                  <option value="Monday, Tuesday, and Thursday">Monday, Tuesday, and Thursday</option>
                                  <option value="Every Day">Every Day</option>
                                </select>
                           
                          </div> 
                          </div>
                        </div>
          
                        <div class="row mb-3">
                          <label for="{{admin_id}}time" class="col-md-4 col-lg-3 col-form-label">Time</label>
                          <div class="col-md-8 col-lg-9">
                            <div class="col-md-10" style="width:100%;">
               
                                <select class="form-select" name="time" id="{{admin_id}}time" style="height:40px;" aria-label="{{admin_id}}time">
                                  <option selected value="{{ extract_day_and_time(admin_info['PreferredSchedule'])[1] }}">{{ extract_day_and_time(admin_info['PreferredSchedule'])[1] }}</option>
                                  <option value="9:00 AM - 12:00 PM">Morning (9:00 AM - 12:00 PM)</option>
                                  <option value="12:00 PM - 2:00 PM">Noon (12:00 PM - 2:00 PM)</option>
                                  <option value="2:00 PM - 6:00 PM">Afternoon (2:00 PM - 6:00 PM)</option>
                                  <option value="6:00 PM - 9:00 PM">Evening (6:00 PM - 9:00 PM)</option>
                                  <option value="Whole Day">Whole Day</option>
                                </select>
                           
                          </div> 
                          </div>
                        </div>
          
                        <br><br><br>
          
                    </div>  

                    <div class="modal-footer">
                      <input required type="hidden" name="id" value="{{admin_id}}"></input> 
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="bi bi-x-circle"></i> Cancel</button>
                      <button type="submit" class="btn btn-primary"><i class="bi bi-check-circle"></i> Update</button>
                    </div>

                  </form>

                        </div>
                        <div class="tab-content pt-2">
                        <div class="tab-pane fade profile-edit pt-2" id="{{admin_id}}profile-basic-details">

                          <div class="modal-body">

                          <h5 class="card-title">Change Password</h5>
                    <form action="/auth/sysadmin/Admin-Management/update-pass" method="POST" enctype="multipart/form-data" accept-charset="utf-8" id="passform">
                          <div class="row mb-3">
                              <label for="{{admin_id}}new_password" class="col-md-4 col-lg-3 col-form-label">New Password</label>
                              <div class="col-md-8 col-lg-9">
                                <input name="new_password" type="password" class="form-control" id="{{admin_id}}new_password" value="" required>
                              </div>
                          </div>

                          <div class="row mb-3">
                            <label for="{{admin_id}}conf_password" class="col-md-4 col-lg-3 col-form-label">Confirm Password</label>
                            <div class="col-md-8 col-lg-9">
                              <input name="conf_password" type="password" class="form-control" id="{{admin_id}}conf_password" value="" required>
                            </div>
                        </div>

                          <br><br><br>
            
                        </div>

                        <div class="modal-footer">
                          <input required type="hidden" name="id" value="{{admin_id}}"></input> 
                          <input required type="hidden" name="email" value="{{admin_info['Email']}}"></input> 
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="bi bi-x-circle"></i> Cancel</button>
                          <button type="submit" class="btn btn-primary"><i class="bi bi-check-circle"></i> Update</button>
                        </div>

                        </div>
                      </div>
                       
                  </form>

                  <script>
                    document.addEventListener('DOMContentLoaded', function () {
                        var form = document.querySelector('#passform'); // Fix: use #passform for ID selector
                
                        form.addEventListener('submit', function (event) {
                            var newPassword = document.getElementById('{{admin_id}}new_password').value;
                            var confirmPassword = document.getElementById('{{admin_id}}conf_password').value;
                
                            if (newPassword !== confirmPassword) {
                                alert('New Password and Confirm Password must match!');
                                event.preventDefault(); // Prevent form submission
                            }
                        });
                    });
                </script>

                      </div>
                    </div>
                  </div>
                </div>
                  </div><!-- End Edit Record Modal-->
                
  
                  <!-- UPDATE STATUS Modal-->
                
                  <div class="modal fade" id="d{{admin_id}}" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Update Status</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                        <form action="/auth/sysadmin/Admin-Management/update-status" method="POST" enctype="multipart/form-data" accept-charset="utf-8">
                            <input required type="hidden" name="id" value="{{admin_id}}"></input> 

                            <div class="row mb-3">

                              <br><br><br>
          
                       
                              <label for="{{admin_id}}status" class="col-md-4 col-lg-3 col-form-label">Account Status</label>
                              <div class="col-md-8 col-lg-9">
                                <div class="col-md-10" style="width:100%;">
                   
                                    <select class="form-select" name="status" id="{{admin_id}}status" style="height:40px;" aria-label="{{admin_id}}status">
                                      <option selected value="{{admin_info['Status']}}">{{admin_info['Status']}}</option>
                                      <option value="Active">Active</option>
                                      <option value="Disabled">Disabled</option>
                                      <option value="Locked">Locked</option>
                                      <option value="Deactivated">Deactivated</option>
                                    </select>
                               
                              </div> 
                              </div>
                            </div>

                          <div class="modal-footer">
                            <input required type="hidden" name="id" value="{{admin_id}}"></input> 
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="bi bi-x-circle"></i> Cancel</button>
                            <button type="submit" class="btn btn-primary"><i class="bi bi-check-circle"></i> Confirm</button>
                          </div>
                      </form>
                        </div>
                      </div>
                    </div>
                  </div><!-- End Delete Record Modal-->

            {% endfor %}

            </tbody>
          </table>

        </div>

      </div>
    </div><!-- End Recent Sales -->

   
  </section>
</main><!-- End #main -->

     <!-- Add Record Modal-->

     <div class="modal fade" id="addrecord" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Add New Admin</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">

            <form action="/auth/sysadmin/Admin-Management/add-record" method="POST" enctype="multipart/form-data" accept-charset="utf-8">
     
               <h5 class="card-title">Basic Information</h5>

               <div class="row mb-3">
                <label for="first_name" class="col-md-4 col-lg-3 col-form-label">First Name</label>
                <div class="col-md-8 col-lg-9">
                  <input required name="first_name" type="text" class="form-control" id="first_name" value="">
                </div>
              </div>

               <div class="row mb-3">
                <label for="last_name" class="col-md-4 col-lg-3 col-form-label">Last Name</label>
                <div class="col-md-8 col-lg-9">
                  <input required name="last_name" type="text" class="form-control" id="last_name" value="">
                </div>
              </div>

              <div class="row mb-3">
                <label for="middle_name" class="col-md-4 col-lg-3 col-form-label">Middle Name</label>
                <div class="col-md-8 col-lg-9">
                  <input name="middle_name" type="text" class="form-control" id="middle_name" value="">
                </div>
              </div>

              <div class="row mb-3">
                <label for="middle_initial" class="col-md-4 col-lg-3 col-form-label">Middle Initial</label>
                <div class="col-md-8 col-lg-9">
                  <div class="col-md-10" style="width:100%;">
     
                      <select class="form-select" name="middle_initial" id="middle_initial" style="height:40px;" aria-label="name_extension">
                        
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                        <option value="D">D</option>
                        <option value="E">E</option>
                        <option value="F">F</option>
                        <option value="G">G</option>
                        <option value="H">H</option>
                        <option value="I">I</option>
                        <option value="J">J</option>
                        <option value="K">K</option>
                        <option value="L">L</option>
                        <option value="M">M</option>
                        <option value="N">N</option>
                        <option value="O">O</option>
                        <option value="P">P</option>
                        <option value="Q">Q</option>
                        <option value="R">R</option>
                        <option value="S">S</option>
                        <option value="T">T</option>
                        <option value="U">U</option>
                        <option value="V">V</option>
                        <option value="W">W</option>
                        <option value="X">X</option>
                        <option value="Y">Y</option>
                        <option value="Z">Z</option>
                        <option value="">N/A</option>
                      </select>
                 
                </div> 
                </div>
              </div>
  
              <div class="row mb-3">
                <label for="name_extension" class="col-md-4 col-lg-3 col-form-label">Name Extension</label>
                <div class="col-md-8 col-lg-9">
                  <div class="col-md-10" style="width:100%;">
     
                      <select class="form-select" name="name_extension" id="name_extension" style="height:40px;" aria-label="name_extension">
                        
                        <option value="JR">JR</option>
                        <option value="SR">SR</option>
                        <option value="II">II</option>
                        <option value="III">III</option>
                        <option value="IV">IV</option>
                        <option value="V">V</option>
                        <option selected="" value="">N/A</option>

                      </select>
                 
                </div> 
                </div>
              </div>

              <div class="row mb-3">
                <label for="gender" class="col-md-4 col-lg-3 col-form-label">Gender</label>
                <div class="col-md-8 col-lg-9">
                  <div class="col-md-10" style="width:100%;">
     
                      <select class="form-select" name="gender" type="number" id="gender" style="height:40px;" aria-label="gender">
                        <option value="1">Male</option>
                        <option value="2">Female</option>
                      </select>
                 
                </div> 
                </div>
              </div>
              
              <div class="row mb-3">
                <label for="birth_date" class="col-md-4 col-lg-3 col-form-label">Birth Date</label>
                <div class="col-md-8 col-lg-9">
                  <input required name="birth_date" type="date" class="form-control" id="birth_date" value="">
                </div>
              </div>

              <div class="row mb-3">
                <label for="email" class="col-md-4 col-lg-3 col-form-label">Email Address</label>
                <div class="col-md-8 col-lg-9">
                  <input required name="email" type="email" class="form-control" id="email" value="" >
                </div>
              </div>
              
              <div class="row mb-3">
                <label for="honorific" class="col-md-4 col-lg-3 col-form-label">Honorific</label>
                <div class="col-md-8 col-lg-9">
                  <input name="honorific" type="text" class="form-control" id="honorific" value="">
                </div>
              </div>

              <div class="row mb-3">
                <label for="res_address" class="col-md-4 col-lg-3 col-form-label">Residential Address</label>
                <div class="col-md-8 col-lg-9">
                  <input name="res_address" type="text" class="form-control" id="res_address" value="">
                </div>
              </div>

              <div class="row mb-3">
                <label for="number" class="col-md-4 col-lg-3 col-form-label">Mobile Number</label>
                <div class="col-md-8 col-lg-9">
                    <input name="number" type="text" class="form-control" id="number" pattern="\d{11}" title="Enter a valid 11-digit mobile number" />
                </div>
            </div>


              <br><br><br>

              <h5 class="card-title">Admin Information</h5>

              <div class="row mb-3">
                <label for="type" class="col-md-4 col-lg-3 col-form-label">Admin Type</label>
                <div class="col-md-8 col-lg-9">
                  <div class="col-md-10" style="width:100%;">
     
                      <select class="form-select" name="type" id="type" style="height:40px;" aria-label="type">
                        <option value="Director">Director</option>
                        <option value="Academic Head">Academic Head</option>
                      </select>
                 
                </div> 
                </div>
              </div>

              <div class="row mb-3">
                <label for="rank" class="col-md-4 col-lg-3 col-form-label">Rank</label>
                <div class="col-md-8 col-lg-9">
                  <div class="col-md-10" style="width:100%;">
     
                      <select class="form-select" name="rank" id="rank" style="height:40px;" aria-label="rank">
                        <option value="Instructor I">Instructor I</option>
                        <option value="Instructor II">Instructor II</option>
                        <option value="Instructor III">Instructor III</option>
                        <option value="Instructor IV">Instructor IV</option>
                        <option value="Instructor V">Instructor V</option>

                        <option value="Assistant Professor I">Assistant Professor I</option>
                        <option value="Assistant Professor II">Assistant Professor II</option>
                        <option value="Assistant Professor III">Assistant Professor III</option>
                        <option value="Assistant Professor IV">Assistant Professor IV</option>
                        <option value="Assistant Professor V">Assistant Professor V</option>
                        
                        <option value="Associate Professor I">Associate Professor I</option>
                        <option value="Associate Professor II">Associate Professor II</option>
                        <option value="Associate Professor III">Associate Professor III</option>
                        <option value="Associate Professor IV">Associate Professor IV</option>
                        <option value="Associate Professor V">Associate Professor V</option>
                      </select>
                 
                </div> 
                </div>
              </div>

              <div class="row mb-3">
                <label for="units" class="col-md-4 col-lg-3 col-form-label">Units</label>
                <div class="col-md-8 col-lg-9">
                    <input required name="units" type="text" class="form-control" id="units" pattern="\d+(\.\d{1,2})?" title="Enter a valid decimal number" />
                </div>
            </div>

              <div class="row mb-3">
                <label for="degree" class="col-md-4 col-lg-3 col-form-label">Degree</label>
                <div class="col-md-8 col-lg-9">
                  <div class="col-md-10" style="width:100%;">
     
                      <select class="form-select" name="degree" id="degree" style="height:40px;" aria-label="degree">
                        <!-- Master's Degrees -->
                        <option value="Master in Business Administration">Master in Business Administration</option>
                        <option value="Master of Science in Computer Science">Master of Science in Computer Science</option>
                        <option value="Master of Fine Arts in Creative Writing">Master of Fine Arts in Creative Writing</option>
                        <option value="Master of Social Work">Master of Social Work</option>
                        <option value="Master of Architecture">Master of Architecture</option>
                        <option value="Master of Public Health">Master of Public Health</option>
                        <option value="Master of Education">Master of Education</option>
                        <option value="Master of Laws">Master of Laws</option>
                        <option value="Master of Engineering in Civil Engineering">Master of Engineering in Civil Engineering</option>
                        <option value="Master of Arts in English Literature">Master of Arts in English Literature</option>
                        <option value="Master of Information Technology">Master of Information Technology</option>
                        <option value="Master of Computer Science">Master of Computer Science</option>
                        <option value="Master of Information Systems">Master of Information Systems</option>
                        <option value="Master of Software Development">Master of Software Development</option>
                        <option value="Master of Data Analytics">Master of Data Analytics</option>
                        <!-- Bachelor's Degrees -->
                        <option value="Bachelor in Physical Education">Bachelor in Physical Education</option>
                        <option value="Bachelor of Arts in Psychology">Bachelor of Arts in Psychology</option>
                        <option value="Bachelor of Engineering in Mechanical Engineering">Bachelor of Engineering in Mechanical Engineering</option>
                        <option value="Bachelor of Science in Environmental Science">Bachelor of Science in Environmental Science</option>
                        <option value="Bachelor of Music">Bachelor of Music</option>
                        <option value="Bachelor of Business Administration">Bachelor of Business Administration</option>
                        <option value="Bachelor of Science in Chemistry">Bachelor of Science in Chemistry</option>
                        <option value="Bachelor of Communication Studies">Bachelor of Communication Studies</option>
                        <option value="Bachelor of Social Work">Bachelor of Social Work</option>
                        <option value="Bachelor of Software Engineering">Bachelor of Software Engineering</option>
                        <option value="Bachelor of Data Science">Bachelor of Data Science</option>
                        <option value="Bachelor of Science in Information Technology">Bachelor of Science in Information Technology</option>
                        <option value="Bachelor of Fine Arts in Graphic Design">Bachelor of Fine Arts in Graphic Design</option>
                        <option value="Bachelor of Science in Nursing">Bachelor of Science in Nursing</option>
                        <option value="Bachelor of Fine Arts in Photography">Bachelor of Fine Arts in Photography</option>
                        <!-- Other Degrees -->
                        <option value="Doctor in Public Administration">Doctor in Public Administration</option>
                        <option value="Doctor of Medicine">Doctor of Medicine</option>
                        <option value="Doctor of Philosophy in Economics">Doctor of Philosophy in Economics</option>
                        <option value="Doctor of Dental Medicine">Doctor of Dental Medicine</option>
                        <option value="Doctor of Psychology">Doctor of Psychology</option>
                        <option value="Doctor of Veterinary Medicine">Doctor of Veterinary Medicine</option>
                        <option value="Juris Doctor">Juris Doctor</option>
                      </select>
                 
                </div> 
                </div>
              </div>

              <div class="row mb-3">
                <label for="specialization" class="col-md-4 col-lg-3 col-form-label">Specialization</label>
                <div class="col-md-8 col-lg-9">
                    <input name="specialization" type="text" class="form-control" id="specialization" />
                </div>
            </div>

              <div class="row mb-3">
                <label for="date_hired" class="col-md-4 col-lg-3 col-form-label">Date Hired</label>
                <div class="col-md-8 col-lg-9">
                  <input required name="date_hired" type="date" class="form-control" id="date_hired" value="" >
                </div>
              </div>

              <br><br><br>

              <h5 class="card-title">Preferred Schedule</h5>

              <div class="row mb-3">
                <label for="day" class="col-md-4 col-lg-3 col-form-label">Day</label>
                <div class="col-md-8 col-lg-9">
                  <div class="col-md-10" style="width:100%;">
     
                      <select class="form-select" name="day" id="day" style="height:40px;" aria-label="day">
                        <option value="Monday">Monday</option>
                        <option value="Tuesday">Tuesday</option>
                        <option value="Wednesday">Wednesday</option>
                        <option value="Thursday">Thursday</option>
                        <option value="Friday">Friday</option>
                        <option value="Monday to Tuesday">Monday to Tuesday</option>
                        <option value="Monday to Wednesday">Monday to Wednesday</option>
                        <option value="Monday to Thursday">Monday to Thursday</option>
                        <option value="Monday to Friday">Monday to Friday</option>
                        <option value="Tuesday to Wednesday">Tuesday to Wednesday</option>
                        <option value="Tuesday to Thursday">Tuesday to Thursday</option>
                        <option value="Tuesday to Friday">Tuesday to Friday</option>
                        <option value="Wednesday to Thursday">Wednesday to Thursday</option>
                        <option value="Wednesday to Friday">Wednesday to Friday</option>
                        <option value="Thursday to Friday">Thursday to Friday</option>
                        <option value="Monday, Wednesday, and Friday">Monday, Wednesday, and Friday</option>
                        <option value="Tuesday, Thursday, and Friday">Tuesday, Thursday, and Friday</option>
                        <option value="Monday, Tuesday, and Thursday">Monday, Tuesday, and Thursday</option>
                        <option value="Every Day">Every Day</option>
                      </select>
                 
                </div> 
                </div>
              </div>

              <div class="row mb-3">
                <label for="time" class="col-md-4 col-lg-3 col-form-label">Time</label>
                <div class="col-md-8 col-lg-9">
                  <div class="col-md-10" style="width:100%;">
     
                      <select class="form-select" name="time" id="time" style="height:40px;" aria-label="time">
                        <option value="9:00 AM - 12:00 PM">Morning (9:00 AM - 12:00 PM)</option>
                        <option value="12:00 PM - 2:00 PM">Noon (12:00 PM - 2:00 PM)</option>
                        <option value="2:00 PM - 6:00 PM">Afternoon (2:00 PM - 6:00 PM)</option>
                        <option value="6:00 PM - 9:00 PM">Evening (6:00 PM - 9:00 PM)</option>
                        <option value="Whole Day">Whole Day</option>
                      </select>
                 
                </div> 
                </div>
              </div>

              <br><br><br>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="bi bi-x-circle"></i> Cancel</button>
            <button type="submit" class="btn btn-primary"><i class="bi bi-plus-circle"></i> Add</button>
    </form>
          </div>
        </div>
      </div>
    </div><!-- End Add Record Modal-->

{% endblock %}
