{% extends "base.html" %}{% block title %}OTP Verification{% endblock %} {% block content%}

  <body>

    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
    <div class="limiter">
      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

          <form method="POST" action"/auth/sysadmin" autocomplete="off"> 
             
            <input autocomplete="false" name="hidden" type="text" style="display:none;">
            <div class="d-flex justify-content-center py-4">
              <a href="/" class="logo d-flex align-items-center w-auto text-decoration-none">
                <img src="{{ url_for('static', filename='images/Default-Images/pupqc-logo.png')}}" alt="PUPFIS LOGO" class="rounded mx-auto d-block"  style="width:50px;height:50px;"s/>
                <div >
                  <h4 class="d-flex align-items-end ms-sm-1">Faculty Information System</h4>
                </div>
              </a>
            </div><!-- End Logo -->

            <div class="card mb-3" style="border-width:3px;">

              <div class="card-body">

                <div class="pt-4 pb-2">
                  <h5 class="card-title text-center pb-0 fs-4">OTP Verification!</h5>
                </div>

                <div class="col-12 my-md-3 text-center">
                  <p class="mb-0"><strong>Please enter the OTP Code sent in the FIS System Admin Email</strong></p>
                  <br>
                  <div class="input-group has-validation" data-validate="OTP Code is required!">
                      <input type="text" name="otp_code" class="form-control text-center" id="otp_code" autocomplete="off" placeholder="OTP Code" required>
                      <div class="invalid-feedback">Please enter OTP Code.</div>
                  </div>
              </div>

                  <div class="col-12 my-md-3">
                     {# TOO MANY ATTEMPTS TIMER#} 
                     <span id="manyAttempt" style="display: none; color: #8B0000;">Many incorrect attempt... Please wait for <span id="countdownDisplay" style="font-size: 14px;"></span> seconds before trying again.</span>
                    <button class="btn btn-primary w-100" type="submit" id="submitBtn"><strong>Verify OTP</strong></button>
                  </div>

                </form>

          </div>
        </div>

             {# DISPLAY NOTIFICATION ERROR  #} 

            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages%}
                {% if category == 'error' %}
                <div class="alert alert-danger alter-dismissable fade show" role="alert" style="z-index:1;">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              
                  {% endif %}
                {% endfor %}
              {% endif %}
            {% endwith %}

  
          <div class="login100-more" style="background-image: url({{url_for('static', filename='images/Default-Images/pupqc-statue.png')}});">
          </div>
        </div>
      </div>
    </div>

    <!--Reset Password Modal-->
    <div class="modal top fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true" data-mdb-backdrop="true" data-mdb-keyboard="true">
   <div class="modal-dialog" style="width: 600px;">
       <div class="modal-content text-center">
           <div class="modal-header h5 text-white bg-danger justify-content-center">
               Admin Account Reset Password
           </div>
           <div class="modal-body px-10">
               <p class="py-2">
                   Enter your webmail address and we'll send you a link to reset your password. 
               </p>
               <p class="py-2">(example123@webmail.com)</p>
               <div class="form-outline">
                <form action="/admin-request-reset-pass" method="POST">
                   <input name="resetpass" type="email" id="typeEmail" class="form-control my-3" required/>
                   <label class="form-label" for="typeEmail">Email input</label>
               </div>
               <button type="submit" class="btn btn-primary w-50 btn-danger">Reset Password</button>
           </div>
              </form>
       </div>
   </div>
</div>

{# SUCCESS MODAL #}  

<button type="hidden" id="success" href="#successmodal" class="trigger-btn" data-toggle="modal"></button>

<div id="successmodal" class="modal fade" data-backdrop="static"> 
  <div class="modal-dialog modal-confirm">
    <div class="modal-content text-center">
      <div class="modal-header h5 text-white bg-success justify-content-center">				
        <h4 class="modal-title w-100">Successfully Sent!</h4>	
      </div>
      <div class="modal-body px-10">
        <p class="text-center">Your link to reset your Admin Account Password was confirmed. Please check your webmail.</p>
      </div>
      <div class="modal-footer justify-content-center">
        <a href="/admin-login" class="btn btn-primary w-50 btn-success">OK</a>
      </div>
    </div>
  </div>
</div>



{% if sentreset == 1 %}
<script>
  window.onload = function(){
    document.getElementById('success').click();
  }
</script>
{% endif %}

</section>
  </body>

  {% endblock %}