body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.navbar {
    display: flex;
    position: relative;
    background-color: rgb(250, 250, 250);
    overflow: hidden;
    border-bottom: .5px solid #333333;
    left: 255px;
    width: 85%;
}
.left-label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.fa-bars {
    display: flex;
    position: relative;
    align-items: center;
    cursor: pointer;
    margin: 0 20px 0 10px;
}
.navbar a {
    float: left;
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
}
.navbar a:hover {
    background-color: #555;
}

.sidebar {
    height: 100%;
    width: 250px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #2B2D42;
    padding-top: 20px;
}
.sidebar a {
    display: flex;
    padding: 15px;
    text-decoration: none;
    font-size: 18px;
    justify-content: center;
    color: white;
    transition: 0.3s;
}
.text {
    margin-top: 70px;
}
.sidebar a:hover {
    background-color: #000000;
}
.content {
    margin-left: 250px;
    padding: 20px;
}
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 100%;
    max-height: 121px;
    max-width: 121px;
}


.home {
  color: #ffffff;
  text-align: left;
  font: 600 35px "Source Sans Pro", sans-serif;
  position: absolute;
  left: 377px;
  top: 136px;
  width: 114px;
  height: 44px;
}
.news-feed {
  color: #000000;
  text-align: left;
  font: 400 25px "Source Sans Pro", sans-serif;
  position: absolute;
  left: 436px;
  top: 512px;
  width: 189px;
  height: 44px;
}
.announcement {
  color: #000000;
  text-align: left;
  font: 400 25px "Source Sans Pro", sans-serif;
  position: absolute;
  left: 761px;
  top: 512px;
  width: 268px;
  height: 44px;
}
.faculty-members {
  color: #000000;
  text-align: center;
  font: 400 25px "Source Sans Pro", sans-serif;
  position: absolute;
  left: 1118px;
  top: 512px;
  width: 268px;
  height: 44px;
}
.latest-announcement-news-feed-faculty-members {
  color: #ffffff;
  text-align: left;
  font: 400 18px "Source Sans Pro", sans-serif;
  position: absolute;
  left: 388px;
  top: 180px;
  width: 655px;
  height: 30px;
}

.rectangle-16 {
  width: 100%;
  height: 187px;
  position: absolute;
}
.rectangle-17 {
  width: 265px;
  height: 262px;
  position: absolute;
  left: 398px;
  top: 230px;
}
.rectangle-18 {
  width: 265px;
  height: 262px;
  position: absolute;
  left: 758px;
  top: 230px;
}
.rectangle-19 {
  width: 265px;
  height: 262px;
  position: absolute;
  left: 1118px;
  top: 230px;
}
.rectangle-20 {
  width: 70%;
  height: 326px;
  position: absolute;
  left: 398px;
  top: 602px;
}

.top-right {
  top: 0;
  right: 0;
}