{% extends "/Faculty-Home-Page/base.html" %}{% block title %}Awards & Recognitions{% endblock %} {% block content%}


<!-- Include jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Include DataTables CSS -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">

<!-- Include DataTables JS -->
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>

<!-- Include DataTables Buttons CSS and JS -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.3.5/css/buttons.dataTables.min.css">
<script src="https://cdn.datatables.net/buttons/2.3.5/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.5/js/buttons.html5.min.js"></script>

<!-- Include DataTables Print Button JS -->
<script src="https://cdn.datatables.net/buttons/2.3.5/js/buttons.print.min.js"></script>

<main id="main" class="main">

    <div class="pagetitle">
      <h1>Awards & Recognitions</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">Homepage</li>
          <li class="breadcrumb-item">{{User}}</li>
          <li class="breadcrumb-item active">Awards & Recognitions</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <style>
        .responsive-table {
          display: flex;
          flex-wrap: wrap;
          margin: -10px; /* Adjust margin as needed */
        }
      
        .responsive-table td {
          flex: 1;
          padding: 10px; /* Adjust padding as needed */
          box-sizing: border-box;
        }
      
        .responsive-table h6 {
          margin: 0;
        }
        .btnprinter-container {
          text-align: right;
        }
      
        .btnprinter {
          width: 50px;
          background-color: transparent;
          border: none;
          padding: 0;
          cursor: pointer;
        }
      
        .btnprinter i {
          font-size: 24px; /* You can adjust the font size as needed */
          color: #000; /* You can set the color as needed */
        }
      </style>
              <div class="card">
                <div class="card-body">
                  <div class="card-body profile-card pt-4 d-flex flex-column align-items-start">
                    <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                      <h5><strong>Awards Received and Recognitions</strong></h5>
                    </div>
                  </div>
    
                  <div class="d-flex justify-content-end my-md-2">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#awardModal"><i class="bx bx-plus"></i> Add New</button>
                  </div>

                  <br>
                
                  <!-- Table with stripped rows -->
                  <table id="table1" class="display" style="width:100%">
                    <thead>
                      <tr>
                        <th scope="col">Award/Recognition Title</th>
                        <th scope="col">Award Recipient</th>
                        <th scope="col">Date Received</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td scope="row">Exceptional Leadership and Innovation</td>
                        <td>{{user.FirstName}} {{user.MiddleInitial}} {{user.LastName}}</td>
                        <td>09/15/2023</td>
                        <td> 
                          <div class="d-grid gap-2 mt-3">
                            <button type="button" onclick="classredirectToURL()" class="btn btn-success">View</i></button>
                            <script>
                              function classredirectToURL() {
                                  window.location.href = '/Awards-Recognitions-View/0001';
                              }
                          </script>
                          </div>
                      </td>
                      </tr>
                      <tr>
                        <td scope="row">SAMPLE</td>
                        <td>Alma A. Fernandez</td>
                        <td>09/15/2023</td>
                        <td> 
                          <div class="d-grid gap-2 mt-3">
                            <button type="button" class="btn btn-success">View</i></button>
                          </div>
                      </td>
                      </tr>
                    </tbody>
                  </table>
                  <!-- End Table with stripped rows -->
                  <br>
                  <br>
               
                </div>
              </div>
    
            </div>
    
        </section>
    
      </main><!-- End #main -->

       <!-- Committee Modal -->
  <div class="modal fade" id="awardModal" tabindex="-1" aria-labelledby="awardModalModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="uploadModalLabel">Add Award</h5>
          <!-- close button -->
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="row mb-3">
              <label for="inputText" class="col-sm-2 col-form-label">Title</label>
              <div class="col-sm-10">
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="row mb-3">
              <label for="inputPassword" class="col-sm-2 col-form-label">Recipient</label>
              <div class="col-sm-10">
                <input type="text" class="form-control"></input>
              </div>
            </div>
            <div class="row mb-3">
              <label for="inputDate" class="col-sm-2 col-form-label">Date Received</label>
              <div class="col-sm-10">
                <input type="date" class="form-control">
              </div>
            </div>
            <div class="row mb-3">
              <label for="inputNumber" class="col-sm-2 col-form-label">File Upload <br><strong>(PDF FORMAT)</strong></label>
              <div class="col-sm-10">
                <span id="fileNameDisplay"></span>
                <button type="button" id="btnup" class="btn btn-warning btn-sm" onclick="document.getElementById('fileup').click()">Browse File</button>
                <input type="file" value="" name="fileup" id="fileup" hidden required></input>
                <input type="text" id="base64" name="base64" hidden></input>
                
              </div>
            </div>
            <div class="row mb-3">
              <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
<!-- END OF MODAL -->
    
      <script>
        $(document).ready(function() {
          // Function to initialize DataTable for a given table ID
          function initializeDataTable(tableId, buttonId, title, customExportColumns) {
            var dataTable = $(tableId).DataTable({
              dom: 'BPlfrtip',
              responsive: true,
              columnDefs: [
                {
                  searchPanes: {
                    show: true
                  },
                  targets: [0]
                },
                {
                  searchPanes: {
                    show: false
                  },
                  targets: [2]
                }
              ],
              buttons: [
                {
                  extend: 'print',
                  class: 'buttons-print',
                  title: title, // Set the title for each table
                  messageBottom: null,
                  exportOptions: {
                    columns: customExportColumns
                  },
                  text: 'Print'
                }
              ]
            });
      
             // Initially hide the DataTables print button
            dataTable.buttons('.buttons-print').nodes().addClass('d-none');
      
            $('#' + buttonId).on('click', function() {
              // Trigger the DataTables print button click
              dataTable.buttons('.buttons-print').trigger();
            });
          }
      
          // Customize your export options for each table
          var exportColumnsTable1 = [ 0, 1, 2, 3, 4, 5 ];
      
          // Initialize DataTables for each table
          initializeDataTable('#table1', 'btnPrintDetail1', 'BSIT-3-1 Class Schedules', exportColumnsTable1);
        });
      </script>


{% endblock %}

      