{% extends "/Faculty-Home-Page/base.html" %}{% block title %}Awards & Recognitions{% endblock %} {% block content%}


<main id="main" class="main">

    <div class="pagetitle">
      <h1>Awards & Recognitions</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">Homepage</li>
          <li class="breadcrumb-item">{{User}}</li>
          <li class="breadcrumb-item active">Awards & Recognitions</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row align-items-top">
        <div class="col-12">

          <div class="card d-flex  p-5 ">
            <div class="row d-flex flex-column">
                <div class="col d-flex flex-row">
                    <label for="yearDropdown">Sort:</label>
                    <select class="form-control" id="yearDropdown" onchange="sortData()">
                      <option value="">All Years</option>
                      <option value="2023">2023</option>
                      <option value="2022">2022</option>
                      <option value="2021">2021</option>
                      <!-- Add more years as needed -->
                    </select>
                </div>
                <div class="col d-flex flex-column justify-content-center">
                  <br>
                    <H3 class="pb-3 d-flex align-self-center justify-content-center font-weight-bold">AWARDS AND RECOGNITION</H3>
                    <br>
                    <img class="img-thumbnail d-flex align-self-center" src="http://drive.google.com/uc?export=view&id=1ohQBe8o4byYSJ7urQtZnqPkRCl0QYfA-" alt="award_cert image">
                </div>
                <div class="row d-flex text-left pt-3">
                    <h5 class="font-weight-bolder">Award: <span class="font-weight-normal">Exceptional Leadership and Innovation</span></h5>
                    <h5 class="font-weight-bolder">Award Recipient: <span class="font-weight-normal">{{user.first_name}} {{user.middle_initial}} {{user.last_name}} </span></h5>
                    <h5 class="font-weight-bolder">Date: <span class="font-weight-normal">August 15, 2023</span></h5>
                </div>
                <div>
                  <br>
                    <p class="text-wrap">
                      We are delighted to present the prestigious "Exceptional Leadership and Innovation Award" to Jane Doe, a trailblazer who has made an indelible mark in the field of sustainable technology. This award, bestowed on August 15, 2023, celebrates Jane's remarkable achievements and visionary leadership that have significantly advanced the realm of renewable energy solutions.
                    </p>
                </div>
              </div>
            </div>
        
          </div><!-- End Default Card -->

      </div>

    </section>

  </main><!-- End #main -->

{% endblock %}

      