blinker
certifi
charset-normalizer
click
colorama
Flask
idna
itsdangerous
Jinja2
MarkupSafe
psycopg2
psycopg2-binary
requests
urllib3
Werkzeug
gunicorn
packaging
aniso8601
attrs
configparser
flask-restx
jsonschema
jsonschema-specifications
pytz
referencing

# VERSION 1.2
cffi
cryptography
Flask-Cors
funcs
named
pycparser
python-dotenv
solus
typing-aliases
typing_extensions
wraps
Flask-SQLAlchemy
Flask-Login

# VERSION 1.5
cachetools
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
googleapis-common-protos
httplib2
oauth2client
protobuf
pyasn1
pyasn1-modules
PyDrive
pyparsing
PyYAML
rsa
six
uritemplate

# VERSION 1.8

Flask-Mail
flask_wtf
dnspython
email-validator


# VERSION 2.1

PyMuPDF
pydantic
flask_jwt_extended
PyJWT

# VERSION 2.4

Flask-Migrate
Flask-Script