<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Welcome-Page/style.css')}}">
    <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous"
  />
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    crossorigin="anonymous"
  />

  <title>{% block title %} Faculty Information System {% endblock %}</title>
    <link rel = "icon" href = "{{url_for('static', filename='images/Default-Images/pupicon.png')}}" 
    type = "image/x-icon">
  </head>
  <body>
    <div class="rectangle-5">
      <img class="rectangle-5" src="{{ url_for('static', filename='images/Welcome-Page/rectangle-5.png')}}" />
    </div>
     <div class="column">
          <img class="image-2" src="{{ url_for('static', filename='images/Welcome-Page/image-2.png')}}"/>
          <div class="faculty-information-system">FACULTY INFORMATION SYSTEM</div>
          <div class="login-as">Login As:</div>
          <a type="button"class="rectangle-9" href="/faculty-login">Faculty</a>
          <a type="button" class="rectangle-10" href="/admin-login">Admin</a>  
      </div>


 

     
      <!-- FOOTER -->

      <div class="rectangle-1">
        <div class="footer-dts">
          <img class="image-1" src="{{ url_for('static', filename='images/Welcome-Page/image-1.png')}}"/>
          <div class="telephone-632-8952-7818-632-8287-8204">
            Telephone (632) 8952-7818 (632) 8287-8204
          </div>
          <div class="quezoncity-pup-edu-ph-postal-mail">
            quezoncity@pup.edu.ph Postal Mail
          </div>
          <div
            class="pup-quezon-city-branch-don-fabian-st-commonwealth-quezon-city-philippines"
          >
            PUP Quezon City Branch Don Fabian St., Commonwealth Quezon City
            Philippines
          </div>
      </div>
      </div>
    
   {# JAVASCRIPTS  #} 

      <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

  </body>
</html>
