{% extends "/Faculty-Home-Page/base.html" %}{% block title %}Collaboration & Research Opportunities{% endblock %} {% block content%}


<main id="main" class="main">

    <div class="pagetitle">
      <h1>Collaboration & Research Opportunities</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">Homepage</li>
          <li class="breadcrumb-item">{{User}}</li>
          <li class="breadcrumb-item active">Research Innovation For Creative Work</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
                <div class="col-xl-9 d-flex flex-column align-items-center">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Institution Commitment to Interdisciplinary Collaboration</h5>
                            <p>Institutional commitment to interdisciplinary collaboration signifies PUPQC's steadfast dedication to nurturing an academic environment where the merging of knowledge, methodologies, 
                                and perspectives across various disciplines is actively encouraged and supported. This commitment reflects our recognition that many of today's pressing societal issues 
                                and research questions demand holistic and multifaceted solutions that transcend the confines of individual academic fields.
                                At PUPQC, we prioritize the breaking down of traditional silos and fostering connections between departments, faculties, 
                                and research centers to promote synergistic research, teaching, and problem-solving.</p>
                        </div>
                    </div>
                    <div class="input-group d-flex justify-content-center">
                        <input type="search" class="form-control" placeholder="Search..." aria-label="Search ">
                        <i class="bi bi-search" style="position: absolute; top: 50%; transform: translateY(-50%); right: 10px;"></i>
                         <!-- End Search Bar -->
                      </div>

                      <div class="d-flex flex-row justify-content-between mt-md-2">
                        <label for="sort"><button type="button" class="btn btn-light mb-2">
                          Sort <span class="bx bx-sort"></span>
                        </button></label>
                        <!-- Right/End Aligned Pagination -->
                        <nav aria-label="Page navigation example">
                          <ul class="pagination justify-content-end">
                            <li class="page-item disabled">
                              <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                              <a class="page-link" href="#">Next</a>
                            </li>
                          </ul>
                        </nav><!-- End Right/End Aligned Pagination -->
                    </div>  <!-- end sort -->
                  


                   <!-- List group with Advanced Contents -->
                  <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action mb-md-2">
                      <div class="d-flex">
                        <div class="card-body">
                            <h5 class="card-title">Innovation in Sustainable Energy Research Grant</h5>
                            <div class="card-subtitle d-flex mb-2t">
                                <h6 class="col-md-2 bi bi-dot"> Date here</h6> 
                                <h6 class="col-md-2 bi bi-dot"> Due here</h6> 
                            </div>
                            <p> PUPQC University is pleased to announce the "Innovation in Sustainable Energy Research Grant" in collaboration with the Clean Energy Foundation. 
                                    This competitive grant program aims to support cutting-edge research projects that focus on advancing sustainable energy technologies, reducing environmental impact, 
                                    and promoting clean energy solutions.</p>

                                <h6 class="head fw-bold">Grant Details:</h6>
                                        <p class="bi bi-dot">                    
                                              Funding Amount: Up to $250,000 per project</p>
                                        <p class="bi bi-dot">
                                            Eligibility: Faculty members, researchers, and interdisciplinary research teams at PUPQC University</p>
                        </div>
                    </div>
                    </a>

                    <a href="#" class="list-group-item list-group-item-action mb-md-2">
                      <div class="">
                        <div class="card-body">
                            <h5 class="card-title">Community-University Partnership for Urban Sustainability</h5>
                            <div class="card-subtitle d-flex mb-2 text-muted">
                                <h6 class="col-md-2 bi bi-dot"> Date here</h6> 
                                <h6 class="col-md-2 bi bi-dot"> Due here</h6> 
                            </div>
                            <p> PUPQC University has established a collaborative research initiative in partnership with the City of Springfield to address urban sustainability challenges. 
                                This collaboration brings together academic researchers, local government officials, and community stakeholders 
                                 to develop innovative solutions for sustainable urban development.</p>
                                      <h6 class="head fw-bold">Collaboration overview:</h6>
                                        <p class="bi bi-dot">                    
                                            Parners:</p>
                        </div>
                    </div>
                    </a>

                    <a href="#" class="list-group-item list-group-item-action mb-md-2">
                      <div class="">
                        <div class="card-body">
                            <h5 class="card-title">Global Health Research Fellowship - Partnership with Health for All Foundation</h5>
                            <div class="card-subtitle d-flex mb-2 text-muted">
                                <h6 class="col-md-2 bi bi-dot"> Date here</h6> 
                                <h6 class="col-md-2 bi bi-dot"> Due here</h6> 
                            </div>
                                <p> PUPQC University is excited to announce a prestigious research fellowship opportunity in partnership with the Health for All Foundation, 
                                    a leading international nonprofit organization dedicated to improving global health outcomes. This fellowship program offers researchers 
                                    a unique chance to engage in impactful global health research initiatives and make a difference in underserved communities worldwide.</p>
                                        <h6 class="head fw-bold">Fellowship overview:</h6>
                                            <p class="bi bi-dot">                    
                                                Partner: Health for All Foundation</p>
                                <p class="bi bi-dot">
                                    Objective: To conduct innovative research projects addressing critical global health challenges.</p>
                                <p class="bi bi-dot">
                                                Duration: 12 months (Renewable for up to 3 years)</p>
                        </div>
                    </div>
                    </a>
                  </div><!-- End List group Advanced Content -->
                </div>
                <div class="card d-flex col-lg-3 p-4 ">
                    <div class="card-body">
                        <div class="col d-flex mb-4 justify-content-center">
                            <label for="sort">Sort:</label>
                            <select class="form-control d-flex w-75 " id="sortDropdown" onchange="sortData()">
                            </select>
                        </div>  <!-- end sort -->
                        <div class="faculty p-2">
                            <h6 class="title d-flex text-black font-weight-bolder justify-content-center p-2">FACULTY RESEARCH EXPERTISE</h6>
                            <div class="profile d-flex align-items-center p-2">
                                <img class="profile-image bg-dark" src="https://lh3.googleusercontent.com/d/{{gatch.ProfilePic}}" alt="" style="width: 100px; height: 100px;border-radius: 50%;margin-right: 15px;">
                                <div class="profile-info">
                                <h5 class="profile-name">Prof. {{gatch.LastName}}</h5>
                                </div>
                            </div>       
                            <div class="profile d-flex align-items-center p-2">
                                <img class="profile-image bg-dark" src="https://lh3.googleusercontent.com/d/{{dem.ProfilePic}}" alt="" style="width: 100px; height: 100px;border-radius: 50%;margin-right: 15px;">
                                <div class="profile-info">
                                <h5 class="profile-name">Prof. {{dem.LastName}}</h5>
                                </div>
                            </div>     
                            <div class="profile d-flex align-items-center p-2">
                                <img class="profile-image bg-dark" src="https://lh3.googleusercontent.com/d/{{che.ProfilePic}}" alt="" style="width: 100px; height: 100px;border-radius: 50%;margin-right: 15px;">
                                <div class="profile-info">
                                <h5 class="profile-name">Prof. {{che.LastName}}</h5>
                                </div>
                            </div>     
                            <div class="profile d-flex align-items-center p-2">
                                <img class="profile-image bg-dark" src="https://lh3.googleusercontent.com/d/{{drew.ProfilePic}}" alt="" style="width: 100px; height: 100px;border-radius: 50%;margin-right: 15px;">
                                <div class="profile-info">
                                <h5 class="profile-name">Prof. {{drew.LastName}}</h5>
                                </div>
                            </div>      
                        </div>
                        <br><br>
                        <div class="other p-2">
                            <h6 class="title d-flex text-black font-weight-bolder justify-content-center p-2">OTHER RESEARCHERS</h6>
                            <div class="profile d-flex align-items-center p-2">
                                <img class="profile-image bg-dark" src="https://lh3.googleusercontent.com/d/{{celeste.ProfilePic}}" alt="" style="width: 100px; height: 100px;border-radius: 50%;margin-right: 15px;">
                                <div class="profile-info">
                                  <h5 class="profile-name">Prof. {{celeste.LastName}}</h5>
                                </div>
                            </div>       
                            <div class="profile d-flex align-items-center p-2">
                                <img class="profile-image bg-dark" src="https://lh3.googleusercontent.com/d/{{berna.ProfilePic}}" alt="" style="width: 100px; height: 100px;border-radius: 50%;margin-right: 15px;">
                                <div class="profile-info">
                                  <h5 class="profile-name">Prof. {{berna.LastName}}</h5>
                                </div>
                            </div>     
                        </div>            
                    </div>
                </div>
            </div>
      
    </section>

  </main><!-- End #main -->

{% endblock %}

      