{% extends "/Faculty-Home-Page/base.html" %}{% block title %}Collaboration & Research Opportunities{% endblock %} {% block content%}


<main id="main" class="main">

    <div class="pagetitle">
      <h1>Collaboration & Research Opportunities</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">Homepage</li>
          <li class="breadcrumb-item">{{User}}</li>
          <li class="breadcrumb-item active">Research and Publication</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
                <div class="col-xl-9 d-flex flex-column align-items-cente">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Institution Commitment to Interdisciplinary Collaboration</h5>
                            <p>Institutional commitment to interdisciplinary collaboration signifies PUPQC's steadfast dedication to nurturing an academic environment where the merging of knowledge, methodologies, 
                                and perspectives across various disciplines is actively encouraged and supported. This commitment reflects our recognition that many of today's pressing societal issues 
                                and research questions demand holistic and multifaceted solutions that transcend the confines of individual academic fields.
                                At PUPQC, we prioritize the breaking down of traditional silos and fostering connections between departments, faculties, 
                                and research centers to promote synergistic research, teaching, and problem-solving.</p>
                        </div>
                    </div>
                    <div class="input-group d-flex  mb-2 w-75">
                    <input type="search" class="form-control d-flex justify-content-center" placeholder="Search..." aria-label="Search ">
                    <i class="bi bi-search" style="position: absolute; top: 50%; transform: translateY(-50%); right: 10px;"></i>
                    
                    </div>
                        <!-- End Search Bar -->
                            <div class="col d-flex mb-4">
                                <label for="sort">Sort:</label>
                                <select class="form-control d-flex w-25 " id="sortDropdown" onchange="sortData()">
                                </select>
                            </div>  <!-- end sort -->
                    <div class="card d-flex">
                        <div class="card-body">
                            <h5 class="card-title">Innovation in Sustainable Energy Research Grant</h5>
                            <div class="card-subtitle d-flex mb-2 text-muted bi bi-dot">
                              <h6 class="date col-md-2"> December 3, 2021</h6> 
                              <h6 class="due col-md-2"> February 12, 2023</h6> 
                            </div>
                                <p> PUPQC University is pleased to announce the "Innovation in Sustainable Energy Research Grant" in collaboration with the Clean Energy Foundation. 
                                    This competitive grant program aims to support cutting-edge research projects that focus on advancing sustainable energy technologies, reducing environmental impact, 
                                    and promoting clean energy solutions.</p>

                                    <h6 class="head fw-bold">Grant Details:</h6>
                                            <p class="bi bi-dot">                    
                                                Funding Amount: Up to $250,000 per project</p>
                                            <p class="bi bi-dot">
                                                Eligibility: Faculty members, researchers, and interdisciplinary research teams at PUPQC University</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Community-University Partnership for Urban Sustainability</h5>
                            <div class="card-subtitle d-flex mb-2 text-muted bi bi-dot">
                              <h6 class="date col-md-2"> December 3, 2021</h6> 
                              <h6 class="due col-md-2"> February 12, 2023</h6> 
                            </div>
                                <p> PUPQC University has established a collaborative research initiative in partnership with the City of Springfield to address urban sustainability challenges. 
                                    This collaboration brings together academic researchers, local government officials, and community stakeholders 
                                    to develop innovative solutions for sustainable urban development.</p>
                                        <h6 class="head fw-bold">Collaboration overview:</h6>
                                            <p class="bi bi-dot">                    
                                                Parners:</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Global Health Research Fellowship - Partnership with Health for All Foundation</h5>
                            <div class="card-subtitle d-flex mb-2 text-muted bi bi-dot">
                                <h6 class="date col-md-2"> December 3, 2021</h6> 
                                <h6 class="due col-md-2"> February 12, 2023</h6> 
                            </div>
                                <p> PUPQC University is excited to announce a prestigious research fellowship opportunity in partnership with the Health for All Foundation, 
                                    a leading international nonprofit organization dedicated to improving global health outcomes. This fellowship program offers researchers 
                                    a unique chance to engage in impactful global health research initiatives and make a difference in underserved communities worldwide.</p>
                                        <h6 class="head fw-bold">Fellowship overview:</h6>
                                            <p class="bi bi-dot">                    
                                                Partner: Health for All Foundation</p>
                                <p class="bi bi-dot">
                                    Objective: To conduct innovative research projects addressing critical global health challenges.</p>
                                <p class="bi bi-dot">
                                                Duration: 12 months (Renewable for up to 3 years)</p>
                        </div>
                    </div>
                </div>
                <div class="card d-flex col-lg-3 p-4 ">
                    <div class="card-body">
                        <div class="col d-flex mb-4 justify-content-center">
                            <label for="sort">Sort:</label>
                            <select class="form-control d-flex w-75 " id="sortDropdown" onchange="sortData()">
                            </select>
                        </div>  <!-- end sort -->
                        <div class="faculty p-2">
                            <h4 class="title d-flex text-black font-weight-bolder justify-content-center p-2">FACULTY RESEARCH EXPERTISE</h4>
                            <div class="profile d-flex align-items-center p-2">
                                <img class="profile-image bg-dark" src="https://lh3.googleusercontent.com/d/{{gatch.profile_pic}}" alt="" style="width: 150px; height: 100px;border-radius: 50%;margin-right: 15px;">
                                <div class="profile-info">
                                <h5 class="profile-name">Prof. {{gatch.name}}</h5>
                                </div>
                            </div>       
                            <div class="profile d-flex align-items-center p-2">
                                <img class="profile-image bg-dark" src="https://lh3.googleusercontent.com/d/{{dem.profile_pic}}" alt="" style="width: 150px; height: 100px;border-radius: 50%;margin-right: 15px;">
                                <div class="profile-info">
                                <h5 class="profile-name">Prof. {{dem.name}}</h5>
                                </div>
                            </div>     
                            <div class="profile d-flex align-items-center p-2">
                                <img class="profile-image bg-dark" src="https://lh3.googleusercontent.com/d/{{che.profile_pic}}" alt="" style="width: 100px; height: 100px;border-radius: 50%;margin-right: 15px;">
                                <div class="profile-info">
                                <h5 class="profile-name">Prof. {{che.name}}</h5>
                                </div>
                            </div>     
                            <div class="profile d-flex align-items-center p-2">
                                <img class="profile-image bg-dark" src="https://lh3.googleusercontent.com/d/{{drew.profile_pic}}" alt="" style="width: 100px; height: 100px;border-radius: 50%;margin-right: 15px;">
                                <div class="profile-info">
                                <h5 class="profile-name">Prof. {{drew.name}}</h5>
                                </div>
                            </div>      
                        </div>
                        <div class="other p-2">
                            <h4 class="title d-flex text-black font-weight-bolder justify-content-center p-2">OTHER RESEARCHERS</h4>
                            <div class="profile d-flex align-items-center p-2">
                                <img class="profile-image bg-dark" src="https://lh3.googleusercontent.com/d/{{celeste.profile_pic}}" alt="" style="width: 100px; height: 100px;border-radius: 50%;margin-right: 15px;">
                                <div class="profile-info">
                                  <h5 class="profile-name">Prof. {{celeste.name}}</h5>
                                </div>
                            </div>       
                            <div class="profile d-flex align-items-center p-2">
                                <img class="profile-image bg-dark" src="https://lh3.googleusercontent.com/d/{{berna.profile_pic}}" alt="" style="width: 100px; height: 100px;border-radius: 50%;margin-right: 15px;">
                                <div class="profile-info">
                                  <h5 class="profile-name">Prof. {{berna.name}}</h5>
                                </div>
                            </div>     
                        </div>            
                    </div>
                </div>
            </div>
      
    </section>

  </main><!-- End #main -->

{% endblock %}

      