{% extends "/Faculty-Home-Page/base.html" %}{% block title %}Dissertation{% endblock %} {% block content%}


<main id="main" class="main">

    <div class="pagetitle">
      <h1>Dissertation</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">Homepage</li>
          <li class="breadcrumb-item">{{User}}</li>
          <li class="breadcrumb-item active">Research Innovation For Creative Work</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
                  <div class="d-flex flex-column align-items-center">
                          <div class="input-group d-flex  justify-content-center mb-2">
                              <input type="search" class="form-control d-flex justify-content-center" placeholder="Search..." aria-label="Search ">
                              <i class="bi bi-search" style="position: absolute; top: 50%; transform: translateY(-50%); right: 10px;"></i>
                              </span>
                          </div>
                          <!-- End Search Bar -->
                          <div class="card p-md-2">
                              <div class="card-body">
                                  <div class="">
                                      <div class="d-flex justify-content-between">
                                          <label for="sort"><button type="button" class="btn btn-light mb-2">
                                              Sort <span class="bx bx-sort"></span>
                                            </button>
                                          </label>
  
                                           <!-- Right/End Aligned Pagination -->
                                          <nav aria-label="Page navigation example">
                                              <ul class="pagination justify-content-end">
                                              <li class="page-item disabled">
                                                  <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                                              </li>
                                              <li class="page-item"><a class="page-link" href="#">1</a></li>
                                              <li class="page-item"><a class="page-link" href="#">2</a></li>
                                              <li class="page-item"><a class="page-link" href="#">3</a></li>
                                              <li class="page-item">
                                                  <a class="page-link" href="#">Next</a>
                                              </li>
                                              </ul>
                                          </nav><!-- End Right/End Aligned Pagination -->
                                      </div>
                                      <div class="d-flex justify-content-center">
                                          <div class="form-check">
                                              <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                                              <label class="form-check-label" for="gridRadios1">
                                                Completed
                                              </label>
                                            </div>
                                            <div class="form-check">
                                              <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                                              <label class="form-check-label" for="gridRadios2">
                                                On-going
                                              </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                                                <label class="form-check-label" for="gridRadios2">
                                                  Upcoming
                                                </label>
                                              </div>
                                      </div>                      
                                            <!-- end Radios -->
                                      <div class="col d-flex flex-row justify-content-center mb-4">
                                          <label for="sort">YEAR:</label>
                                          <select class="form-control d-flex w-25" id="sortDropdown" onchange="sortData()">
                                          </select>
                                          <label for="sort">TO:</label>
                                          <select class="form-control d-flex w-25" id="sortDropdown" onchange="sortData()">
                                          </select>
                                      </div>  
                                      <!-- end sort -->
                                  </div>
                                  
                                  <!-- List group with Advanced Contents -->
                                  <div class="list-group">
                                      <a href="#" class="list-group-item list-group-item-action border border-dark mb-md-2">
                                              <div class="card-body">
                                                  <h5 class="card-title">Exploring Indigenous Knowledge Systems in Agriculture: A Case Study of Sustainable Farming Practices in Ifugao Province</h5>
                                                  <div class="row d-inline-flex my-sm-2">
                                                      <div class="col">
                                                          <p class="fw-bold">Author: <span class="fw-normal">Juan dela Cruz,</span><i class="fw-normal"> Phd</i></p>
                                                      </div>
                                                      <div class="col-auto">
                                                          <p class="fw-bold">Year: <span class="fw-normal">2022-2023</span></p>
                                                      </div>
                                                  </div>
                                                  <div class="card-subtitle d-flex mb-2">
                                                      <h6 class="date col-md-2 bi bi-dot  fw-bold">Published</h6> 
                                                      <h6 class="due col-md-2 bi bi-dot  fw-bold">Completed</h6> 
                                                  </div>
                                                      <p> Juan dela Cruz's groundbreaking dissertation embarks on an immersive journey into the heart of Ifugao Province, unraveling the intricate tapestry of indigenous 
                                                          knowledge systems in agriculture. With a meticulous blend of ethnography and agricultural science, this study seeks to understand, document, and 
                                                          celebrate the time-honored traditions of Ifugao farmers. Focusing on sustainable farming practices, including the architectural marvel of rice 
                                                          terracing and the centuries-old wisdom embedded in crop rotation, Juan aims to bridge the gap between traditional agricultural wisdom and 
                                                          contemporary sustainability efforts. Through an exhaustive exploration of these practices, the research endeavors not only to contribute 
                                                          to the preservation of cultural heritage but also to offer insights that can catalyze the evolution of environmentally conscious 
                                                          farming practices on a broader scale.
                                                          </p>
                                              </div>
                                      </a>
  
                                      <a href="#" class="list-group-item list-group-item-action border border-dark mb-md-2">
                                          <div class="card-body">
                                              <h5 class="card-title">Digital Literacy Among Filipino Youth: Implications for Educational Policies and Practices</h5>
                                              <div class="row d-inline-flex my-sm-2">
                                                  <div class="col">
                                                      <p class="fw-bold">Author: <span class="fw-normal">Prof.  Maria Hernandez,</span><i class="fw-normal"> Phd</i></p>
                                                  </div>
                                                  <div class="col-auto">
                                                      <p class="fw-bold">Year: <span class="fw-normal">2022-2023 </span></p>
                                                  </div>
                                              </div>
                                              <div class="card-subtitle d-flex mb-2">
                                                  <h6 class="date col-md-2 bi bi-dot fw-bold">Published</h6> 
                                                  <h6 class="due col-md-2 bi bi-dot fw-bold">Completed</h6> 
                                              </div>
                                                  <p> In an era defined by rapid technological advancement, Maria Hernandez's comprehensive dissertation immerses itself in the evolving landscape of digital literacy among Filipino 
                                                      youth. Navigating the uncharted waters of an increasingly digitalized world, this research is a testament to Maria's commitment to understanding and addressing the challenges 
                                                      and opportunities posed by technology integration in education. Through a multifaceted approach that combines educational psychology, policy analysis, and pedagogical theory, 
                                                      Maria aims to not only delineate the current state of digital literacy but also to carve a path forward. By proposing policy implications and innovative educational 
                                                      practices, the study aspires to equip Filipino youth with the necessary digital skills to navigate the complexities of the digital realm with confidence, 
                                                      competence, and ethical acumen.</p>
                                          </div>
                                      </a>
  
                                      <a href="#" class="list-group-item list-group-item-action border border-dark mb-md-2">
                                      <div class="card-body">
                                          <h5 class="card-title">Community Resilience in the Aftermath of Natural Disasters: A Comparative Analysis of Typhoon Response Strategies in Coastal Barangays</h5>
                                          <div class="row d-inline-flex my-sm-2">
                                              <div class="col">
                                                  <p class="fw-bold">Author: <span class="fw-normal">Prof.  Andres Reyes,</span><i class="fw-normal"> Phd</i></p>
                                              </div>
                                              <div class="col-auto">
                                                  <p class="fw-bold">Year: <span class="fw-normal">2022-2023</span></p>
                                              </div>
                                          </div>
                                          <div class="card-subtitle d-flex mb-2">
                                              <h6 class="date col-md-2 bi bi-dot fw-bold">Published</h6> 
                                              <h6 class="due col-md-2 bi bi-dot fw-bold">Completed</h6> 
                                          </div>
                                              <p> Andres Reyes' dissertation stands as a poignant exploration of the resilience exhibited by coastal communities in the Philippines in the wake of natural disasters, 
                                                  specifically typhoons. Through a meticulous comparative analysis of response strategies in various coastal barangays, the study aims to unearth effective 
                                                  community-based approaches for disaster preparedness, response, and recovery. Andres endeavors to illuminate the intricacies of resilience within the 
                                                  cultural and geographical context of these communities, providing a nuanced understanding of the socio-economic, environmental, and cultural factors 
                                                  that contribute to their ability to withstand and recover from the impacts of natural disasters. By documenting these strategies, the research not 
                                                  only contributes to academic knowledge but also aims to provide valuable insights for policymakers, disaster management professionals, 
                                                  and community leaders working toward building more resilient societies.</p>
                                      </div>
                                      </a>
                                  </div><!-- End List group Advanced Content --> 
                              </div>
                          </div>
                  </div>
              </div>
        </div>
      </section>

  </main><!-- End #main -->

{% endblock %}

      