{% extends "/Faculty-Home-Page/base.html" %}{% block title %}Research Report{% endblock %} {% block content%}

<!-- Include jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Include DataTables CSS -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">

<!-- Include DataTables JS -->
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>

<!-- Include DataTables Buttons CSS and JS -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.3.5/css/buttons.dataTables.min.css">
<script src="https://cdn.datatables.net/buttons/2.3.5/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.5/js/buttons.html5.min.js"></script>

<!-- Include DataTables Print Button JS -->
<script src="https://cdn.datatables.net/buttons/2.3.5/js/buttons.print.min.js"></script>

<main id="main" class="main">

    <div class="pagetitle">
      <h1>Research Report</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">Homepage</li>
          <li class="breadcrumb-item">{{User}}</li>
          <li class="breadcrumb-item active">Research Innovation For Creative Work</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <style>
        .responsive-table {
          display: flex;
          flex-wrap: wrap;
          margin: -10px; /* Adjust margin as needed */
        }
      
        .responsive-table td {
          flex: 1;
          padding: 10px; /* Adjust padding as needed */
          box-sizing: border-box;
        }
      
        .responsive-table h6 {
          margin: 0;
        }
        .btnprinter-container {
          text-align: right;
        }
      
        .btnprinter {
          width: 50px;
          background-color: transparent;
          border: none;
          padding: 0;
          cursor: pointer;
        }
      
        .btnprinter i {
          font-size: 24px; /* You can adjust the font size as needed */
          color: #000; /* You can set the color as needed */
        }
      </style>


    <section class="section">
        <div class="row">
          <div class="card">
              <div class="card-body">
                <h5 class="card-title">Faculty Research Table Reports</h5>

                <div class="btnprinter-container">
                    <button id="btnPrintDetail1" class="btnprinter"><i class="bi bi-printer"></i></button>
                  </div>
                <br><br>

                <!-- Default Accordion -->
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingSix">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
                            <p>Research Production</p>
                          </button>
                        </h2>
                        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                            <!-- Advising Table with stripped rows -->
            <table id="table" class="display" style="width:100%"> 
              <thead>
                <tr>
                  <th scope="col">Year</th>
                  <th scope="col">Title</th>
                  <th scope="col">Co-Researchers</th>
                  <th scope="col">Fund Source</th>
                  <th scope="col">Date Started</th>
                  <th scope="col">Date Completed</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">2018</th>
                  <td>SAMPLE</td>
                  <td>ALMA, MONZON, Et Al...</td>
                  <td>PUPQC</td>
                  <td>2017</td>
                  <td>2018</td>
                </tr>
              </tbody>
            </table><!-- End Table with stripped rows -->
                          </div>
                        </div>
                    </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          <p>Research Presentation</p>
                      </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <table id="table" class="display" style="width:100%"> 
                            <thead>
                              <tr>
                                <th scope="col">Year</th>
                                <th scope="col">Title</th>
                                <th scope="col">Co-Researchers</th>
                                <th scope="col">Fund Source</th>
                                <th scope="col">Date Started</th>
                                <th scope="col">Date Completed</th>
                                <th scope="col">Conference Title</th>
                                <th scope="col">Venue</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row"></th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                              </tr>
                            </tbody>
                          </table><!-- End Table with stripped rows -->
                     </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          <p>Research Publication</p>
                      </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <table id="table1" class="display no-wrap" style="width:100%"> 
                            <thead>
                              <tr>
                                <th scope="col">Year</th>
                                <th scope="col">Title (and DOI)</th>
                                <th scope="col">Co-Researchers</th>
                                <th scope="col">Fund Source</th>
                                <th scope="col">Date Started</th>
                                <th scope="col">Date Completed</th>
                                <th scope="col">Date Publication</th>
                                <th scope="col">Title of the Journal</th>
                                <th scope="col">Journal Indexing</th>
                                <th scope="col">Online Link</th>
                              </tr>
                            </thead>
                            <tbody>
                              {% for data in research_publication %}
         
                              {% if data.id != None %}
                              <tr>
                                <th class="w-30" scope="row">{{data.date_publish.strftime('%Y').split('-')[0]}}</th>
                                <td class="w-50">{{data.title}}</td>
                                <td class="w-50"></td>
                                <td class="w-50"></td>
                                <td class="w-50"></td>
                                <td class="w-50"></td>
                                <td class="w-50">{{data.date_publish}}</td>
                                <td class="w-50"></td>
                                <td class="w-50">{{data.category}}</td>
                                <td class="w-50"><a href="{{data.file_path}}">View</a></td>
                              </tr>
                              {% else %}
           
                              {% endif %}
              
              
                           {% endfor %}  
                            </tbody>
                          </table><!-- End Table with stripped rows -->
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFour">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                          <p>Citation</p>
                      </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <table id="table" class="display" style="width:100%"> 
                            <thead>
                                <tr>
                                  <th scope="col">Year</th>
                                  <th scope="col">Title (and DOI)</th>
                                  <th scope="col">Co-Researchers</th>
                                  <th scope="col">Fund Source</th>
                                  <th scope="col">Date Started</th>
                                  <th scope="col">Date Completed</th>
                                  <th scope="col">Year Cited</th>
                                  <th scope="col">Title of the Journal and Article that Cited</th>
                                  <th scope="col">Journal Indexing</th>
                                </tr>
                              </thead>
                            <tbody>
                              <tr>
                                <th scope="row"></th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                              </tr>
                            </tbody>
                          </table><!-- End Table with stripped rows -->
                      </div>
                    </div>
                  </div>
                </div><!-- End Default Accordion Example -->
  
              </div>
            </div>
        </div>
      </section>

  </main><!-- End #main -->


  <script>
    $(document).ready(function() {
      // Function to initialize DataTable for a given table ID
      function initializeDataTable(tableId, buttonId, title, customExportColumns) {
        var dataTable = $(tableId).DataTable({
          dom: 'BPlfrtip',
          responsive: true,
          columnDefs: [
            {
              searchPanes: {
                show: true
              },
              targets: [0]
            },
            {
              searchPanes: {
                show: false
              },
              targets: [2]
            }
          ],
          buttons: [
            {
              extend: 'print',
              class: 'buttons-print',
              title: title, // Set the title for each table
              messageBottom: null,
              exportOptions: {
                columns: customExportColumns
              },
              text: 'Print'
            }
          ]
        });
  
         // Initially hide the DataTables print button
        dataTable.buttons('.buttons-print').nodes().addClass('d-none');
  
        $('#' + buttonId).on('click', function() {
          // Trigger the DataTables print button click
          dataTable.buttons('.buttons-print').trigger();
        });
      }
  
      // Customize your export options for each table
      var exportColumnsTable1 = [ 0, 1, 2, 3, 4, 5, 6 ];
      var exportColumnsTable2 = [ 0, 1, 2, 3, 4, 5, 6, 7, 8 ];
  
      // Initialize DataTables for each table
      initializeDataTable('#table1', 'btnPrintDetail1', 'Teaching Assignments Schedules', exportColumnsTable1);
      initializeDataTable('#table2', 'btnPrintDetail2', 'Teaching Assignments Activities', exportColumnsTable2);
    });
  </script>


{% endblock %}

      