{% extends "/Admin-Home-Page/base.html" %}{% block title %}{{faculty_data.FirstName}} {{faculty_data.LastName}} Faculty Roles{% endblock %} {% block content%}

<!-- Include jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Include DataTables CSS -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">

<!-- Include DataTables JS -->
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>

<!-- Include DataTables Buttons CSS and JS -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.3.5/css/buttons.dataTables.min.css">
<script src="https://cdn.datatables.net/buttons/2.3.5/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.5/js/buttons.html5.min.js"></script>

<!-- Include DataTables Print Button JS -->
<script src="https://cdn.datatables.net/buttons/2.3.5/js/buttons.print.min.js"></script>

<main id="main" class="main">

    <div class="pagetitle">
      <h1>Faculty Roles</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Homepage</a></li>
          <li class="breadcrumb-item"><a href="/faculty-member/{{ faculty_data.FacultyId }}">{{faculty_data.FirstName}} {{faculty_data.LastName}}</a></li>
          <li class="breadcrumb-item active">Faculty Roles</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <style>
      .responsive-table {
        display: flex;
        flex-wrap: wrap;
        margin: -10px; /* Adjust margin as needed */
      }
    
      .responsive-table td {
        flex: 1;
        padding: 10px; /* Adjust padding as needed */
        box-sizing: border-box;
      }
    
      .responsive-table h6 {
        margin: 0;
      }
      .btnprinter-container {
        text-align: right;
      }
    
      .btnprinter {
        width: 50px;
        background-color: transparent;
        border: none;
        padding: 0;
        cursor: pointer;
      }
    
      .btnprinter i {
        font-size: 24px; /* You can adjust the font size as needed */
        color: #000; /* You can set the color as needed */
      }
      #table1 thead th {
        background-color: #1A2432;
        color: white; /* Set text color to white for better visibility */
      }
    </style>


    <section class="section">
      <div class="row">
        <div class="card">
          <div class="card-body profile-card pt-4 d-flex flex-col align-items-start">
            <img src="https://lh3.googleusercontent.com/d/{{faculty_data.ProfilePic}}" alt="Profile" class="rounded-circle" style="width:150px; height:150px;">
            <div class="mx-md-3" style="position:relative;left:30px;">
              <div class="w-100">
                <h4 class="my-0">{{faculty_data.FirstName}} {{faculty_data.MiddleInitial}} {{faculty_data.LastName}}</h4>
                <br>
                <small class="text-muted mt-sm-1">{{faculty_data.Rank}}</small>
                <br>
                <small class="text-muted mt-sm-1">{{faculty_data.Degree}}</small>
                <br>
                <small class="text-muted mt-sm-1">{{faculty_data.FacultyType}}</small>
              </div>
          </div>
        </div>
        <style>
          .transparent-background {
              background-color: transparent !important;
              border-color: transparent !important;
              color: #000 !important; /* Set text color to black or the desired color */
          }
      
          .transparent-background .bi {
              color: #000 !important; /* Set icon color to black or the desired color */
          }
      </style>
      
      <div class="container-fluid">
          <div class="row justify-content-end">
              <div class="col-md-2">
                  <button type="button" onclick="redirectToURL()" class="btn btn-secondary mt-3 btn-block transparent-background" style="position: relative; bottom: 120px;">
                      <i class="bi bi-arrow-left-square">Back</i> 
                  </button>
              </div>
          </div>
      </div>
                  
                  <script>
                    function redirectToURL() {
                      window.location.href = '/faculty-member/{{ faculty_data.FacultyId }}';
                    }
                  </script>
        </div>

          <div class="card">
            <div class="card-body">
              <br><br>
              <div class=" d-flex justify-content-center">
                <h3><strong>FACULTY ROLES</strong></h3>
              </div>
              <!-- List group with Advanced Contents -->
              <br><br>
              <div class="list-group">
               
                 
                   <!-- Advising Table with stripped rows -->
                   <br><br>
               <table class="table datatable"> 
                <thead>
                  <tr>
                    <th scope="col">Incident Date</th>
                    <th scope="col">Time</th>
                    <th scope="col">Complainant</th>
                    <th scope="col">Decription</th>
                    <th scope="col">Role</th>
                    <th scope="col">Status</th>
                  </tr>
                </thead>
                <tbody>
                  {% if faculty_roles != None %}
                    {% for data in faculty_roles %}

                    {% if data.id != None %}
                    <tr>
                      <td >{{data.Date}}</td>
                      <td >{{data.Time}}</td>
                      <th  scope="row"><a href="https://scds.onrender.com/faculty" target="_blank">{{data.FirstName}} {{data.LastName}}</a></th>
                      <td >{{data.Description}}</td>
                      <td >Incident Investigator</td>
                      {% if data.Status == 'pending' %}
                      <td><h6 class="badge bg-warning" style="width:158px;height:20px;">{{data.Status}}</h6></td>
                      {% else %}
                      <td><h6 class="badge bg-success" style="width:158px;height:20px;">{{data.Status}}</h6></td>
                      {% endif %}
                    </tr>
                    {% else %}
 
                    {% endif %}
    
    
                 {% endfor %}  

                
                </tbody>
              </table><!-- End Table with stripped rows -->
              {% else %}
              <div class="d-flex w-100 justify-content-between">
                <h5><strong>{{user.FirstName}} {{user.LastName}}</strong> has No Roles</h5>
              </div>
      
              {% endif %}
              </div><!-- End List group Advanced Content -->
             
            
            </div>
            <br><br>
             
          </div>
      </div>
    
  
      
    </section>

  </main><!-- End #main -->

 

<script>
  $(document).ready(function() {
    // Function to initialize DataTable for a given table ID
    function initializeDataTable(tableId, buttonId, title, customExportColumns) {
      var dataTable = $(tableId).DataTable({
        dom: 'BPlfrtip',
        responsive: true,
        columnDefs: [
          {
            searchPanes: {
              show: true
            },
            targets: [0]
          },
          {
            searchPanes: {
              show: false
            },
            targets: [0]
          }
        ],
        buttons: [
          {
            extend: 'print',
            class: 'buttons-print',
            title: title, // Set the title for each table
            messageBottom: null,
            exportOptions: {
              columns: customExportColumns
            },
            text: 'Print'
          }
        ]
      });

       // Initially hide the DataTables print button
      dataTable.buttons('.buttons-print').nodes().addClass('d-none');

      $('#' + buttonId).on('click', function() {
        // Trigger the DataTables print button click
        dataTable.buttons('.buttons-print').trigger();
      });
    }

    // Customize your export options for each table
    var exportColumnsTable1 = [ 0, 1 , 2, 3, 4];
    var exportColumnsTable2 = [ 0, 1, 2, 3, 4 ];

    // Initialize DataTables for each table
    initializeDataTable('#table1', 'btnPrintDetail1', 'Sudent Schedules<br><br><h6>2021-0021-CM</h6><h6>Mabini, Vincent Rodhy</h6><br><br>', exportColumnsTable1);
    initializeDataTable('#table2', 'btnPrintDetail2', 'Sudent Schedules<br><br><h6>2021-0021-CM</h6><h6>Mabini, Vincent Rodhy</h6><br><br>', exportColumnsTable2);
  });
</script>




{% endblock %}

      