{% extends "/Faculty-Home-Page/base.html" %}{% block title %}Medical Information{% endblock %} {% block content%}


<!-- Include jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Include DataTables CSS -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">

<!-- Include DataTables JS -->
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>

<!-- Include DataTables Buttons CSS and JS -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.3.5/css/buttons.dataTables.min.css">
<script src="https://cdn.datatables.net/buttons/2.3.5/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.5/js/buttons.html5.min.js"></script>

<!-- Include DataTables Print Button JS -->
<script src="https://cdn.datatables.net/buttons/2.3.5/js/buttons.print.min.js"></script>

<main id="main" class="main">

  {% block Mandatory_Requirements %}
    <div class="pagetitle">
      <h1>Medical Record</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">Homepage</li>
          <li class="breadcrumb-item">{{User}}</li>
          <li class="breadcrumb-item active">Medical Information</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
     
          <div class="row m-md-2">
              <div class="card-title"> <p class="medical w-25 ps-md-2">Medical Information</p>
              </div>
              <div class="col-lg-6">
                  <p class="mb-md-3 fw-bold">Name:
                      <br>
                      <span class="fw-normal">{{User}}</span>
                  </p>
                  <p class="mb-md-3 fw-bold">Contact Number:
                      <br>
                      <span class="fw-normal">{{user.MobileNumber}}</span>
                  </p>
                  <p class="mb-md-3 fw-bold">Address:
                      <br>
                      <span class="fw-normal">{{user.ResidentialAddress}}</span>
                  </p>
              </div>
              <div class="col-lg-6">
                  <p class="mb-md-3 fw-bold">Birthdate:
                      <br>
                      <span class="fw-normal">{{user.BirthDate}}</span>
                  </p>
                  <p class="mb-md-3 fw-bold">Weight: 
                      <br>
                      <span class="fw-normal">{{weight}} kg</span>
                  </p>
                  <p class="mb-md-3 fw-bold">Height: 
                      <br>
                      <span class="fw-normal">{{height}} cm</span>
                  </p>
              </div>
          </div>
          <div class="row m-md-2">
              <div class="card-title"> <p class="medical w-25  ps-md-2">In Case of Emeergency</p>
              </div>
              <div class="col-lg-6">
                  <p class="mb-md-3 fw-bold">Name:
                      <br>
                      <span class="fw-normal">Name here</span>
                  </p>
                  <p class="mb-md-3 fw-bold">Home Contact Number:
                      <br>
                      <span class="fw-normal">Number here</span>
                  </p>
              </div>
              <div class="col-lg-6">
                  <p class="mb-md-3 fw-bold">Address:
                      <br>
                      <span class="fw-normal">Address here</span>
                  </p>
                  <p class="mb-md-3 fw-bold">Work Phone Number: 
                      <br>
                      <span class="fw-normal">Number here</span>
                  </p>
              </div>
          </div>
          <div class="row m-md-2">
              <div class="card-title"> <p class="medical w-25  ps-md-2">General Medical History</p>
              </div>
              <div class="col-lg-6">
                  <p class="mb-md-3 fw-bold">SARS CoV (Corona Virus):
                      <br>
                      <span class="fw-normal">Negative</span>
                  </p>
                  <p class="mb-md-3 fw-bold">Have you had Coronavirus Vaccination?:
                      <br>
                      <span class="fw-normal">YES</span>
                  </p>
                  <p class="mb-md-3 fw-bold">List of any Medical Problems:
                      <br>
                      <li class="fw-normal ms-md-3">List here</li>
                      <li class="fw-normal ms-md-3">List here</li>
                      <li class="fw-normal ms-md-3">List here</li>
                  </p>
              </div>
              <div class="col-lg-6">
                  <p class="mb-md-3 fw-bold">Have you had Booster?:
                      <br>
                      <span class="fw-normal">Yes</span>
                  </p>
              </div>
          </div>
          <div class="row m-md-2">
              <div class="card-title"> <p class="medical w-25 ps-md-2">Additional Information:</p></div>

              <div class="w-100">
                <div class="card">
                  <div class="card-body">
                  <h6 class="card-title">Medical Information</h6>
                  <table class="table table">
                    <thead>
                      <tr>
                        <th class="w-50" scope="col" class="card-title col-md-6 ">QUESTION</th>
                        <th scope="col"class="card-title col-md-3">ANSWER</th>
                        <th scope="col"class="card-title col-md-3">DETAILS</th>
                      </tr>
                      <tr>
                        <td></td>
                       <td></td>
                       <td></td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td scope="row">1. Are you related by consanguinity or affinity to the appointing or recommending authority, or the chief of bureau or office or the person who has intermediate supervision over you in the Office, Bureau or Department where you will be appointed,</td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td scope="row">a. within the third degree?</td>
                        <td>No</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td scope="row">b. within the fourth degree (for Local Government Unit - Career Employees)?</td>
                        <td>Yes</td>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>
              </div>
          </div>
        </div>
      </div>
      
      <p class="">To print the faculty medical information, click the print icon. <a href="#" class="bx bxs-printer"></a></p>
  </section>

 

  </main><!-- End #main -->


  {% endblock %}

{% endblock %}

      