{% extends "/Faculty-Home-Page/Teaching-Instructions/TI-Advising-Mentoring.html" %}{% block title %}Teaching Assignments{% endblock %} {% block Advising_Mentoring%}
<div class="pagetitle">
  <h1>Teaching Assignments</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">Homepage</li>
      <li class="breadcrumb-item">{{User}}</li>
      <li class="breadcrumb-item active">Teaching Instructions</li>
    </ol>
  </nav>
</div><!-- End Page Title -->

<section class="section">
  <div class="row">
    <div class="card">
      <div class="card-body profile-card pt-4 d-flex flex-col align-items-start">
        <img src="https://lh3.googleusercontent.com/d/{{profile_pic}}" alt="Profile" class="rounded-circle" style="width:150px; height:150px;">
        <div class="mx-md-3" style="position:relative;left:30px;">
          <div class="w-100">
            <h4 class="my-0">{{user.FirstName}} {{user.MiddleInitial}} {{user.LastName}}</h4>
            <small class="text-muted mt-sm-1">{{user.Rank}}</small>
          </div>

          <style>
            .responsive-table {
              display: flex;
              flex-wrap: wrap;
              margin: -10px; /* Adjust margin as needed */
            }
          
            .responsive-table td {
              flex: 1;
              padding: 10px; /* Adjust padding as needed */
              box-sizing: border-box;
            }
          
            .responsive-table h6 {
              margin: 0;
            }
            .btnprinter-container {
              text-align: right;
            }
          
            .btnprinter {
              width: 50px;
              background-color: transparent;
              border: none;
              padding: 0;
              cursor: pointer;
            }
          
            .btnprinter i {
              font-size: 24px; /* You can adjust the font size as needed */
              color: #000; /* You can set the color as needed */
            }
          </style>

          <div class="d-block mt-md-3">
            <br>
            <table class="responsive-table">
              {% for subjects in user.FISSubjectAssigned %}
     
              {% if subjects.id != None %}
              <tr>
                <td><h6>{{subjects.subject_a}} Professor</h6></td>
                <td style="padding: 0 2em;"><h6>{{subjects.subject_b}} Professor</h6></td>
                <td style="padding: 0 2em;"><h6></h6></td>
              </tr>
              <tr>
                <td><h6>{{subjects.subject_c}} Professor</h6></td>
                <td style="padding: 0 2em;"><h6></h6></td>
              </tr>
              <tr>
                <td><h6>{{subjects.subject_d}} Professor</h6></td>
                <td style="padding: 0 2em;"><h6></h6></td>
              </tr>
              {% else %}
              <tr>
                <td><h6></h6></td>
                <td style="padding: 0 2em;"><h6></h6></td>
                <td style="padding: 0 2em;"><h6></h6></td>
              </tr>
              <tr>
                <td><h6></h6></td>
                <td style="padding: 0 2em;"><h6></h6></td>
              </tr>
              <tr>
                <td><h6></h6></td>
                <td style="padding: 0 2em;"><h6></h6></td>
              </tr>
     
              {% endif %}


           {% endfor %}  
            </table>
            <br>
          </div>
      </div>
    </div>
    </div>

          <div class="card">
            <div class="card-body">
              <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                <h5><strong>FACULTY LOADS</strong></h5>
              </div>
              <div class="card-body profile-card pt-4 d-flex flex-column align-items-end">
                <div class="btnprinter-container">
                  <button id="btnPrintDetail1" class="btnprinter"><i class="bi bi-printer"></i></button>
                </div>
                <br>

              </div>
            
              <table id="table1" class="display">
                <thead>
                    <tr>
                        <th>Room Name</th>
                        <th>Course Code</th>
                        <th>Course Description</th>
                        <th>Class Name</th>
                        <th>Units</th>
                        <th>Lecture</th>
                        <th>Lab</th>
                        <th>Semester</th>
                        <th>Academic Year</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in api_data.data %}
                        {% if data.facultyname == user.FirstName + " " + user.LastName %}
                            <tr>
                                <td>{{ data.roomname }}</td>
                                <td>{{ data.course_code }}</td>
                                <td>{{ data.course_description }}</td>
                                <td>{{ data.classname }}</td>
                                <td>{{ data.units }}</td>
                                <td>{{ data.lec }}</td>
                                <td>{{ data.lab }}</td>
                                
                                {% for sem in semester.data %}
                                    {% if sem.id == data.semester_id %}
                                        <td>{{ sem.name }}</td>
                                    {% endif %}
                                {% endfor %}
                                
                                {% for year in acad_year.data %}
                                    {% if year.id == data.acadyear_id %}
                                        <td>{{ year.name }}</td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
            </div>
          </div>

        </div>

    </section>

  </main><!-- End #main -->

  <script>
    $(document).ready(function() {
      // Function to initialize DataTable for a given table ID
      function initializeDataTable(tableId, buttonId, title, customExportColumns) {
        var dataTable = $(tableId).DataTable({
          dom: 'BPlfrtip',
          responsive: true,
          columnDefs: [
            {
              searchPanes: {
                show: true
              },
              targets: [0]
            },
            {
              searchPanes: {
                show: false
              },
              targets: [2]
            }
          ],
          buttons: [
            {
              extend: 'print',
              class: 'buttons-print',
              title: title, // Set the title for each table
              messageBottom: null,
              exportOptions: {
                columns: customExportColumns
              },
              text: 'Print'
            }
          ]
        });
  
         // Initially hide the DataTables print button
        dataTable.buttons('.buttons-print').nodes().addClass('d-none');
  
        $('#' + buttonId).on('click', function() {
          // Trigger the DataTables print button click
          dataTable.buttons('.buttons-print').trigger();
        });
      }
  
      // Customize your export options for each table
      var exportColumnsTable1 = [ 0, 1, 2, 3, 4, 5, 6 , 7, 8 ];
      var exportColumnsTable2 = [ 0, 1, 2, 3, 4, 5, 6, 7, 8 ];
  
      // Initialize DataTables for each table
      initializeDataTable('#table1', 'btnPrintDetail1', 'Teaching Assignments Schedules', exportColumnsTable1);
      initializeDataTable('#table2', 'btnPrintDetail2', 'Teaching Assignments Activities', exportColumnsTable2);
    });
    
  </script>

{% endblock %}

      