{% extends "/Faculty-Home-Page/Teaching-Instructions/TI-Teaching-Effectiveness.html" %}{% block title %}Teaching Effectiveness{% endblock %} {% block Teaching_Effectiveness%}

<style>
  .responsive-table {
    display: flex;
    flex-wrap: wrap;
    margin: -10px; /* Adjust margin as needed */
  }

  .responsive-table td {
    flex: 1;
    padding: 10px; /* Adjust padding as needed */
    box-sizing: border-box;
  }

  .responsive-table h6 {
    margin: 0;
  }
  .btnprinter-container {
    text-align: left;
  }

  .btnprinter {
    width: 50px;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
  }

  .btnprinter i {
    font-size: 24px; /* You can adjust the font size as needed */
    color: #000; /* You can set the color as needed */
  }

  .box {
    border: 1px solid #ced4da;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
  }


  .options {
    list-style: none;
    padding-left: 4;
  }

  .options li {
    margin-bottom: 5px;
  }
</style>
<div class="container mt-5">
  <div class="d-grid gap-2 mt-3 col-md-12 d-flex flex-column align-items-end">
    <button type="button" onclick="redirectToURL()" class="btn btn-primary mt-3 col-md-2">Back</i></button>
    <script>
      function redirectToURL() {
          window.location.href = '/TI-Teaching-Effectiveness';
      }
  </script>
</div>
  <p>To print the faculty feedback result from this course and section, click the print icon. <button id="btnPrintDetail1" class="btnprinter"><i class="bi bi-printer-fill"></i></button></p>
  
  <div class="border p-3">
    
    <form>
      <label><strong>Evaluation Form</strong></label>
      <br>
      <br>
    
       <!-- start of list -->
       <ol type="A">
        <li class="list-group-items fw-bold">Commitment (Komitment/Pagtatalaga sa Sarili) 
            <ol type="1" class="fw-normal">
                <li class="list-group-items mt-md-2">Demonstrates sensitivity to students` abilities to attend and absorb content information
                    <ul>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1">
                            <label class="form-check-label" for="gridRadios1">
                              5 - Very Outstanding
                            </label>
                          </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                            <label class="form-check-label" for="gridRadios2">
                              4 - Outstanding 
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3">
                            <label class="form-check-label" for="gridRadios3">
                              3 - Satisfactory 
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios4" value="option4">
                            <label class="form-check-label" for="gridRadios4">
                              2 - Fair 
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios5" value="option5">
                            <label class="form-check-label" for="gridRadios5">
                              1 - Poor 
                            </label>
                        </div>
                    </ul>
                </li>
                <li class="list-group-items">Integrates sensitively his/her learning objectives into those of the students in a collaborative process
                    <ul>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1">
                            <label class="form-check-label" for="gridRadios1">
                              5 - Very Outstanding
                            </label>
                          </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                            <label class="form-check-label" for="gridRadios2">
                              4 - Outstanding 
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3">
                            <label class="form-check-label" for="gridRadios3">
                              3 - Satisfactory 
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios4" value="option4">
                            <label class="form-check-label" for="gridRadios4">
                              2 - Fair 
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios5" value="option5">
                            <label class="form-check-label" for="gridRadios5">
                              1 - Poor 
                            </label>
                        </div>
                    </ul>
                </li>
                <li class="list-group-items">Makes himself/herself available to students beyond official time
                    <ul>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1">
                            <label class="form-check-label" for="gridRadios1">
                              5 - Very Outstanding
                            </label>
                          </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                            <label class="form-check-label" for="gridRadios2">
                              4 - Outstanding 
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3">
                            <label class="form-check-label" for="gridRadios3">
                              3 - Satisfactory 
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios4" value="option4">
                            <label class="form-check-label" for="gridRadios4">
                              2 - Fair 
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios5" value="option5">
                            <label class="form-check-label" for="gridRadios5">
                              1 - Poor 
                            </label>
                        </div>
                    </ul>
                </li>
                <li class="list-group-items">Regularly comes to class on time; well-groomed and well-prepared to complete assigned responsibilities.
                    <ul>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1">
                            <label class="form-check-label" for="gridRadios1">
                              5 - Very Outstanding
                            </label>
                          </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                            <label class="form-check-label" for="gridRadios2">
                              4 - Outstanding 
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3">
                            <label class="form-check-label" for="gridRadios3">
                              3 - Satisfactory 
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios4" value="option4">
                            <label class="form-check-label" for="gridRadios4">
                              2 - Fair 
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios5" value="option5">
                            <label class="form-check-label" for="gridRadios5">
                              1 - Poor 
                            </label>
                        </div>
                    </ul>
                </li>
                <li class="list-group-items">Keeps accurate records of students` performance and promptly submits the same
                    <ul>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1">
                            <label class="form-check-label" for="gridRadios1">
                              5 - Very Outstanding
                            </label>
                          </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                            <label class="form-check-label" for="gridRadios2">
                              4 - Outstanding 
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3">
                            <label class="form-check-label" for="gridRadios3">
                              3 - Satisfactory 
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios4" value="option4">
                            <label class="form-check-label" for="gridRadios4">
                              2 - Fair 
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios5" value="option5">
                            <label class="form-check-label" for="gridRadios5">
                              1 - Poor 
                            </label>
                        </div>
                    </ul>
                </li>
            </ol>
        </li> 

        <!-- B -->
        <li class="list-group-items fw-bold">Knowledge of Subject (Kaalaman sa Paksa)
            <ol type="1" start="6" class="fw-normal">
                <li class="list-group-items mt-md-2">Demonstrates mastery of the subject matter(explains the subject matter without relying solely on the prescribed textbook)
                    <ul>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1">
                            <label class="form-check-label" for="gridRadios1">
                              5 - Very Outstanding
                            </label>
                          </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                            <label class="form-check-label" for="gridRadios2">
                              4 - Outstanding 
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3">
                            <label class="form-check-label" for="gridRadios3">
                              3 - Satisfactory 
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios4" value="option4">
                            <label class="form-check-label" for="gridRadios4">
                              2 - Fair 
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios5" value="option5">
                            <label class="form-check-label" for="gridRadios5">
                              1 - Poor 
                            </label>
                        </div>
                    </ul>
                </li>
                <li class="list-group-items">Draws and shares information on the state-of the-art theories and practices in his/her discipline
                    <ul>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1">
                            <label class="form-check-label" for="gridRadios1">
                              5 - Very Outstanding
                            </label>
                          </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                            <label class="form-check-label" for="gridRadios2">
                              4 - Outstanding 
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3">
                            <label class="form-check-label" for="gridRadios3">
                              3 - Satisfactory 
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios4" value="option4">
                            <label class="form-check-label" for="gridRadios4">
                              2 - Fair 
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios5" value="option5">
                            <label class="form-check-label" for="gridRadios5">
                              1 - Poor 
                            </label>
                        </div>
                    </ul>
                </li>
                <li class="list-group-items">Integrates subjects into practical circumstances and learning intents/purposes of students 
                    <ul>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1">
                            <label class="form-check-label" for="gridRadios1">
                              5 - Very Outstanding
                            </label>
                          </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                            <label class="form-check-label" for="gridRadios2">
                              4 - Outstanding 
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3">
                            <label class="form-check-label" for="gridRadios3">
                              3 - Satisfactory 
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios4" value="option4">
                            <label class="form-check-label" for="gridRadios4">
                              2 - Fair 
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios5" value="option5">
                            <label class="form-check-label" for="gridRadios5">
                              1 - Poor 
                            </label>
                        </div>
                    </ul>
                </li>
                <li class="list-group-items">Explains the relevance of present topics to previous lessons and relates the subject matter to relevant current issues and/or daily life activities
                    <ul>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1">
                            <label class="form-check-label" for="gridRadios1">
                              5 - Very Outstanding
                            </label>
                          </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                            <label class="form-check-label" for="gridRadios2">
                              4 - Outstanding 
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3">
                            <label class="form-check-label" for="gridRadios3">
                              3 - Satisfactory 
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios4" value="option4">
                            <label class="form-check-label" for="gridRadios4">
                              2 - Fair 
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios5" value="option5">
                            <label class="form-check-label" for="gridRadios5">
                              1 - Poor 
                            </label>
                        </div>
                    </ul>
                </li>
                <li class="list-group-items">Demonstrate up-to-date knowledge and/or awareness of current trends and issues in the subjects
                    <ul>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1">
                            <label class="form-check-label" for="gridRadios1">
                              5 - Very Outstanding
                            </label>
                          </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                            <label class="form-check-label" for="gridRadios2">
                              4 - Outstanding 
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3">
                            <label class="form-check-label" for="gridRadios3">
                              3 - Satisfactory 
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios4" value="option4">
                            <label class="form-check-label" for="gridRadios4">
                              2 - Fair 
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios5" value="option5">
                            <label class="form-check-label" for="gridRadios5">
                              1 - Poor 
                            </label>
                        </div>
                    </ul>
                </li>
            </ol>
        </li>

        <!-- C -->
        <li class="list-group-items fw-bold">Teaching for Independent Learning (Pagtuturo para sa Malayang Pagkatuto)
            <ol type="1" start="11" class="fw-normal">
                <li class="list-group-items mt-md-2"> Creates strategies that allow students to practice using concepts they need to understand (interactive discussion)
                    <ul>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1">
                            <label class="form-check-label" for="gridRadios1">
                              5 - Very Outstanding
                            </label>
                          </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                            <label class="form-check-label" for="gridRadios2">
                              4 - Outstanding 
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3">
                            <label class="form-check-label" for="gridRadios3">
                              3 - Satisfactory 
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios4" value="option4">
                            <label class="form-check-label" for="gridRadios4">
                              2 - Fair 
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios5" value="option5">
                            <label class="form-check-label" for="gridRadios5">
                              1 - Poor 
                            </label>
                        </div>
                    </ul>
                </li>
                <li class="list-group-items">Enhances students` self-esteem and/or gives due recognition to students` performance/potentials
                    <ul>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1">
                            <label class="form-check-label" for="gridRadios1">
                              5 - Very Outstanding
                            </label>
                          </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                            <label class="form-check-label" for="gridRadios2">
                              4 - Outstanding 
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3">
                            <label class="form-check-label" for="gridRadios3">
                              3 - Satisfactory 
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios4" value="option4">
                            <label class="form-check-label" for="gridRadios4">
                              2 - Fair 
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios5" value="option5">
                            <label class="form-check-label" for="gridRadios5">
                              1 - Poor 
                            </label>
                        </div>
                    </ul>
                </li>
                <li class="list-group-items">Allows students to create their own course objectives, realistically defines student-professor rules, and makes them accountable to their performance
                    <ul>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1">
                            <label class="form-check-label" for="gridRadios1">
                              5 - Very Outstanding
                            </label>
                          </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                            <label class="form-check-label" for="gridRadios2">
                              4 - Outstanding 
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3">
                            <label class="form-check-label" for="gridRadios3">
                              3 - Satisfactory 
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios4" value="option4">
                            <label class="form-check-label" for="gridRadios4">
                              2 - Fair 
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios5" value="option5">
                            <label class="form-check-label" for="gridRadios5">
                              1 - Poor 
                            </label>
                        </div>
                    </ul>
                </li>
                <li class="list-group-items">Allows students to think independently, make their own decisions, and holds them accountable for their performance based largely on their success in executing decisions
                    <ul>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1">
                            <label class="form-check-label" for="gridRadios1">
                              5 - Very Outstanding
                            </label>
                          </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                            <label class="form-check-label" for="gridRadios2">
                              4 - Outstanding 
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3">
                            <label class="form-check-label" for="gridRadios3">
                              3 - Satisfactory 
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios4" value="option4">
                            <label class="form-check-label" for="gridRadios4">
                              2 - Fair 
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios5" value="option5">
                            <label class="form-check-label" for="gridRadios5">
                              1 - Poor 
                            </label>
                        </div>
                    </ul>
                </li>
                <li class="list-group-items">Encourages students to learn beyond what is required and guides them on how to apply the concepts learned
                    <ul>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1">
                            <label class="form-check-label" for="gridRadios1">
                              5 - Very Outstanding
                            </label>
                          </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                            <label class="form-check-label" for="gridRadios2">
                              4 - Outstanding 
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3">
                            <label class="form-check-label" for="gridRadios3">
                              3 - Satisfactory 
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios4" value="option4">
                            <label class="form-check-label" for="gridRadios4">
                              2 - Fair 
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios5" value="option5">
                            <label class="form-check-label" for="gridRadios5">
                              1 - Poor 
                            </label>
                        </div>
                    </ul>
                </li>
            </ol>
        </li>

        <!-- D -->
        <li class="list-group-items fw-bold">Management of Learning (Pamamahala sa Pagkatuto)
            <ol type="1" start="16" class="fw-normal">
                <li class="list-group-items mt-ms-2">Creates opportunities for intensive and/or extensive contribution of students in the class activities (e.g., breaks class into dyads, triads, or buzz/task groups)
                    <ul>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1">
                            <label class="form-check-label" for="gridRadios1">
                              5 - Very Outstanding
                            </label>
                          </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                            <label class="form-check-label" for="gridRadios2">
                              4 - Outstanding 
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3">
                            <label class="form-check-label" for="gridRadios3">
                              3 - Satisfactory 
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios4" value="option4">
                            <label class="form-check-label" for="gridRadios4">
                              2 - Fair 
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios5" value="option5">
                            <label class="form-check-label" for="gridRadios5">
                              1 - Poor 
                            </label>
                        </div>
                    </ul>
                </li>
                <li class="list-group-items">Assumes roles as facilitator, resource person, coach, inquisitor, integrator, referee, in drawing students to contribute to knowledge and understanding of the concepts at hand
                    <ul>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1">
                            <label class="form-check-label" for="gridRadios1">
                              5 - Very Outstanding
                            </label>
                          </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                            <label class="form-check-label" for="gridRadios2">
                              4 - Outstanding 
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3">
                            <label class="form-check-label" for="gridRadios3">
                              3 - Satisfactory 
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios4" value="option4">
                            <label class="form-check-label" for="gridRadios4">
                              2 - Fair 
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios5" value="option5">
                            <label class="form-check-label" for="gridRadios5">
                              1 - Poor 
                            </label>
                        </div>
                    </ul>
                </li>
                <li class="list-group-items"> Design and implements learning conditions and experiences that promote healthy exchanges and/or confrontations
                    <ul>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1">
                            <label class="form-check-label" for="gridRadios1">
                              5 - Very Outstanding
                            </label>
                          </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                            <label class="form-check-label" for="gridRadios2">
                              4 - Outstanding 
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3">
                            <label class="form-check-label" for="gridRadios3">
                              3 - Satisfactory 
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios4" value="option4">
                            <label class="form-check-label" for="gridRadios4">
                              2 - Fair 
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios5" value="option5">
                            <label class="form-check-label" for="gridRadios5">
                              1 - Poor 
                            </label>
                        </div>
                    </ul>
                </li>
                <li class="list-group-items">Structures/re-structures learning and teaching-learning contexts to enhance the attainment of collective learning objectives
                    <ul>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1">
                            <label class="form-check-label" for="gridRadios1">
                              5 - Very Outstanding
                            </label>
                          </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                            <label class="form-check-label" for="gridRadios2">
                              4 - Outstanding 
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3">
                            <label class="form-check-label" for="gridRadios3">
                              3 - Satisfactory 
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios4" value="option4">
                            <label class="form-check-label" for="gridRadios4">
                              2 - Fair 
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios5" value="option5">
                            <label class="form-check-label" for="gridRadios5">
                              1 - Poor 
                            </label>
                        </div>
                    </ul>
                </li>
                <li class="list-group-items">Uses instructional materials (audio/video materials: fieldtrips, film-showing, computer-aided instructions etc.) to reinforce learning processes
                    <ul>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1">
                            <label class="form-check-label" for="gridRadios1">
                              5 - Very Outstanding
                            </label>
                          </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                            <label class="form-check-label" for="gridRadios2">
                              4 - Outstanding 
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3">
                            <label class="form-check-label" for="gridRadios3">
                              3 - Satisfactory 
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios4" value="option4">
                            <label class="form-check-label" for="gridRadios4">
                              2 - Fair 
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios5" value="option5">
                            <label class="form-check-label" for="gridRadios5">
                              1 - Poor 
                            </label>
                        </div>
                    </ul>
                </li>
            </ol>
        </li>
    </ol>

      <!-- Add more questions for Section 2 as needed -->
    </form>
  </div>
</div>


        
{% endblock %}

      