{% extends "/Faculty-Home-Page/base.html" %}{% block title %}Teaching Effectiveness{% endblock %} {% block content%}


<!-- Include jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Include DataTables CSS -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">

<!-- Include DataTables JS -->
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>

<!-- Include DataTables Buttons CSS and JS -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.3.5/css/buttons.dataTables.min.css">
<script src="https://cdn.datatables.net/buttons/2.3.5/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.5/js/buttons.html5.min.js"></script>

<!-- Include DataTables Print Button JS -->
<script src="https://cdn.datatables.net/buttons/2.3.5/js/buttons.print.min.js"></script>

<main id="main" class="main">

    <div class="pagetitle">
      <h1>Teaching Effectiveness</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">Homepage</li>
          <li class="breadcrumb-item">{{User}}</li>
          <li class="breadcrumb-item active">Teaching Instructions</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="card">
          
        </div>

        {% block Teaching_Effectiveness %}

        <div class="card">
          <div class="card-body profile-card pt-4 d-flex flex-col align-items-start">
            <img src="https://lh3.googleusercontent.com/d/{{profile_pic}}" alt="Profile" class="rounded-circle" style="width:150px; height:150px;">
            <div class="mx-md-3" style="position:relative;left:30px;">
              <div class="w-100">
                <br><br>
                <h4 class="my-0">{{user.FirstName}} {{user.MiddleInitial}} {{user.LastName}}</h4>
                <small class="text-muted mt-sm-1">{{user.Rank}}</small>
              </div>

              <style>
                .responsive-table {
                  display: flex;
                  flex-wrap: wrap;
                  margin: -10px; /* Adjust margin as needed */
                }
              
                .responsive-table td {
                  flex: 1;
                  padding: 10px; /* Adjust padding as needed */
                  box-sizing: border-box;
                }
              
                .responsive-table h6 {
                  margin: 0;
                }
                .btnprinter-container {
                  text-align: right;
                }
              
                .btnprinter {
                  width: 50px;
                  background-color: transparent;
                  border: none;
                  padding: 0;
                  cursor: pointer;
                }
              
                .btnprinter i {
                  font-size: 24px; /* You can adjust the font size as needed */
                  color: #000; /* You can set the color as needed */
                }
                #table1 thead th {
                  background-color: #1A2432;
                  color: white; /* Set text color to white for better visibility */
                }
              </style>

          </div>
        </div>
        <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
          <h3><strong>EVALUATION RESULTS</strong></h3>
          {% if item_id.school_year != None %}
          <h6><strong>{{ item_id.school_year.strftime('%Y') }} {{item_id.semester}} Semester</strong></h6>
          {% else %}
          <h6><strong>No School Year Assigned.</strong></h6>
          {% endif %}
        </div>
        <br><br>
        <div class="card-body profile-card pt-4 d-flex flex-column align-items-start" style="text-style: underlined;">
          <h6><u>Faculty Feedback Form</u> <a href="/TI-Faculty-Feedback-Form">view</a></h6>
        </div>
        <div class="card-body d-flex flex-column justify-content-center">
          <br>

          <form class="row g-3" action="/TI-Teaching-Effectiveness" method="POST" id="yourFormId">

            <div class="col-md-6">
              <div class="form-floating mb-3">
                <select class="form-select" id="select" name="select" aria-label="State" required>
                  <option value=''>Select School Year & Semester</option>
                  {% for data in user.FISEvaluations %}
                    {% if data.id != None %}
                      <option value="{{data.id}}">{{ data.school_year.strftime('%Y') }} {{data.semester}} Semester</option>
                    {% else %}
                      
                    {% endif %}
                  {% endfor %}  
                </select>
                <label for="floatingSelect">School Year & Semester</label>
              </div>
            </div>

            <div class="col-md-2">
                <div class="d-grid gap-2 mt-3">
                    <button type="submit" class="btn btn-primary">
                      <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512" style="fill:#ffffff;position:relative; bottom:2px"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M433.941 129.941l-83.882-83.882A48 48 0 0 0 316.118 32H48C21.49 32 0 53.49 0 80v352c0 26.51 21.49 48 48 48h352c26.51 0 48-21.49 48-48V163.882a48 48 0 0 0-14.059-33.941zM224 416c-35.346 0-64-28.654-64-64 0-35.346 28.654-64 64-64s64 28.654 64 64c0 35.346-28.654 64-64 64zm96-304.52V212c0 6.627-5.373 12-12 12H76c-6.627 0-12-5.373-12-12V108c0-6.627 5.373-12 12-12h228.52c3.183 0 6.235 1.264 8.485 3.515l3.48 3.48A11.996 11.996 0 0 1 320 111.48z"/></svg>
                      Select</button>
                </div>
                <br><br>
            </div>
            
          </form>

          <script>
            document.getElementById('yourFormId').addEventListener('submit', function (event) {
              var selectElement = document.getElementById('select');
              
              if (selectElement.value === '') {
                alert('Please select a value for School Year & Semester');
                event.preventDefault(); // Prevent the form from submitting
              }
            });
          </script>

          <!-- Advising Table with stripped rows -->
          <div class="d-flex flex-row">
            <div class="table-container">
              <table id="table1" class="display" style="width:100%; height:440px;">
                <thead>
                  <tr>
                    <th></th>
                    <th>Commitment<br><br></th>
                    <th>Knowledge of Subject<br><br></th>
                    <th>Teaching for Independent Learning</th>
                    <th>Management of Learning</th>
                    <th>Rating</th>
                    <th>Calculated Rating</th>
                    <th>Verbal Interpretation</th>
                  </tr>
                  <tr>
                    <th>Legend</th>
                    <th>(A)</th>
                    <th>(B)</th>
                    <th>(C)</th>
                    <th>(D)</th>
                    <th>(E)</th>
                    <th>(F)</th>
                    <th></th>
                  </tr>
                  <tr>
                    <td></td>
                    <td>20%</td>
                    <td>20%</td>
                    <td>30%</td>
                    <td>30%</td>
                    <td>(A+B+C+D)/4</td>
                    <td></td>
                    <td></td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>Director Evaluation</th>
                    <td>{{calc_data.director_a}}</td>
                    <td>{{calc_data.director_b}}</td>
                    <td>{{calc_data.director_c}}</td>
                    <td>{{calc_data.director_d}}</td>
                    <td>{{calc_data.director_ave}}</td>
                    <td><p>(E)*20%</p><br><strong>{{calc_data.director_calc}}</strong></td>
                    <td>{{calc_data.director_interpret}}</td>
                  </tr>
                  <tr>
                    <th>Academic Head Evaluation</th>
                    <td>{{calc_data.acad_head_a}}</td>
                    <td>{{calc_data.acad_head_b}}</td>
                    <td>{{calc_data.acad_head_c}}</td>
                    <td>{{calc_data.acad_head_d}}</td>
                    <td>{{calc_data.acad_head_ave}}</td>
                    <td><p>(E)*10%</p><br><strong>{{calc_data.acad_head_calc}}</strong></td>
                    <td>{{calc_data.acad_head_interpret}}</td>
                  </tr>
                  <tr>
                    <th>Student Evaluation</th>
                    <td>{{calc_data.student_a}}</td>
                    <td>{{calc_data.student_b}}</td>
                    <td>{{calc_data.student_c}}</td>
                    <td>{{calc_data.student_d}}</td>
                    <td>{{calc_data.student_ave}}</td>
                    <td><p>(E)*70%</p><br><strong>{{calc_data.student_calc}}</strong></td>
                    <td>{{calc_data.student_interpret}}</td>
                  </tr>
                  <tr>
                    <th>Self Evaluation</th>
                    <td>{{calc_data.self_a}}</td>
                    <td>{{calc_data.self_b}}</td>
                    <td>{{calc_data.self_c}}</td>
                    <td>{{calc_data.self_d}}</td>
                    <td>{{calc_data.self_ave}}</td>
                    <td><p>(E)*100%</p><br><strong>{{calc_data.self_calc}}</strong></td>
                    <td>{{calc_data.self_interpret}}</td>
                  </tr>
                </tbody>
              </table><!-- End Table with stripped rows -->
            </div>

            <div class="corner-div-container">
              <div id="__p__result_calculation__numerical_values_based_on_the_qualitative_responses__90___100__excellent_80___89__very_good_70___79__good_60___69__fair_0___59__poor_rating__the_rating_scale_will_be_defined_based_on_the_calculated_average_scores__4_5___5_0__excellent_3_5___4_49__very_good_2_5___3_49__good_1_5___2_49__fair_1_0___1_49__poor_percentage__the_average_score_will_be_converted_to_a_percentage_by_scaling_it_to_the_maximum_possible_score__ex__4_49___89_8_">
                <strong>Result Calculation:</strong><br />
                Numerical values based on the qualitative responses.<br />
                90 - 100: Excellent<br />
                80 - 89: Very Good<br />
                70 - 79: Good<br />
                60 - 69: Fair<br />
                0 - 59: Poor<br /><br />
        
                <strong>Rating:</strong><br />
                The rating scale will be defined based on the calculated average scores.<br />
                4.5 - 5.0: Very Outstanding<br />
                3.5 - 4.49: Outstanding<br />
                2.5 - 3.49: Satisfactory<br />
                1.5 - 2.49: Fair<br />
                1.0 - 1.49: Poor<br /><br />
        
                <strong>Percentage:</strong><br />
                The average score will be converted to a percentage by scaling it to the maximum possible score.<br />
                Ex.<br />
                4.49 = 89.8%
              </div>
            </div>
          </div>
        
          <br><br>
          
                    
                     
                    
              {% if item_id.school_year != None %}
          <h6>School Year & Semester: <strong>{{ item_id.school_year.strftime('%Y') }} {{item_id.semester}} Semester</strong></h6>
          <h6>Overall Rating (Supervisor Evaluation + Student Evaluation): <strong>{{calc_data.general_rating}}</strong></h6>
        <h6>Verbal Interpretation: <strong>{{calc_data.general_interpret}}</strong></h6>
        {% else %}
        <h6>School Year & Semester: <strong></strong></h6>
        <h6>Overall Rating (Supervisor Evaluation + Student Evaluation): <strong></strong></h6>
      <h6>Verbal Interpretation: <strong></strong></h6>   
          {% endif %}
        </div>
        
        
        

        <br><br><br><br><br><br>
        <style type="text/css">
          .corner-div-container {
            margin-left: 20px; /* Adjust the margin as needed */
          }
        
          .table-container {
            flex: 1;
          }
        
          .corner-div-container {
            width: 294.2px;
            height: 396.2px;
            overflow: hidden;
            font-family: 'Source Sans 3', sans-serif;
            font-size: 12px;
            text-align: left;
            color: #000000;
          }
        </style>
          <!-- aAnalytics -->
        <!-- <div class="d-flex flex-row my-sm-5">
            <div class="w-50">
                <h5 class="d-flex align-items-center justify-content-center fw-bolder">COMPARISON CHART ANALYSIS</h5>
                
                    <div id="barChart"></div>

                    <script>
                        document.addEventListener("DOMContentLoaded", () => {
                        new ApexCharts(document.querySelector("#barChart"), {
                            series: [{
                            data: [20, 40, 60, 80, 100]
                            }],
                            chart: {
                            type: 'bar',
                            height: 350
                            },
                            plotOptions: {
                            bar: {
                                borderRadius: 4,
                                horizontal: true,
                            }
                            },
                            dataLabels: {
                            enabled: false
                            },
                            xaxis: {
                            categories: ['BSIT 1-1', 'BSIT 1-2', 'BSIT 1-3', 'BSIT 1-4'
                            ],
                            }
                        }).render();
                        });
                    </script>
                   
            </div>
            <div class="w-50">
                <h5 class="d-flex align-items-center justify-content-center fw-bolder">OVERALL AVERAGE RATING</h5>
               
                <div id="donutChart"></div>

                <script>
                    document.addEventListener("DOMContentLoaded", () => {
                    new ApexCharts(document.querySelector("#donutChart"), {
                        series: [95, 5],
                        chart: {
                        height: 350,
                        type: 'donut',
                        toolbar: {
                            show: true
                        }
                        },
                        labels: ['Rating'],
                    }).render();
                    });
                </script>
               
                <h6 class="d-flex align-items-center justify-content-center text-wrap">Given an average rating of 95.5%, Jacob Ovalle is rated as "Excellent" in student feedback, reflecting outstanding performance with the students.</h6>
            </div>
          </div> --> 

      </div>

      {% endblock %}
      
    </section>

  </main><!-- End #main -->

 <script>
  $(document).ready(function() {
    // Function to initialize DataTable for a given table ID
    function initializeDataTable(tableId, buttonId, title, customExportColumns) {
      var dataTable = $(tableId).DataTable({
        dom: 'BP',
        responsive: true,
        columnDefs: [
          {
            searchPanes: {
              show: true
            },
            targets: [0]
          },
          {
            searchPanes: {
              show: false
            },
            targets: [2]
          }
        ],
        buttons: [
          {
            extend: 'print',
            class: 'buttons-print',
            title: title, // Set the title for each table
            messageBottom: null,
            exportOptions: {
              columns: customExportColumns
            },
            text: 'Print'
          }
        ]
      });

       // Initially hide the DataTables print button
      dataTable.buttons('.buttons-print').nodes().addClass('d-none');

      $('#' + buttonId).on('click', function() {
        // Trigger the DataTables print button click
        dataTable.buttons('.buttons-print').trigger();
      });
    }

    // Customize your export options for each table
    var exportColumnsTable1 = [ 0, 1, 2, 3, 4, 5 ];
    var exportColumnsTable2 = [ 0, 1, 2, 3, 4 ];
    var exportColumnsTable3 = [ 0, 1, 2, 3, 4 ];

    // Initialize DataTables for each table
    initializeDataTable('#table1', 'btnPrintDetail1', 'Advising Classes', exportColumnsTable1);
    initializeDataTable('#table2', 'btnPrintDetail2', 'Advising Students', exportColumnsTable2);
    initializeDataTable('#table3', 'btnPrintDetail3', 'Mentoring', exportColumnsTable3);
  });
  
</script>


{% endblock %}

      