@media only screen and (max-width:800px) {
  /* For tablets: */
  .main {
    width: 80%;
    padding: 0;
  }
  .right {
    width: 100%;
  }
}
@media only screen and (max-width:500px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width: 100%;
  }
}

.welcome-page,
.welcome-page * {
  box-sizing: border-box;
}

.rectangle-5 {
  width: 80%;
  height: 100%;
}
.rectangle-3 {
  width: 100%;
}
.rectangle-1 {
  background: #800000;
  width: 100%;
  height: 80px;
  position: absolute;
  bottom: 0px;
  z-index: 10;
}
.footer-dts {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
}

.image-1 {
  width: 67px;
  height: 67px;
  position: absolute;
  left: 27px;
 
}
.image-2 {
  width: 135px;
  height: 135px;
  position: absolute;
  top: 20px;
  right: 183px;

}
.telephone-632-8952-7818-632-8287-8204 {
  color: #ffffff;
  text-align: left;
  font: 400 12px "Inter", sans-serif;
  position: absolute;
  left: 619px;
  width: 272px;
  height: 19px;

}
.quezoncity-pup-edu-ph-postal-mail {
  color: #ffffff;
  text-align: left;
  font: 400 12px "Inter", sans-serif;
  position: absolute;
  left: 920px;
  width: 272px;
  height: 19px;

}
.pup-quezon-city-branch-don-fabian-st-commonwealth-quezon-city-philippines {
  color: #ffffff;
  text-align: left;
  font: 400 12px "Inter", sans-serif;
  position: absolute;
  left: 125px;
  width: 463px;
  height: 19px;

}
.faculty-information-system {
  color: #000000;
  text-align: center;
  font: 700 36px "Inter", sans-serif;
  position: absolute;
  right: 35px;
  top: 180px;
  width: 436px;
  height: 89px;
}
.login-as {
  color: #000000;
  text-align: center;
  font: 400 25px "Inter", sans-serif;
  position: absolute;
  right: 200px;
  top: 300px;
}
.rectangle-9 {
  background: #091c80;
  color: #000000;
  text-align: center;
  font: 400 25px "Inter", sans-serif;
  color: white;
  width: 360px;
  height: 49px;
  position: absolute;
  right: 80px;
  top: 464px;
}
.faculty {
  color: #ffffff;
  text-align: center;
  font: 600 25px "Inter", sans-serif;
  position: absolute;
  left: 1046px;
  top: 474px;
  width: 172px;
  height: 30px;
}
.rectangle-10 {
  background: #091c80;
  color: white;
  width: 360px;
  height: 49px;
  position: absolute;
  right: 80px;
  top: 561px;
}
.admin {
  color: #ffffff;
  text-align: center;
  font: 600 25px "Inter", sans-serif;
  position: absolute;
  left: 1046px;
  top: 571px;
  width: 172px;
  height: 30px;
}
