{% extends "base.html" %} {% block title %}Faculty Home Page{% endblock %} {% block content%}
<body>
       {# DISPLAY WELCOME NOTIFICATION #} 

       {% with messages = get_flashed_messages(with_categories=true) %}
       {% if messages %}
         {% for category, message in messages%}
           {% if category == 'success' %}
           <div class="alert alert-success alter-dismissable fade show" role="alert" style="z-index:1000;">
           {{ message }}
           <button type="button" class="close" data-dismiss="alert">
             <span aria-hidden="true">&times;</span>
           </button>
         </div>
             {% endif %}
           {% endfor %}
         {% endif %}
       {% endwith %}

    <nav class="navbar">
        <div class="left-label">
            <i class="fa-solid fa-bars"></i>
            <h5>FACULTY INFORMATION SYSTEM</h5>
        </div>
      </nav>
      <img class="rectangle-16" src="{{ url_for('static', filename='images/Faculty-Home-Page/rectangle-16.png')}}" />
      <center>
      <div class="home">HOME</div>
      <div class="news-feed">NEWS FEED</div>
      <div class="announcement">ANNOUNCEMENT</div>
      <div class="faculty-members">FACULTY MEMBERS</div>
      <div class="latest-announcement-news-feed-faculty-members">
        Latest Announcement, News Feed &amp; Faculty Members
      </div>
      <img class="rectangle-17" src="{{ url_for('static', filename='images/Faculty-Home-Page/rectangle-17.png')}}" />
      <img class="rectangle-18" src="{{ url_for('static', filename='images/Faculty-Home-Page/rectangle-18.png')}}">
      <img class="rectangle-19" src="{{ url_for('static', filename='images/Faculty-Home-Page/rectangle-19.png')}}">
      <img class="rectangle-20" src="{{ url_for('static', filename='images/Faculty-Home-Page/rectangle-20.png')}}">
    </center>
     <!-- Side Bar -->
    <div class="sidebar">
        <img class="logo" src="{{ url_for('static', filename='images/Faculty-Home-Page/PUP LOGO.png')}}">
        <div class="text">
        <a href="#home">Home</a>
        <a href="#faculty-profile">Faculty Information</a>
        <a href="#research-publication">Research/Publication</a>
        <a href="#announcement">Announcement</a>
        <a href="#request">Request</a>
        <a href="#analytics">Analytics</a>
        <a href="/logout">Logout</a>
        </div>
    </div>

     <!-- Footer -->
  <section class="footer"> 
    <div class="pup-logo"><img src="{{url_for('static', filename='images/Default-Images/pupqc-logo-footer.png')}}"></div>
    <div class="footer-txt">
        <h5 class="address"> PUP Quezon City Branch Don Fabian St., Commonwealth Quezon City Philippines </h5>
        <h5 class="telephone"> Telephone (632) 8952-7818 (632) 8287-8204 </h5>
        <h5 class="email"> quezoncity@pup.edu.ph Postal Mail </h5>
    </div>
</section>
  </body>

  {% endblock %}