{% extends "base.html" %} {% block title %}Faculty Home Page{% endblock %} {% block content%}
<body>
       {# DISPLAY WELCOME NOTIFICATION #} 

       {% with messages = get_flashed_messages(with_categories=true) %}
       {% if messages %}
         {% for category, message in messages%}
           {% if category == 'success' %}
           <div class="alert alert-success alter-dismissable fade show" role="alert" style="z-index:1;">
           {{ message }}
           <button type="button" class="close" data-dismiss="alert">
             <span aria-hidden="true">&times;</span>
           </button>
         </div>
             {% endif %}
           {% endfor %}
         {% endif %}
       {% endwith %}

    <nav class="navbar">
        <div class="left-label">
            <i class="fa-solid fa-bars"></i>
            <h5>FACULTY INFORMATION SYSTEM</h5>
        </div>
        
      </nav>

    <div class="sidebar">
        <img class="logo" src="{{ url_for('static', filename='images/Faculty-Home-Page/PUP LOGO.png')}}">
        <div class="text">
        <a href="#home">Home</a>
        <a href="#faculty-profile">Faculty Profile</a>
        <a href="#research-publication">Research/Publication</a>
        <a href="#announcement">Announcement</a>
        <a href="#request">Request</a>
        <a href="#analytics">Analytics</a>
        <a href="/logout">Logout</a>
        </div>
    </div>
  </body>

  {% endblock %}