<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Faculty-Home-Page/home.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous"
  />
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    crossorigin="anonymous"
  />
  <title>{% block title %} Faculty Home Page {% endblock %}</title>
  <link rel = "icon" href = "{{url_for('static', filename='images/Default-Images/pupicon.png')}}" 
          type = "image/x-icon">
</head>
<body>
       {# DISPLAY WELCOME NOTIFICATION #} 

       {% with messages = get_flashed_messages(with_categories=true) %}
       {% if messages %}
         {% for category, message in messages%}
           {% if category == 'success' %}
           <div class="alert alert-success alter-dismissable fade show" role="alert" style="z-index:1;">
           {{ message }}
           <button type="button" class="close" data-dismiss="alert">
             <span aria-hidden="true">&times;</span>
           </button>
         </div>
             {% endif %}
           {% endfor %}
         {% endif %}
       {% endwith %}

    <nav class="navbar">
        <div class="left-label">
            <i class="fa-solid fa-bars"></i>
            <h5>FACULTY INFORMATION SYSTEM</h5>
        </div>
        
      </nav>

    <div class="sidebar">
        <img class="logo" src="{{ url_for('static', filename='images/Faculty-Home-Page/PUP LOGO.png')}}">
        <div class="text">
        <a href="#home">Home</a>
        <a href="#faculty-profile">Faculty Profile</a>
        <a href="#research-publication">Research/Publication</a>
        <a href="#announcement">Announcement</a>
        <a href="#request">Request</a>
        <a href="#analytics">Analytics</a>
        </div>
    </div>

      {# JAVASCRIPTS  #} 

      <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

</body>
</html>