{% extends "/Admin-Home-Page/base.html" %}{% block title %}View {{faculty_data.FirstName}} {{faculty_data.LastName}}{% endblock %} {% block content%}
<main id="main" class="main">

<section class="section profile">
  <div class="row">
      <div class="col-lg-4">
        <div class="card">
          <div class="card-body pt-3">
            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
              <img src="https://lh3.googleusercontent.com/d/{{faculty_data.ProfilePic}}" alt="Profile" class="rounded-circle" style="width:250px;height:120px">
           
            <h2>{{faculty_data.FirstName}} {{faculty_data.MiddleInitial}} {{faculty_data.LastName}}</h2>
            <h3>{{faculty_data.Rank}}</h3>
      
          </div>
            <!-- Bordered Tabs -->
            <div class="tab-content pt-3">

              <div class="tab-pane fade show active profile-overview" id="profile-overview" role="tabpanel">
                <h5 class="card-title">Basic Information</h5>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label ">Full Name</div>
                  <div class="col-lg-9 col-md-8">{{faculty_data.FirstName}} {{faculty_data.MiddleInitial}} {{faculty_data.LastName}}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Employee ID</div>
                  <div class="col-lg-9 col-md-8">{{faculty_data.FacultyId}}</div>
                </div>

                <div class="row">
                    <div class="col-lg-3 col-md-4 label">Email</div>
                    <div class="col-lg-9 col-md-8">{{faculty_data.Email}}</div>
                  </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Faculty Type</div>
                  <div class="col-lg-9 col-md-8">{{faculty_data.FacultyType}}</div>
                </div>

                <div class="row">
                    <div class="col-lg-3 col-md-4 label">Faculty Code</div>
                    <div class="col-lg-9 col-md-8">{{faculty_data.FacultyCode}}</div>
                </div>

                <div class="row">
                    <div class="col-lg-3 col-md-4 label">Age</div>
                    <div class="col-lg-9 col-md-8">{{faculty_data.Age}}</div>
                  </div>

                <div class="row">
                    <div class="col-lg-3 col-md-4 label">Birth Date</div>
                    <div class="col-lg-9 col-md-8">{{BirthDate}}</div>
                  </div>
  
                  <div class="row">
                      <div class="col-lg-3 col-md-4 label">Date Hired</div>
                      <div class="col-lg-9 col-md-8">{{date_hired}}</div>
                  </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Rank</div>
                  <div class="col-lg-9 col-md-8">{{faculty_data.Rank}}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Units</div>
                  <div class="col-lg-9 col-md-8">{{faculty_data.Units}}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Degree</div>
                  <div class="col-lg-9 col-md-8">{{faculty_data.Degree}}</div>
                </div>

              </div>

            </div><!-- End Bordered Tabs -->

          </div>
        </div>

      </div>
    
      <!-- FACULTY MODULE SELECTION MENU Tabs -->
   <div class="col-lg-8">
    <div class="row">
      <div class="section dashboard col-xxl-4 col-md-4">
        <div class="card info-card sales-card">

          <a href="/faculty-member/{{ faculty_data.FacultyId }}/personal-data" class="card-body">
            <h5 class="card-title">Personal Data</h5>

            <div class="d-flex align-items-center">
              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                <i class="bi bi-card-list"></i>
              </div>
              <div class="ps-3">
                <span class="text-success small pt-1 fw-bold">Faculty Personal Data Informations</span>

              </div>
            </div>
          </a>

        </div>
      </div>

      <div class="section dashboard col-xxl-4 col-md-4">
        <div class="card info-card sales-card">

          <a href="/faculty-member/{{ faculty_data.FacultyId }}/teaching-instructions" class="card-body">
            <h5 class="card-title">Teaching Instructions</h5>

            <div class="d-flex align-items-center">
              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                <i class="bi bi-file-post"></i>
              </div>
              <div class="ps-3">
                <span class="text-success small pt-1 fw-bold">Teaching Instructions, Mentoring, Curriculum, etc...</span>

              </div>
            </div>
          </a>

        </div>
      </div>

      <div class="section dashboard col-xxl-4 col-md-4">
        <div class="card info-card sales-card">

          <a href="/faculty-member/{{ faculty_data.FacultyId }}/schedules" class="card-body">
            <h5 class="card-title">Schedules</h5>

            <div class="d-flex align-items-center">
              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                <i class="bi bi-clock-history"></i>
              </div>
              <div class="ps-3">
                <span class="text-success small pt-1 fw-bold">Schedules, Programs, Activities, Events</span>

              </div>
            </div>
          </a>

        </div>
      </div>

      <div class="section dashboard col-xxl-4 col-md-4">
        <div class="card info-card sales-card">

          <a href="/faculty-member/{{ faculty_data.FacultyId }}/roles" class="card-body">
            <h5 class="card-title">Roles</h5>

            <div class="d-flex align-items-center">
              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                <i class="bi bi-person-lines-fill"></i>
              </div>
              <div class="ps-3">
                <span class="text-success small pt-1 fw-bold">Committee and Administrative Roles</span>

              </div>
            </div>
          </a>

        </div>
      </div>

      <div class="section dashboard col-xxl-4 col-md-4">
        <div class="card info-card sales-card">

          <a href="/faculty-member/{{ faculty_data.FacultyId }}/attendance" class="card-body">
            <h5 class="card-title">Attendance</h5>

            <div class="d-flex align-items-center">
              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                <i class="bi bi-clipboard-check"></i>
              </div>
              <div class="ps-3">
                <span class="text-success small pt-1 fw-bold">Faculty Attendance</span>

              </div>
            </div>
          </a>

        </div>
      </div>

      <div class="section dashboard col-xxl-4 col-md-4">
        <div class="card info-card sales-card">

          <a href="/faculty-member/{{ faculty_data.FacultyId }}/research-publications" class="card-body">
            <h5 class="card-title">Research and Publications</h5>

            <div class="d-flex align-items-center">
              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                <i class="bi bi-folder-plus"></i>
              </div>
              <div class="ps-3">
                <span class="text-success small pt-1 fw-bold">Dissertation, Thesis, Master Thesis, Publications, etc...</span>

              </div>
            </div>
          </a>

        </div>
      </div>

      <div class="section dashboard col-xxl-4 col-md-4">
        <div class="card info-card sales-card">

          <a href="/faculty-member/{{ faculty_data.FacultyId }}/awards-recognition" class="card-body">
            <h5 class="card-title">Awards and Recognition</h5>

            <div class="d-flex align-items-center">
              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                <i class="bi bi-award"></i>
              </div>
              <div class="ps-3">
                <span class="text-success small pt-1 fw-bold">Faculty Awards and Recognitions</span>

              </div>
            </div>
          </a>

        </div>
      </div>

      <div class="section dashboard col-xxl-4 col-md-4">
        <div class="card info-card sales-card">

          <a href="/faculty-member/{{ faculty_data.FacultyId }}/professional-development" class="card-body">
            <h5 class="card-title">Professional Development</h5>

            <div class="d-flex align-items-center">
              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                <i class="bi bi-shield-plus"></i>
              </div>
              <div class="ps-3">
                <span class="text-success small pt-1 fw-bold">Workshops, Enhancements, Self-Assessment, Trainings</span>

              </div>
            </div>
          </a>

        </div>
      </div>

      <div class="section dashboard col-xxl-4 col-md-4">
        <div class="card info-card sales-card">

          <a href="/faculty-member/{{ faculty_data.FacultyId }}/mandatory-requirements" class="card-body">
            <h5 class="card-title">Mandatory Requirements</h5>

            <div class="d-flex align-items-center">
              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                <i class="bi bi-calendar-week"></i>
              </div>
              <div class="ps-3">
                <span class="text-success small pt-1 fw-bold">Faculty Mandatory Requirements</span>

              </div>
            </div>
          </a>

        </div>
      </div>

      <div class="section dashboard col-xxl-4 col-md-4">
        <div class="card info-card sales-card">

          <a href="/faculty-member/{{ faculty_data.FacultyId }}/services" class="card-body">
            <h5 class="card-title">Services</h5>

            <div class="d-flex align-items-center">
              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                <i class="bi bi-wrench"></i>
              </div>
              <div class="ps-3">
                <span class="text-success small pt-1 fw-bold">Extension Services, Internal Services, External Services</span>

              </div>
            </div>
          </a>

        </div>
      </div>

      <div class="section dashboard col-xxl-4 col-md-4">
        <div class="card info-card sales-card">

          <a href="/faculty-member/{{ faculty_data.FacultyId }}/medical-record" class="card-body">
            <h5 class="card-title">Medical Record</h5>

            <div class="d-flex align-items-center">
              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                <i class="bi bi-file-medical"></i>
              </div>
              <div class="ps-3">
                <span class="text-success small pt-1 fw-bold">Faculty Medical Record</span>

              </div>
            </div>
          </a>

        </div>
      </div>

      <div class="section dashboard col-xxl-4 col-md-4">
        <div class="card info-card sales-card">

          <a href="/faculty-member/{{ faculty_data.FacultyId }}/absence-leave" class="card-body">
            <h5 class="card-title">Leave of Absence</h5>

            <div class="d-flex align-items-center">
              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                <i class="bi bi-calendar-minus"></i>
              </div>
              <div class="ps-3">
                <span class="text-success small pt-1 fw-bold">Faculty Leave of Absences</span>

              </div>
            </div>
          </a>

        </div>
      </div>
  
    </div>
      
  </div>
  </div>

  </section>
</main><!-- End #main -->

{% endblock %}
