<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Faculty-Login-Page/style.css')}}">
    <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous"
  />
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    crossorigin="anonymous"
  />


    <style>
      a,
      button,
      input,
      select,
      h1,
      h2,
      h3,
      h4,
      h5,
      * {
        margin: 0;
        padding: 0;
        border: none;
        text-decoration: none;
        appearance: none;
        background: none;
      }
    </style>
    <title>Document</title>
  </head>
  <body>
    <div class="faculty-login-page">
      <div class="rectangle-1"></div>
      <div class="rectangle-3"></div>
      <img class="rectangle-5" src="{{ url_for('static', filename='images/Faculty-Login-Page/rectangle-5.png')}}" />
      <img class="image-1" src="{{ url_for('static', filename='images/Faculty-Login-Page/image-1.png')}}"/>
      <img class="image-2" src="{{ url_for('static', filename='images/Faculty-Login-Page/image-2.png')}}"/>
      <div class="telephone-632-8952-7818-632-8287-8204">
        Telephone (632) 8952-7818 (632) 8287-8204
      </div>
      <div class="quezoncity-pup-edu-ph-postal-mail">
        quezoncity@pup.edu.ph Postal Mail
      </div>
      <div
        class="pup-quezon-city-branch-don-fabian-st-commonwealth-quezon-city-philippines"
      >
        PUP Quezon City Branch Don Fabian St., Commonwealth Quezon City
        Philippines
      </div>
      <div class="faculty-login">FACULTY LOGIN</div>
      <div class="username">Username:</div>
      <div class="sign-in-to-start-your-session">
        Sign In to start your session:
      </div>
      <button class="i-forgot-my-password">I forgot my password</button>
      <div class="password">Password:</div>
      <input type="email" class="rectangle-6"></input>
      <input type="password" class="rectangle-7"></input>
      <button class="rectangle-8"></button>
      <button class="sign-in">Sign In</button>
    </div>
  </body>
</html>
