{% extends "base.html" %}{% block title %}Faculty Reset Password{% endblock %} {% block content%}

<body>
  
{# RESET PASS MODAL #}  

<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


<!------ Include the above in your HEAD tag ---------->

<div class="container">
<div class="row">
<div class="col-sm-12">
<br>
<br>
    <h1 class="text-center">Faculty Change Password</h1>
    </div>
    </div>
    <br>
    <br>
    <div class="row" >
    <div class="col-sm-6 col-sm-offset-3">
    <p class="text-center">Use the form below to change your password. Your password cannot be the same as your username.</p>
    <br>
    <form method="POST" id="passwordForm">
    <h4>Enter New Password</h4>
    <input type="password" class="input-lg form-control" name="password1" id="password1" placeholder="New Password" autocomplete="off" data-validate="Password is required" required>
    <div class="row">
    <div class="col-sm-6">
    <span id="8char" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> 8 Characters Long<br>
    <span id="ucase" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> One Uppercase Letter
    </div>
    <div class="col-sm-6">
    <span id="lcase" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> One Lowercase Letter<br>
    <span id="num" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> One Number
    </div>
    </div>
    <br>
    <input type="password" class="input-lg form-control" name="password2" id="password2" placeholder="Repeat Password" autocomplete="off" data-validate="Password is required" required>
    <div class="row">
    <div class="col-sm-12">
    <span id="pwmatch" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> Passwords Match
    </div>
    </div>
    <br>
    <br>
    <input id="changepass" type="submit" class="col-xs-12 btn btn-primary bg-danger btn-load btn-lg" data-loading-text="Changing Password..." value="Change Password">
    </form>
</div><!--/col-sm-6-->
</div><!--/row-->
</div>

<script src="{{url_for('static', filename='javascript/resetpass.js')}}"></script>

  </body>

  {% endblock %}